<p class="go-to-gothamist-banner__headline">
  NYC and Everything That Happens In It
</p>

<p class="go-to-gothamist-banner__subhead">
  Since 2003, Gothamist has had local news, guides to New York life and an eye for the idiosyncratic.
</p>

<p class="go-to-gothamist-banner__link">
  <a href="http://gothamist.com/" target="_blank">Go to Gothamist.com</a>
</p>