<div id="discover_loading_message" class='discover-loading l-flexgrid'>
  <div class="l-flexcol--center aligncenter">
    <h2 class="h2 text--white">
      Finding you some gems…
    </h2>
  </div>
</div>

{{outlet}}
