<div class="centennial-sponsors centennial-module">
  <div>
    <h2>A Thank You To Our Sponsors</h2>
  </div>
  <div>
    <div class="centennial-sponsors__sponsor">
      <img src="https://via.placeholder.com/112" alt="Sponsor Logo">
      <span>Sponsor Name</span>
    </div>
    <div class="centennial-sponsors__sponsor">
      <img src="https://via.placeholder.com/112" alt="Sponsor Logo">
      <span>Sponsor Name</span>
    </div>
    <div class="centennial-sponsors__sponsor">
      <img src="https://via.placeholder.com/112" alt="Sponsor Logo">
      <span>Sponsor Name</span>
    </div>    
  </div>
</div>