<div class="centennial-timeline centennial-module l-constrained">
  <div>
    <h2>Explore 100 Years of WNYC</h2>

  </div>
  <div class="centennial-timeline__wrapper">
    <a class="btn btn--black btn--heavy" href="/timeline">View Timeline</a>
  </div>
</div>