<div class="l-modal-body" {{action 'closeModal'}}>
  <div class="text aligncenter text--white">
    <h2 class="h1">We just lauched from new features</h2>
    <div class="text text--white text--medium" data-test-selector="beta-exit">
      {{{beta.exit_message}}}
    </div>
    <button data-test-selector="beta-exit-button" class="btn thickbtn btn--large btn--white btn--smalltext btn--strongtext" {{action 'closeModal'}}>Start Using the Site!</button>
  </div>
</div>
