{{! TODO: refactor out legacy JS dependency. see js/wqxr-web-client/story/dropdown.js }}
<button class="btn js-dropdownClickable">Subscribe to the podcast ▾</button>
<div class="dropdown-body">
  <div class="panel">
    {{#each items as |item|}}
      <a class="panel-link text--medium link--dark" href={{item.href}} target="_blank">
        {{podcast-icons item}}
      </a>
    {{/each}}
  </div>
  <!-- .panel -->
</div>
<!-- .dropdown-body -->
