{{!-- Our component manually inserts server-generated DOM into this element --}}
<div class="django-content"></div>

{{#if showingOverlay}}
  {{yield}}
  {{#each page.embeddedEmberComponents as |ec|}}
    {{#ember-wormhole to=ec.id replaceDestination=true}}
      {{component
        ec.componentName
        classNames=ec.componentName
        embeddedAttrs=ec.args}}
    {{/ember-wormhole}}
  {{/each}}
{{else}}
  {{loading-templates type=loadingType}}
{{/if}}
