<div class='player-notification'>
  <p class='notification-message'>
    {{yield}}
  </p>
  <div class='notification-action'>
    <div class='dismiss-notification close-icon' {{action 'dismiss'}}>
      {{wnyc-svg icon='close'}}
    </div>
  </div>
</div>
