
<div class='player-notification'>
  {{#if elapsed}}
    <p>
      Your episode is over. In {{secondsRemaining}} seconds, we'll tune you to WNYC FM.
      <span {{action 'oncancel'}}>Cancel</span> /
    </p>
  {{else}}
    <p>
      We tuned you to WNYC FM after your episode ended. ||Settings Link||.
    </p>
  {{/if}}
  {{yield}}
</div>
