.account-togglelogin {
  position: relative;
  top: 31px;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  display: block;
  font-size: 14px;
  color: $lightgray;
  text-align: right;

  @include mq($small-only) {
    max-width: 460px;
  }

  > span {
    display: none;
    @include mq($large-and-up) {
      display: inline;
    }
  }
}

.account-promo {
  width: 0;
  height: 0;
  min-height: auto;
  &-blurb {
    display: none;
  }
}

@include mq($medium-and-up, $h-medium) {
  .login {
    .account-promo {
      min-height: 630px;
    }
  }

  .signup {
    .account-promo {
      min-height: 860px;
    }
  }
}

@include mq($medium-and-up, $h-medium-and-up) {
  .login {
    .account-form {
      height: 560px;
    }

    .account-promo {
      min-height: 750px;
    }
  }

  .signup {
    .account-form {
      height: 825px;
    }

    .account-promo {
      min-height: 950px;
    }
  }
}

@include mq($small-only) {
  .account .promo {
    min-height: auto;
  }
}

@include mq($medium-and-up) {
  .account-screen {
    @include flexbox ((
      display: flex,
      flex-direction: row
    ));
  }

  .account-promo {
    width: 55%;
    height: 100vh;
    @include responsive-background-image('/assets/img/backgrounds/aram-photo.jpg', '/assets/img/backgrounds/aram-photo@2x.jpg');
    background-color: $gray;
    background-repeat: no-repeat;
    background-position: -5px center;
    background-size: 100%;
    background-size: cover;
    transition: width .45s;

    &-blurb {
      position: absolute;
      display: block;
      bottom: 35px;
      right: 0;
      width: 560px;
      color: white;
      background: $wqxrblue;
      padding: 25px;
      margin-bottom: 30px;

      @include mq($medium-only) {
        width: 320px;
      }
    }
    &-quote {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 10px;

      @include mq($medium-only) {
        font-size: 16px;
        line-height: 26px;
      }
    }
    &-name {
      font-size: 14px;
      text-transform: uppercase;
    }
    &-profession {
      font-weight: 300;
      opacity: 0.9;
      font-style: italic;
    }
    &-heading {
      font-size: 12px;
      font-weight: 700;
      line-height: 1.9;
      letter-spacing: 1.7px;
      margin-bottom: 16px;
    }
    &-text {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.7;
    }
  }
}

.account-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zIndex-1;
  // align logo with form
  @include mq("(min-width: 460px) and (max-width: #{$medium - 1}px)") {
    left: calc(50% - 230px);
  }
  svg {
    height: 30px;
    width: 142px;
  }
  > a {
    display: block;
    padding: 27px 30px;
    border: 1px solid transparent;
  }
  > a:focus {
    border: 1px dotted rgba(black, 0.2);
  }
}

.account-header {
  @include flexbox((
    display: flex,
    align-items: center
  ));

  @include fontsize(32);
  font-weight: 400;
}

.account-avatar {
  background: $lightestgray;
  border-radius: 50%;
  margin-right: 25px;
  height: 120px;
  width: 120px;

  @include flexbox((
    display: flex,
    align-items: center,
    justify-content: center
  ));

  > svg {
    fill: white;
    width: 62px;
  }
}

.account-footer {
  @include flexbox((
    display: flex,
    flex-direction: column,
    align-items: center
  ));
  @include fontsize(12);
  color: $lightgray;
  padding-bottom: 40px;

  .account-footer-links {
    @include flexbox((
      display: flex,
      justify-content: space-around
    ));
    width: 150px;
    margin-bottom: 8px;

    >  a {
      color: $lightgray;
      border-bottom: 1px solid rgba($lightgray, 0.3);

      &:hover,
      &:focus {
        border-color: $blue;
        color: $blue;
      }
    }
  }
}

.account-main {
  @include flexbox((
    display: flex,
    flex-direction: column,
    justify-content: flex-start
  ));

  @include mq($medium-and-up) {
    width: 45%;

    @include flexbox((
      justify-content: space-between
    ));
    height: 100vh;
  }

  @include mq($h-medium) {
    height: initial;

    @include flexbox((
      justify-content: flex-start
    ));
  }
}

@include mq($medium-and-up) {
  .account-screen--player-open {
    .account-main,
    .account-promo {
      height: calc(100vh - 80px);
    }
    .account-promo-blurb {
      bottom: 115px;
    }
  }
}
