.account-togglelogin {
  position: relative;
  top: 35px;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  display: block;
  font-size: 14px;
  color: $lightgray;
  text-align: right;

  @include mq($small-only) {
    max-width: 460px;
  }

  > span {
    display: none;
    @include mq($medium-and-up) {
      display: inline;
    }
  }
}

.account-promo {
  width: 0;
  height: 0;
  min-height: auto;
  &-blurb {
    display: none;
  }
}

@include mq($medium-and-up, $h-medium) {
  .login {
    .account-promo {
      min-height: 630px;
    }
  }

  .signup {
    .account-promo {
      min-height: 860px;
    }
  }
}

@include mq($medium-and-up, $h-medium-and-up) {
  .login {
    .account-form {
      height: 470px;
    }

    .account-promo {
      min-height: 750px;
    }
  }

  .signup {
    .account-form {
      height: 770px;
    }

    .account-promo {
      min-height: 950px;
    }
  }
}

@include mq($small-only) {
  .account .promo {
    min-height: auto;
  }
}

@include mq($medium-and-up) {
  .account-screen {
    @include flexbox ((
      display: flex,
      flex-direction: row
    ));
  }

  .account-promo {
    width: 55%;
    height: 100vh;
    @include responsive-background-image('/assets/img/backgrounds/marisa_bg@1x.jpg', '/assets/img/backgrounds/marisa_bg@2x.jpg');
    background-color: $gray;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 100%;
    background-size: cover;
    transition: width .45s;

    &-blurb {
      position: absolute;
      display: block;
      bottom: 35px;
      right: 0;
      width: 560px;
      color: white;
      background: $red;
      padding: 25px;
      margin-bottom: 30px;

      @include mq($medium-only) {
        width: 320px;
      }
    }
    &-quote {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 10px;

      @include mq($medium-only) {
        font-size: 16px;
        line-height: 26px;
      }
    }
    &-name {
      font-size: 14px;
      text-transform: uppercase;
    }
    &-profession {
      font-weight: 300;
      opacity: 0.9;
      font-style: italic;
    }
    &-heading {
      font-size: 12px;
      font-weight: 700;
      line-height: 1.9;
      letter-spacing: 1.7px;
      margin-bottom: 16px;
    }
    &-text {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.7;
    }
  }
}

.account-logo {
  position: absolute;
  top: 0;
  left: 0;
  // align logo with form
  @include mq("(min-width: 460px) and (max-width: #{$medium - 1}px)") {
    left: calc(50% - 230px);
  }
  svg {
    height: 33px;
    width: 79px;
  }
  svg path {
    fill: $red;
  }
  > a {
    display: block;
    padding: 27px 30px;
    border: 1px solid transparent;
  }
  > a:focus {
    border: 1px dotted rgba(black, 0.2);
  }
}

.account-form {
  max-width: 460px;
  margin: 0 auto 75px;
  padding: 100px 30px 0 30px;
  @include flexbox((
    display: flex,
    flex-direction: column,
    justify-content: center
  ));

  &-heading {
    padding: 0;
    color: #333333;
    font-weight: 400;
    font-size: 24px;
    margin: 0 0 20px 0;
    @include mq($medium-and-up) {
      width: 400px;
      font-size: 32px;
      margin: 0 0 25px 0;
    }
  }
  &-description {
    margin: 0 0 28px 0;
  }
  &-link {
    font-size: 14px;
  }
  &-btn {
    margin-bottom: 15px;
    > .fa {
      margin-right: 6px;
      font-size: 24px;
      vertical-align: text-bottom;
    }
  }
  &-separator {
    font-size: 16px;
    margin-bottom: 15px;
    overflow: hidden;
    text-align: center;
    color: $lightgray;
  }
  &-separator:before,
  &-separator:after {
    background-color: $lightestgray;
    content: "";
    display: inline-block;
    height: 0.5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  &-separator:before {
      right: 0.5em;
      margin-left: -50%;
  }
  &-separator:after {
      left: 0.5em;
      margin-right: -50%;
  }
  &-notice {
    font-size: 12px;
    line-height: 1.7;
    text-align: center;
    color: $lightgray;
    margin-bottom: 23px;

    a {
      @include link--gray;
    }
  }

  @include mq($middle-narrow-and-up) {
    &-row {
      @include flexbox((
        display: flex,
        justify-content: space-between
      ));

      .account-form-col2 {
        width: 48%;
      }
    }
  }
}

.account-header {
  @include flexbox((
    display: flex,
    align-items: center
  ));

  @include fontsize(32);
  font-weight: 400;
}

.account-avatar {
  background: $lightestgray;
  border-radius: 50%;
  margin-right: 25px;
  height: 120px;
  width: 120px;

  @include flexbox((
    display: flex,
    align-items: center,
    justify-content: center
  ));

  > svg {
    fill: white;
    width: 62px;
  }
}

.account-footer {
  @include flexbox((
    display: flex,
    flex-direction: column,
    align-items: center
  ));
  @include fontsize(12);
  color: $lightgray;
  padding-bottom: 40px;

  .account-footer-links {
    @include flexbox((
      display: flex,
      justify-content: space-around
    ));
    width: 150px;
    margin-bottom: 8px;

    >  a {
      @include link--gray;
    }
  }
}

.account-main {
  @include flexbox((
    display: flex,
    flex-direction: column,
    justify-content: flex-start
  ));

  @include mq($medium-and-up) {
    width: 45%;

    @include flexbox((
      justify-content: space-between
    ));
    height: 100vh;
  }

  @include mq($h-medium) {
    height: initial;

    @include flexbox((
      justify-content: flex-start
    ));
  }
}
