#rightRail {
  @media only screen and (max-width: 800px) {
    text-align: center;
  }
}

img[src*=googleads],
iframe[name=google_conversion_frame] {
  display: none !important;
}

.super-pixel {
  display: none;
}
