.right-rail {
  @media only screen and (max-width: 800px) {
    text-align: center;
  }
}

img[src*=googleads],
iframe[name=google_conversion_frame] {
  display: none !important;
}

.super-pixel {
  display: none;
}

.leaderboard {
  overflow-y: hidden;
  max-height: 90px;
  margin-bottom: 1.5rem;
  
  &.is-collapsed {
    max-height: 0;
    margin-bottom: 0;
  }
}
