.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 2000;
  background: white;

  &:after {
    content: '';
    width: 30px;
    height: 30px;
    border: 6px solid rgba(239,239,239,1);
    border-radius: 50%;
    border-left-color: rgba(176,176,175,1);
    border-top-color: rgba(176,176,176,1);

    text-align: center;
    animation: bigSpin 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
    transform-origin: 50% 50%; 
  }

  &:before {
    content: '';
    width: 15px;
    height: 15px;
    border: 6px solid rgba(239,239,239,1);
    border-radius: 50%;
    border-left-color: rgba(176,176,175,1);
    border-top-color: rgba(176,176,176,1);

    animation: bigSpin .8s linear infinite;
    animation-origin: 50% 50%;
  }

  &:after,
  &:before {
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
  }
}

@keyframes bigSpin {
  0% {
  }
  100% { 
    transform: rotate(360deg);
  }
}

.thin-line,
.loading-gradient {
  position: relative;
  overflow: hidden;
}

.thin-line:before,
.loading-gradient:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  animation: slide 1.5s ease;
  animation-iteration-count: infinite;
  @include background-image(linear-gradient(to right, #f2f2f2, #e0e0e0, #e0e0e0 80%, #f2f2f2));
}

.bg-gray2.loading-gradient:before {
  @include background-image(linear-gradient(to right, #e0e0e0, #e9e9e9, #e9e9e9 80%, #e0e0e0));
}

.bg-gray3.loading-gradient:before {
  @include background-image(linear-gradient(to right, #fafafa, #eeeeee, #eeeeee 80%, #fafafa));
}

.bg-gray4.loading-gradient:before {
  @include background-image(linear-gradient(to right, #eee, #e0e0e0, #e0e0e0 80%, #eee));
}

@include keyframes(slide) {
  0% { 
    transform: translateX(-25%);
    opacity: 0;
  }
  25% { 
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
