body:not(.ember-application):not([data-testing]):not(.simplified_wrapper):not(.container_stripped),
.loading-page {
  width: 100%;
  min-height: 100vh;
  z-index: 2000;
  background: white;
}

body {
  > .wqxr-main-contents {
    display: none;
  }
}

.loading-spinner {
  position: relative;
  min-height: 25px; /* match no results found text */
}

#js-listings,
body:not(.ember-application):not([data-testing]):not(.simplified_wrapper):not(.container_stripped),
.loading-page,
.loading-spinner {
  @include spinner;
}

#js-listings {
  min-height: calc(100vh - 75px);
  position: relative;

  .ember-application & {
    z-index: auto;
    &:before,
    &:after {
      content: none;
    }
  }
}


@keyframes bigSpin {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}

.thin-line,
.loading-gradient {
  position: relative;
  overflow: hidden;
}

.thin-line:before,
.loading-gradient:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  animation: slide 1.5s ease;
  animation-iteration-count: infinite;
  @include background-image(linear-gradient(to right, #f2f2f2, #e0e0e0, #e0e0e0 80%, #f2f2f2));
}

.bg-gray2.loading-gradient:before {
  @include background-image(linear-gradient(to right, #e0e0e0, #e9e9e9, #e9e9e9 80%, #e0e0e0));
}

.bg-gray3.loading-gradient:before {
  @include background-image(linear-gradient(to right, #fafafa, #eeeeee, #eeeeee 80%, #fafafa));
}

.bg-gray4.loading-gradient:before {
  @include background-image(linear-gradient(to right, #eee, #e0e0e0, #e0e0e0 80%, #eee));
}

@include keyframes(slide) {
  0% {
    transform: translateX(-25%);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
