/***
 * Badges:
 * Decorative classses for images and logos used to represent WNYC properties around the site.
 */

/**
 * Badge:
 * `.badge`
 * Base class. Makes an image a circle.
 *
 *      @example
 *      img.badge(src='http://www.fillmurray.com/150/150')
 */
.badge {
    border-radius: 50%;
}

/**
 * Square Badge:
 * `.squarebadge`
 * Base class. Makes an image a rounded square.
 *
 *      @example
 *      img.squarebadge(src='http://www.fillmurray.com/150/150')
 */
.squarebadge {
    border-radius: 3px;
}

.squarebadge--lg {
  border-radius: 10px;
}

/**
 * Small Badge:
 * `.badge--small`
 * Make the badge a little smaller. Changes with media queries
 *
 *      @example
 *      img.badge.badge--small(src='http://www.fillmurray.com/150/150')
 */
img.badge--small {
    max-width: 40px;

    @include mq($medium-and-up) {
        max-width: 27px;
    }
}

/**
 * Medium Badge:
 * `.badge--medium`
 * A 64px badge.
 *
 *      @example
 *      img.badge.badge--medium(src='http://www.fillmurray.com/150/150')
 */
img.badge--medium {
    max-width: 64px;
}

/**
 * Large Badge:
 * `.badge--large`
 * A 100px badge.
 *
 *      @example
 *      img.badge.badge--large(src='http://www.fillmurray.com/150/150')
 */
img.badge--large {
    max-width: 100px;
}

img.badge--shadow {
  @include box-shadow(0px 1px 3px 0px rgba(0,0,0,0.2));
}

img.channel-badge--shadow {
    @include box-shadow(0px 1px 3px 0px rgba(0,0,0,1));
    opacity: 0.8;
}

img.badge--mq-tomed {
  width: 73px;

  @include mq($medium-and-up) {
    width: 129px;
  }

}
