.newsletter-signup {
  margin-bottom: 35px;

  @include mq($mobile) {
    padding: 30px 0;
    margin: 0;
  }

  &__inner {
    max-width: 760px;
    margin: 0 auto;
    @include flexbox((
      display: flex,
      justify-content: space-between,
      align-items: center
    ));

    @include mq($mobile) {
      @include flexbox((
        justify-content: center
      ));
    }
  }

  .mailchimp-form {
    input {
      width: 100%;
      font-family: 'Open Sans', Arial, sans-serif;

      &[type='email'] {
        padding: 10px 15px;
        border: 1px solid white;
        margin-bottom: 15px;
      }

      &.error {
        border-color: $red;
        margin-bottom: 5px;
      }
    }

  }

  p.error-msg a {
    color: $red;
    border-bottom: .08em solid rgba(0,0,0,.1);

    &:hover, &:focus {
      border-bottom: 1px solid $red;
    }
  }

  img {
    margin-top: 35px;

    @include mq($mobile) {
      display: none;
    }
  }

  &__copy {
    max-width: 360px;

    @include mq($mobile) {
      padding: 0 20px;
    }
  }
}
