/***
 * Base Styles:
 * All your base are belong to us. Styles applied directly to elements
 */

/**
 * Box-Sizing:
 * `*, *:after, *:before { box-sizing: border-box; }`
 */
*,
*:after,
*:before {
    @include box-sizing(border-box);
}

/**
 * Fonts, Colors, and Links:
 * We use Open Sans, and fall back to sans-serif if Google fonts don't load 
 * or the client chokes on the web font for some reason.
 *
 * The base font size is 1rem (or 16px), and the base line-height is 
 * 24px, for a ratio of 1.5. That ratio is used to set the vertical rhythm
 * for text and spacing around the site. See below for more on vertical rhythm.
 *
 * Base font-weight is 400 (or normal), the color is #333, and all text is
 * antialiased by default.
 *
 * Links are blue (#128cf4) without an underline. 
 * On hover a blue underline appears.
 *
 *      @example
 *      p
 *          |The <a href="http://fema.gov">Federal Emergency Management Agency</a>
 *          | says it is prepared to reopen all
 *          |144,000 insurance claims that resulted from Superstorm Sandy in 2012.
 *      p
 *          |The move comes after months of questions over whether insurance 
 *          |companies contracted by the National Flood Insurance Program 
 *          |fraudulently altered engineering reports.
 *      p
 *          |After thousands of homeowners said their insurance claims were 
 *          |systematically lowballed, FEMA began negotiations in an attempt 
 *          |to regain the trust of policy holders.
 */
html {
    font: 1rem/#{$line-height/$base-font} 'Open Sans', sans-serif;
    font-weight: 400;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    *:focus {
        outline: none;
    }
}

a {
    //display: inline-block; // this causes line breaking issues
    color: $blue;
    text-decoration: none;
    border-bottom: 1px solid rgba($blue, 0);
    @include transition(border-color $transition-timing, color $transition-timing);

    &:hover,
    &:focus {
        border-bottom-color: rgba($blue, 1);
    }
        
}

strong {
    font-weight: 600;
}

/**
 * `<img>`
 * Images are `max-width: 100%`&nbsp;by default for maximum responsiveness.
 *
 *      @example
 *      img(src="http://www.fillmurray.com/800/400")
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

// graceful fallback in case handlbars image helper returns an empty string
img[src=""] {
    display: none;

    + .figure-caption {
        display: none;
    }
}

/**
 * `<figure>` - Figure elements get their left/right margins reset.
 */
figure {
    margin-left: 0;
    margin-right: 0;

    > img {
        display: block;
    }
}

/**
 * `<button>`:
 * Strips default appearance by default and changes focus from
 * ugly neon blue border to a subtle dotted border
 *
 *      @example
 *      button Submit
 */
button {
  @include appearance(none);
  border: 0;
  padding: 0;
  outline: none;
  background: none;
}

/**
 * `<i>`:
 * i elements are semantically meaningless, so they are
 * used for icons. We've reset the default font style to normal here.
 */
i {
    font-style: normal;
    vertical-align: middle;
    min-width: 15px;
    @include fontsize($base-font);
}

/**
 * `<hr>`:
 * Make horizontal rules look a little nicer.
 */
hr {
    border: none;
    height: 1px;
    background-color: $lightestgray;
}

/**
 * Vertical Rhythm:
 * For consistent spacing across all atoms, molecules, and organisms,
 * we try to set all top margins to 0 and rely on `margin-bottom`
 * to push things down the page. Most block level elements will get a bottom
 * margin equal to `1.5rem`, which is the margin number determined by 
 * dividng the line-height by the base font-size.
 */
h1,h2,h3,h4,h5,h6,
footer, header,
p,figure,
ul,ol,dd,
blockquote,
article, section, aside,
#stream_launch_widget,
#leaderboard,
#rightRail,
pre,table,fieldset,hr {
    @extend %vertical-rhythm;
}

/**
 * A fall back for the lovely users who block our ads.
*/
.ad {
  min-height: 250px;
  width: 300px;
  margin: auto;
  background: url("data:image/svg+xml;utf8,<svg width='80px' height='40px' viewBox='1 8 22 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' class='icon--wnyc-logo-nav'><path d='M12.4221677,16.7347163 L17.2790702,16.7347163 L17.2790702,9.80577122 L12.4221677,9.80577122 L12.4221677,16.7347163 L12.4221677,16.7347163 Z M15.5075683,11.3350879 L16.4711721,11.3350879 L15.2899803,13.2267375 L15.2899803,14.4433122 L14.4238854,14.4433122 L14.4238854,13.2399065 L13.2427508,11.3350879 L14.2242965,11.3350879 L14.8634611,12.4273428 L15.5075683,11.3350879 Z M18.1332972,16.7350962 L22.9899998,16.7350962 L22.9899998,8 L18.1332972,8 L18.1332972,16.7350962 Z M20.6750136,14.5054235 C19.7870057,14.5054235 19.0720167,13.8264921 19.0720167,12.8980641 L19.0720167,12.8894657 C19.0720167,11.9836049 19.7690352,11.2732222 20.7104117,11.2732222 C21.3453194,11.2732222 21.7539539,11.5394015 22.029253,11.921445 L21.3810603,12.4231235 C21.2033558,12.2011361 20.9992814,12.0591909 20.7016693,12.0591909 C20.266322,12.0591909 19.9600818,12.4273513 19.9600818,12.8804388 L19.9600818,12.8894657 C19.9600818,13.3555222 20.266322,13.7195977 20.7016693,13.7195977 C21.0257942,13.7195977 21.2168122,13.5685114 21.4029448,13.3423247 L22.0516232,13.8039535 C21.7584965,14.2079929 21.3632327,14.5054235 20.6750136,14.5054235 Z M6.71102956,16.7347563 L11.568075,16.7347563 L11.568075,9.02846949 L6.71102956,9.02846949 L6.71102956,16.7347563 Z M10.6523542,14.4433236 L9.89725318,14.4433236 L8.5697838,12.7383537 L8.5697838,14.4433236 L7.71705958,14.4433236 L7.71705958,11.3350708 L8.52078652,11.3350708 L9.79965858,12.9778522 L9.79965858,11.3350708 L10.6523542,11.3350708 L10.6523542,14.4433236 Z M2.05425307,14.4587807 L2.80484008,14.4587807 L3.42634854,12.6695407 L4.052771,14.4587807 L4.8031009,14.4587807 L5.8420148,11.3285606 L4.94974992,11.3285606 L4.40775135,13.1270274 L3.80844166,11.3197908 L3.06688272,11.3197908 L2.46740162,13.1270274 L1.92568875,11.3285606 L1.01505345,11.3285606 L2.05425307,14.4587807 Z M1,15.258504 L5.85704539,15.258504 L5.85704539,16.7347734 L1,16.7347734 L1,15.258504 Z' id='wnyc-logo' stroke='none' fill='#e1e1e1' fill-rule='evenodd'></path></svg>") no-repeat 110px 108px;
  background-color: $graywhite;
}
