/***
 * Base Styles:
 * All your base are belong to us. Styles applied directly to elements
 */

/**
 * Box-Sizing:
 * `*, *:after, *:before { box-sizing: border-box; }`
 */
*,
*:after,
*:before {
    @include box-sizing(border-box);
}

/**
 * Fonts, Colors, and Links:
 * We use Open Sans, and fall back to sans-serif if Google fonts don't load 
 * or the client chokes on the web font for some reason.
 *
 * The base font size is 1rem (or 16px), and the base line-height is 
 * 24px, for a ratio of 1.5. That ratio is used to set the vertical rhythm
 * for text and spacing around the site. See below for more on vertical rhythm.
 *
 * Base font-weight is 400 (or normal), the color is #333, and all text is
 * antialiased by default.
 *
 * Links are blue (#128cf4) without an underline. 
 * On hover a blue underline appears.
 *
 *      @example
 *      p
 *          |The <a href="http://fema.gov">Federal Emergency Management Agency</a>
 *          | says it is prepared to reopen all
 *          |144,000 insurance claims that resulted from Superstorm Sandy in 2012.
 *      p
 *          |The move comes after months of questions over whether insurance 
 *          |companies contracted by the National Flood Insurance Program 
 *          |fraudulently altered engineering reports.
 *      p
 *          |After thousands of homeowners said their insurance claims were 
 *          |systematically lowballed, FEMA began negotiations in an attempt 
 *          |to regain the trust of policy holders.
 */
html {
    font: 1rem/#{$line-height/$base-font} 'Open Sans', sans-serif;
    font-weight: 400;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    *:focus {
        outline: none;
    }
}

a {
    //display: inline-block; // this causes line breaking issues
    color: $blue;
    text-decoration: none;
    border-bottom: 1px solid rgba($blue, 0);
    @include transition(border-color $transition-timing, color $transition-timing);

    &:hover,
    &:focus {
        border-bottom-color: rgba($blue, 1);
    }
        
}

strong {
    font-weight: 600;
}

/**
 * `<img>`
 * Images are `max-width: 100%`&nbsp;by default for maximum responsiveness.
 *
 *      @example
 *      img(src="http://www.fillmurray.com/800/400")
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

// graceful fallback in case handlbars image helper returns an empty string
img[src=""] {
    display: none;

    + .figure-caption {
        display: none;
    }
}

/**
 * `<figure>` - Figure elements get their left/right margins reset.
 */
figure {
    margin-left: 0;
    margin-right: 0;

    > img {
        display: block;
    }
}

/**
 * `<button>`:
 * Strips default appearance by default and changes focus from
 * ugly neon blue border to a subtle dotted border
 *
 *      @example
 *      button Submit
 */
button {
  @include appearance(none);
  border: 0;
  padding: 0;
  outline: none;
  background: none;
}

/**
 * `<i>`:
 * i elements are semantically meaningless, so they are
 * used for icons. We've reset the default font style to normal here.
 */
i {
    font-style: normal;
    vertical-align: middle;
    min-width: 15px;
    @include fontsize($base-font);
}

/**
 * `<hr>`:
 * Make horizontal rules look a little nicer.
 */
hr {
    border: none;
    height: 1px;
    background-color: $nearwhite;
    margin: 40px 0;
}

/**
 * Vertical Rhythm:
 * For consistent spacing across all atoms, molecules, and organisms,
 * we try to set all top margins to 0 and rely on `margin-bottom`
 * to push things down the page. Most block level elements will get a bottom
 * margin equal to `1.5rem`, which is the margin number determined by 
 * dividng the line-height by the base font-size.
 */
h1,h2,h3,h4,h5,h6,
footer, header,
p,figure,
ul,ol,dd,
blockquote,
article, section, aside,
#stream_launch_widget,
#leaderboard,
#rightRail,
pre,table,fieldset,hr {
    @extend %vertical-rhythm;
}

/**
 * A fall back for the lovely users who block our ads.
*/
.ad {
  min-height: 250px;
  width: 300px;
  margin: auto;
  background: url("data:image/svg+xml;utf8,<svg class='icon--wqxr-logo-nav' id='wqxr-logo' width='114px' height='25px' viewBox='0 0 114 25' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'>
    <path d='M51.0478502,10.9221209 L51.0478502,10.8719114 C51.0478502,5.8157769 46.779172,1.76744186 41.0155153,1.76744186 C35.2512207,1.76744186 30.9302326,5.86628713 30.9302326,10.9221209 L30.9302326,10.9723305 C30.9302326,16.028465 35.197954,20.077702 40.9619296,20.077702 C41.2269876,20.077702 41.4859853,20.0608652 41.745621,20.0428259 C42.2757371,20.9983111 43.0067997,21.8939658 43.9579466,22.6663514 C45.1326863,23.6257452 46.6397852,24.3527317 48.3892958,24.744186 L51.255814,20.7319297 C48.9551357,20.9108202 47.4955623,19.6853457 46.6716815,18.5236103 C49.3528823,16.8793219 51.0478502,14.0877295 51.0478502,10.9221209 L51.0478502,10.9221209 Z M45.7658273,10.9720298 C45.7658273,13.5107704 43.8699128,15.675194 41.0155153,15.675194 C38.1879107,15.675194 36.2396863,13.4626654 36.2396863,10.9221209 L36.2396863,10.8719114 C36.2396863,8.33166755 38.1317732,6.16844656 40.9616106,6.16844656 C43.817284,6.16844656 45.7655084,8.38097516 45.7655084,10.9221209 L45.7655084,10.9720298 L45.7658273,10.9720298 Z' id='q' stroke='none' fill='#FFFFFF' fill-rule='evenodd'></path>
    <polygon id='w' stroke='none' fill='#FFFFFF' fill-rule='evenodd' points='6.08907894 19.4418605 10.4845254 19.4418605 14.1276629 9.36612393 17.7945444 19.4418605 22.1928026 19.4418605 28.2790698 1.81787758 23.0510222 1.81787758 19.8768281 11.942849 16.3652198 1.76744186 12.0191358 1.76744186 8.50690254 11.942849 5.33364575 1.81787758 0 1.81787758'></polygon>
    <polygon id='x' stroke='none' fill='#FFFFFF' fill-rule='evenodd' points='54.7906977 19.4418605 60.2165167 19.4418605 63.577535 14.1137326 66.9134422 19.4418605 72.4651163 19.4418605 66.4907365 10.4019622 72.2166945 1.76744186 66.7902776 1.76744186 63.677681 6.74082612 60.5907936 1.76744186 55.0397174 1.76744186 60.7656753 10.4522933'></polygon>
    <path d='M93.9887092,7.85144652 L93.9887092,7.80081218 C93.9887092,6.05893005 93.4694006,4.69574431 92.4574755,3.6848766 C91.2975578,2.4742003 89.4685594,1.76744186 86.8260469,1.76744186 L78.6511628,1.76744186 L78.6511628,19.4418605 L83.4432748,19.4418605 L83.4432748,14.0882638 L85.5418628,14.0882638 L89.0248783,19.4418605 L94.5581395,19.4418605 L90.4315492,13.2793271 C92.5802589,12.3457753 93.9887092,10.553562 93.9887092,7.85144652 L93.9887092,7.85144652 Z M89.1737606,8.1549494 C89.1737606,9.44233521 88.2350903,10.2506655 86.605096,10.2506655 L83.4432748,10.2506655 L83.4432748,6.0079925 L86.5801835,6.0079925 C88.1855618,6.0079925 89.1737606,6.71535734 89.1737606,8.10401185 L89.1737606,8.1549494 L89.1737606,8.1549494 Z' id='r' stroke='none' fill='#FFFFFF' fill-rule='evenodd'></path>
    <polygon id='rest-two' stroke='none' fill='#FFFFFF' fill-rule='evenodd' points='111.348837 22.9767442 114 22.9767442 114 0 111.348837 0'></polygon>
    <path d='M104.280641,10.6046512 C105.255552,10.6046512 106.046512,9.81233761 106.046512,8.83546489 C106.046512,7.8599877 105.255552,7.06976744 104.280641,7.06976744 C103.302587,7.06976744 102.511628,7.85963881 102.511628,8.83546489 C102.511279,9.81233761 103.302587,10.6046512 104.280641,10.6046512' id='dot-two' stroke='none' fill='#FFFFFF' fill-rule='evenodd'></path>
    <path d='M104.280641,16.7906977 C105.255552,16.7906977 106.046512,15.9990819 106.046512,15.0232558 C106.046512,14.0488253 105.255552,13.255814 104.280641,13.255814 C103.302587,13.255814 102.511628,14.0488253 102.511628,15.0232558 C102.511279,15.9994308 103.302587,16.7906977 104.280641,16.7906977' id='dot-one' stroke='none' fill='#FFFFFF' fill-rule='evenodd'></path>
    <polygon id='rest-one' stroke='none' fill='#FFFFFF' fill-rule='evenodd' points='108.697674 22.9767442 109.581395 22.9767442 109.581395 0 108.697674 0'></polygon>
</svg>") no-repeat 110px 108px;
  background-color: $graywhite;
}
