/***
 * Boxes:
 */

.box {
  padding: 30px;
  position: relative;
}

.box--dark {
  background-color: black;
}

.box--white {
  background-color: white;
}

.box--rounded {
  border-radius: 6px;
}

.box--outlined {
  border: solid 1px #979797;
}

.box--nearwhite {
    background-color: $nearwhite;
}

.box--bgoverflow {
  @include mq($small-only) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.box-heading {
  @extend .list-heading;
  @extend %vertical-rhythm;
}

.box-mat {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  // allow siblings to stack on top
  ~ * {
    position: relative;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include background(linear-gradient(to right, black, rgba(0,0,0,0)));
  }
}

.box--flexpadtop {
  padding: 30px 0;
  padding: rems(30) 0;

  @include mq($middle-narrow-and-up) {
    padding: 15px 0;
    padding: rems(15) 0;
  }
}

.box--red {
  background: $red;
}

.box--slim {
  padding: 20px;
}

.box--padded {
  padding: 10px;
}

.box--luxe {
  padding: 35px 70px 70px;

  @include mq($small-only){
    padding: 25px 35px 20px;
  }
}

.box--nopad {
  padding: 0;
}

.box--nopad-top {
  padding-top: 0;
}

.box--topborder {
  border-top-width: 0.5px;
  border-color: rgba(black, 0.08);
  border-top-style: solid;
}
