@mixin absolute-fill($top:0, $right:0, $bottom:0, $left:0) {
  position:absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// TODO: get rid of .ember-application when we get rid of body overrides in
// _home-compat
body.ember-application.discover {
  overflow: auto;
  height: 100%;
  background-color: $discoblue;

  .sitechrome-page-content-area {
    margin-top: 0px;
    // TODO: Maybe, make sitechrome have no margin on the bottom and leave it
    // up to the feature to set a padding.

    min-height: 100vh;
  }

  .discover {
    a {
      transition: border-color 0ms;

      &:hover {
        color: $blue;
        border-bottom: none;
      }
    }

    /*
      liquid fire sets some transform properties on these elements
      and that messes up fixed positioning by making them fixed
      relative to the container. We need to override these and set
      overflow hidden on the discover content area so things don't bleed.
    */
    .liquid-container {
      height: 100%;

      position: relative;
      overflow: initial;
      -webkit-transform: initial;
      -moz-transform:    initial;
      transform:         initial;
      z-index: $zIndex--isVisible;

      .liquid-child {
        -webkit-transform: initial;
        -moz-transform:    initial;
        transform:         initial;
      }
    }
  }

  .sitechrome-top {
    background: rgba(black, .3);

    @include mq($large-and-up) {
      @include transition(background-color $transition-timing);
      position: absolute;
      top: 0;
      z-index: 1;
      width: calc(100% - 166px); // side nav
    }
  }

  > .index_loading .sitechrome-page-content-area {
    padding:0;
  }

  .sitechrome-page-content-area {
    overflow:hidden;

    @include mq($large-and-up) {
      padding-top: 107px; // top nav height margin
    }
  }

  .discover-fadeable-background {
    z-index: 0;
    opacity: 0; // this is handled by liquid fire
    width: 100%;
    @include absolute-fill();
    background-color: #81AFEA;
    background-image: url(/assets/img/backgrounds/liberty_headphones.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
  }
}

.discover-welcome-screen {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  @include transition(background $transition-timing);
  background-size:cover;
  color: #FFFFFF;
  padding-top:6rem;
  padding-bottom:6rem;

  .player-wrapper {
    display:none;
  }

  @include mq($small-only) {
    @include justify-content(space-around);
    padding-bottom:0;
  }
}

.discover-welcome-screen-header {
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 2.2;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  margin-bottom: 31px;
}

.discover-welcome-screen-title-area {
  text-align:center;
}

.discover-welcome-screen-action {
  padding:2rem 0;
  text-align:center;
}
.discover-welcome-screen-action-text {
  color:#FFF;
}

.discover-welcome-screen-icon {
  width:68px;
  height:68px;

  @include mq($small-only) {
    width:64px;
    height:64px;
  }

  path {
    color:#FFF;
    fill:#FFF;
  }
}

.discover-welcome-screen-title, .discover-welcome-screen-subtitle {
  max-width:400px;
  text-align:center;
  color:#FFF;
}

.discover-welcome-screen-title, .discover-welcome-screen-subtitle,
.discover-welcome-screen-icon,
.discover-welcome-screen-button {
  margin: 0.5rem;
}

.discover-loading {
  padding-top:10rem;
  /* this class is auto generated by the loading template, so don't go searching for it */
  @include display-flex;
  @include flex-direction(row);
  @include align-items(flex-start);
  @include justify-content(center);

  width: 100%;
  min-height: 100vh;
  z-index: 2000;
  margin-top:-1.5rem;
  text-align:center;
}

.discover-loading-message-text {
  color: #FFF;
}

.discover-setup-header {
  padding:1rem 0 0.5rem;
  margin: 0 1.5rem;
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include flex-grow(1);
  @include align-items(center);
  @include justify-content(space-between);
}

.discover-setup-title-step-title {
  margin:0.5rem;
}

.discover-setup-title-error {
  color:$red;
  font-size:rems(13);
}

.discover-setup-title-step-count {
  color:$lightgray;
  font-size:rems(12);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.discover-setup-header-content {
  @include display-flex;
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include align-items(center);
}

/* So the middle flex item is perfectly centered */
.discover-setup-header-action {
  min-width:150px;
  @include display-flex;
  @include flex-wrap(nowrap);
  @include justify-content(flex-start);
}
.discover-setup-header-action:last-child {
  @include justify-content(flex-end);
  text-align: right;
}
.discover-setup-header-cancel-button svg {
  width:11px;
  height:11px;
  margin-right:2px;
}

/* Discover Playlist ------------------------------------------------*/

.discover-playlist-container {
  margin: 1.5rem 1.5rem 0 1.5rem;
  @include display-flex;
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include align-items(center);
  @include justify-content(space-between);
}

.discover-playlist {
  background-color:#FFFFFF;
  list-style:decimal;
  counter-reset: discover-playlist-counter;
  padding:0;
  margin:0;
  margin-bottom:2rem;
  border-radius:5px;
  max-width:800px;
}
.discover-playlist-footer {
  text-align: center;
  margin-bottom: 6rem;
}

.rounded-caps-button.discover-playlist-find-more {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.rounded-caps-button.discover-playlist-find-more[disabled] {
  cursor: wait;
  opacity: 0.5;
}

.discover-playlist-no-results {
  text-align: center;
  color: #FFF;
  margin: 1rem 0;
  p {
    padding: 0;
    margin: 0;
  }
  a {
    color: #8fa2e5;
  }
}

.discover-feedback-button {
  position:absolute;
  right:calc(50% - 400px - 140px);
  top:0;
  width:100px;
  font-size:12px;
  color:#FFF;
  opacity:0.8;
  a {
    color: #8fa2e5;
  }
  @include transition(opacity 0.25s ease-in);
  @include mq($up-to-wide) {
    display: none;
  }
}

.liquid-animating .discover-feedback-button {
  opacity:0;
  @include transition(opacity 0.25s ease-in);
}

.discover-feedback-icon {
  width:50px;
  height:50px;
  margin:-6px 0 0.25rem 0;
  display:block;
  path {
    stroke: none;
    fill:#FFF;
  }
}

.discover-playlist-header {
  @include display-flex;
  @include flex-direction(column-reverse);
  @include flex-wrap(nowrap);
  @include align-items(flex-end);
  text-align:center;
  color:#FFF;
  padding:20px 0;
  min-height:10rem;
  position:relative;
}

.discover-playlist-header-content {
  @include display-flex;
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include align-items(center);
  @include justify-content(space-between);
}

.discover-playlist-header-title, .discover-playlist-header-subtitle, .discover-playlist-header-button {
  margin:0.75rem;
  color:#FFF;
}

.discover-playlist-header-container {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(row);
}

.discover-edit-playlist-link {
  @include display-flex;
  @include justify-content(flex-end);
  @include align-items(center);
  @include flex-direction(row);
  @include flex-basis(34px);

  color:white;
  font-size:rems(12);
  letter-spacing: 2px;
  font-weight:bold;
  text-transform: uppercase;
  right:2rem;
  top:2rem;
  border:0;

  &:hover {
    border:0;
  }

  .animated-loading-icon {
    margin-right: 5px;
  }
}

// Get this out of the way when we're animating, because
// fixed position elements dont' play nice with liquid-fire
.liquid-animating .mod-sticky-header {
  opacity:0;
  @include transition(opacity 0.25s ease-in);
}

.mod-sticky-header{
  opacity:1;
  position:fixed;
  top:0;
  left:1.5rem;
  right: 1.5rem;
  background-color: $discoblue;
  text-align:left;
  z-index:2;

  @include mq($large-and-up) {
    left: 166px; // sitechrome-nav width
  }

  // This is the collapsed header style

  .discover-playlist-header {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-direction(row);
    height:100px;
    max-width:800px;
    width:100%;
    position:relative;
    min-height: auto;
    &:after {
      position:absolute;
      left:0;
      right:0;
      bottom:0;
      content: " ";
      width: 100%;
    	height: 4px;
    	background-color: #333333;
    	box-shadow: -1px 2px 4px 0 rgba(0, 0, 0, 0.3);
    }
  }

  .discover-playlist-header-content {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-direction(row);
  }

  .discover-playlist-header-title {
    font-size:rems(24);
    margin-left:0;
  }
  .discover-playlist-header-subtitle {
    display:none;
  }

  .discover-edit-playlist-link {
    position:relative;
    top:0;
    right:0;
    @include flex(1 25%);
  }
}

.discover-playlist-header-button {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include align-items(center);
  @include justify-content(center);
  white-space: nowrap;
}

// This the sortable item
.discover-playlist-item {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include align-items(center);
  position:relative;
  overflow:visible;
  max-height:200px;
  // @include justify-content(left);
}

.discover-playlist-item.is-dragging  {
  background-color:rgba(255, 255, 255, 0.8);
  border-top:1px solid #e9e9e9;
  border-bottom:1px solid #e9e9e9;
  z-index:2;
}

.discover-playlist-container {
  .discover-playlist-item + .discover-playlist-item {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e9e9e9;
  }
}

.discover-playlist-container.is-dragging-item {

}

.discover-playlist-content-container {
  position:relative; // for positioning the feedback button
}

.discover-playlist-item.is-deleted {
  @include transition(opacity $transition-timing ease-in-out, max-height $transition-timing/2 ease-in-out $transition-timing);
  opacity:0;
  border-bottom-style: none;
  max-height:0;
}


.discover-playlist-item-handle {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include align-items(center);
  @include justify-content(flex-start);

  position:absolute;
  left:-25px;
  top:0;
  bottom:0;
  width:20px;
  cursor:grab;

  &:active {
    cursor:grabbing;
  }
  svg {
    width:11px;
    height:22px;
  }
  path {
    fill:white;
  }
}

.discover-playlist-item-delete {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include align-items(center);
  @include justify-content(flex-end);
  position:absolute;
  right:-20px;
  top:0;
  bottom:0;
  width:20px;
  cursor:pointer;

  &:active {
    cursor:grabbing;
  }
  svg {
    width:9px;
    height:20px;
  }
  path {
    fill:white;
  }
}


/* Discover Playlist Story ------------------------------------------------*/

.discover-playlist-story {
  min-height: 5rem;
  width:100%;
  padding:10px 10px;
  border-left:3px solid transparent;

  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include align-items(flex-start);

  &.is-current-track {
    background-color:rgba($red, 0.03);
    border-left:3px solid $red;
  }
}

.discover-playlist-story-info {
  padding:0 10px;
  margin: 0;
  @include display-flex;
  @include flex-direction(column);
  width:100%;
  @include justify-content(center);
}

.discover-playlist-story-info-basic {
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);
  min-height:4rem;
}

.discover-playlist-story-info-extended {
  font-size:rems(14);
  display:block;
  max-height:0;
  overflow:hidden;
  opacity:0;

  &.is-shown {
    @include transition(max-height $transition-timing, max-height 0.2s);

    opacity:1;
    max-height:200px;
    margin-bottom:10px;
  }
}

.discover-playlist-item .discover-playlist-story-play-button {
  @include display-flex;
  @include flex-wrap(nowrap);
  @include align-items(center);
  @include justify-content(center);

  height:100%;
  width:rems(60);
  position:relative;
  min-height:4rem;

  &:before {
    /*  Make this nice and centered */
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-items(center);
    @include justify-content(center);
    @include absolute-fill();

    color:$lightgray;
    font-size:24px;

    /* CSS counter so we can hide and show it and style it easier than the li counter */
    pointer-events: none; // Don't want this sucker interfering with clicks
  }
}

.discover-playlist-item:not(.is-deleted) .discover-playlist-story-play-button {
  &:before {
    counter-increment: discover-playlist-counter;
    content: counter(discover-playlist-counter);
  }
}

.discover-playlist-item.is-deleted, .discover-playlist-item.is-dragging {
  .discover-playlist-story-play-button {
    &:before {
      content: "\00b7";
    }
  }
}
.playlist-play-indicator-button {
  background: transparent;
  @include fontsize(14);
  line-height: 34px;
  cursor: pointer;
  border:0;
  outline:0;
  @include transition(opacity $transition-timing/4);

  .playlist-play-indicator-speaker {
    width: 22px;
    path {
      fill: $red;
    }
  }

  .playlist-play-indicator-pause, .playlist-play-indicator-play {
    width: 40px;
    height: 40px;
  }

  .svg-path-pause-icon, .svg-path-play-icon {
    fill:$red;
  }
  .svg-path-circle-icon {
    fill: #eaeaea;
  }

  &:focus {
    opacity:0;
  }

  &:hover {
    opacity:1;
    .svg-path-pause-icon, .svg-path-play-icon, .svg-path-circle-icon {
      fill: $red;
    }
  }
}

.playlist-play-indicator-button {
  /* Hide the button by default */
  opacity:0;
}
.discover-playlist-item-handle, .discover-playlist-item-delete {
  opacity:0;
}

.discover-playlist-item:hover {
  .discover-playlist-item-handle, .discover-playlist-item-delete {
    opacity:1;
  }
}

.discover-playlist-story.is-playing {
  .playlist-play-indicator-speaker {
    display:block;
  }
  .playlist-play-indicator-pause {
    display:none;
  }

  .playlist-play-indicator-button {
    /* Show the button */
    opacity:1;
  }
  .discover-playlist-story-play-button:before {
    /* Hide the number */
    opacity:0;
  }
}
.discover-playlist-story:hover {
  .playlist-play-indicator-speaker {
    display:none;
  }
  .playlist-play-indicator-pause {
    display:block;
  }
  .playlist-play-indicator-button {
    opacity:1;
  }
  .discover-playlist-story-play-button:before {
    /* Hide the number */
      opacity:0;
  }
}

.discover-playlist-story-summary-action {
  @include display-flex;
}

.discover-playlist-story-summary-action-link {
  white-space: nowrap;
  text-align: right;
  text-transform: uppercase;
  font-size: rems(12);
  color: $lightergray;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 0!important; // this is defined on the main link style.
  z-index: 0;
  &:hover {
    border: 0;
  }

  svg {
    width:7px;
    height:7px;
    margin-bottom:1px;
    @include transition(transform $transition-timing);
  }
  svg polygon {
    fill:$lightgray;
    stroke:$lightgray;
  }

  &.is-shown {
    svg {
      margin-bottom:2px;
      transform:rotate(180deg);
    }
  }

  &:hover svg polygon {
    fill:$blue;
    stroke:$blue;
  }
}

.discover-playlist-story-title {
  margin:0;
  margin-right:5px;
  font-weight:normal;
  font-size: rems(15);
  display:inline-block;
}

.discover-playlist-story-date,
.discover-playlist-story-duration {
  text-transform: uppercase;
  font-size: rems(12);
  font-weight: bold;
  color: $lightergray;
  white-space: nowrap;
  letter-spacing: 2px;
  display: inline-block;
  margin-right: 0.5rem;
}

.discover-playlist-story-show-title {
  text-transform: uppercase;
  font-size: rems(12);
  font-weight: bold;
  letter-spacing: 2px;
}


/*- Discover Topics ------------------------------------------------*/
.discover-topic-list {
  background-color:#FFF;
  border-radius:6px;
  text-align:center;
  padding:1rem;
  margin: 0 1.5rem 6rem;
}

.discover-topic, .discover-topic-bubble-select-all {
  margin:10px 10px;
  display:inline-block;
}

.discover-topic-list hr {
  display:none;
  height:0px;
  width:100%;
  margin:0;
  padding:0;
}

/* For medium layouts:
    [ ] [ ]
  [ ] [ ] [ ]
    [ ] [ ]
  [ ] [ ] [ ]
    [ ] [ ]
*/
@include mq($medium-only) {
  .discover-topic-list hr { display:none; }
  .discover-topic-list hr:nth-of-type(5n),
  .discover-topic-list hr:nth-of-type(5n-3) {
      display:block;
      visibility:hidden;
  }
}

/* For large layouts:
    [ ] [ ] [ ]
  [ ] [ ] [ ] [ ]
    [ ] [ ] [ ]
  [ ] [ ] [ ] [ ]
    [ ] [ ] [ ]
*/
@include mq($large-and-up) {
  .discover-topic-list hr { display:none; }
  .discover-topic-list hr:nth-of-type(7n-4),
  .discover-topic-list hr:nth-of-type(7n) {
      display:block;
      visibility:hidden;
  }
}

.discover-topic-bubble {
  @include fontsize(14);
  cursor:pointer;
  background-color:#FFF;
  border-radius:25px;
  color:$charcoal;
  display:inline-block;
  font-weight: 600;
  letter-spacing: 1px;
  min-width: 175px;
  padding:0.5rem 0.75rem;
  text-align:center;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.15);
  input { display:none; }
  @include transition(background-color $transition-timing, border-color $transition-timing, color $transition-timing);


  &:hover {
    // TODO: TBD after feedback from marine
    color:$charcoal;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
}

.discover-topic-bubble.is-selected  {
  background-color:$red;
  border: 1px solid $red;
  color:#FFF;
}


/*- Discover Shows ------------------------------------------------*/

.discover-show-list {
  background-color:#FFF;
  border-radius:6px;
  text-align:center;
  padding:3rem 2rem 2rem;
  margin: 0 1.5rem 6rem;
}

.shows_loading .discover-show-list {
  @include display-flex;
  min-height: 60vh;

  .animated-loading-icon {
    @include justify-content(center);
  }
}

.discover-show-list > div { // this is the multi-select checkbox component
  @include display-flex;
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include align-items(flex-start);
  @include justify-content(space-between);
  max-width:1000px;
  margin: auto auto;
}

.discover-show {
  display:inline-block;
  width:150px;
  margin:1rem 1rem;
  position:relative;
  cursor:pointer;
  input { display:none; }
}

.discover-show-selection-icon {
  position:absolute;
  top:130px;
  right:-8px;
}

.discover-show-selection-icon {
  svg {
    width:30px;
    height:30px;
    box-shadow: 0 0 3px #333;
    border-radius: 50%;
    background-color:transparent;
  }
  .show-not-selected-icon {
    circle {
      stroke: $red;
      box-shadow:0 0 3px #000;
    }
    path, polygon { fill: $red; }
  }
  .show-selected-icon {
    .svg-path-circle-icon {
      fill: $red;
      stroke: $red;
      stroke-width:2px;
    }
    .svg-path-check-icon { fill: #FFF; }
  }
}

.discover-show-image {
  overflow:hidden;
  border-radius:5px;
  border:1px solid $lightestgray;
}

.discover-show-title {
  margin:1rem 0 0;
  font-weight:normal;
}

.discover-setup-tab-container {
  @include display-flex;
  @include justify-content(space-around);
  padding:1rem 0;
  margin-top:1.5rem;
}

.discover-setup-tab {
  font-size:rems(20);
  font-weight:bold;
}

.discover-setup-tab-link {
  color:$gray;
  &:focus {
    opacity:1;
  }
}


.discover.edit.shows .discover-setup-tab-link-shows,
.discover.edit.topics .discover-setup-tab-link-topics  {
  position:relative;
  color:#FFF;

  &:after {
    bottom: -19px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #FFF;
    border-width: 15px;
    margin-left: -15px;
  }
}

/* Buttons -- eventually once these are tightened up, we can move these out for all to use */


.rounded-caps-button {
  display:inline-block;
  border-radius: 25px;
  border: 2px solid #FFF;
  border-color: #FFF;
  padding: 2px 15px;
  color: #FFF;
  background: transparent;
  @include fontsize(16);
  font-weight: 600;
  line-height: 34px;
  cursor: pointer;
  letter-spacing: 1px;

  @include transition(background-color $transition-timing, border-color $transition-timing, color $transition-timing);

  &:not([disabled]) {
    &:hover, &:focus {
      color: #FFF;
      border-color:rgba(255, 255, 255, 0.5);
      opacity:1;
    }
    &:active {
      border-color:#FFF;
    }
  }
}

// Action button styling
.rounded-caps-button.mod-with-icon > div {
  @include display-flex;
  @include align-items(center);
  @include justify-content(space-between);
  @include flex-direction(row);
  text-align: center;

  div.action-button-icon {
    @include display-flex;
    @include align-items(center);
  }
  span.action-button-text {

  }
  svg {
    path,
    polygon {
      fill: #FFF;
      margin: 0 0 0 3px;
    }
    width:11px;
    position: relative;
    top: 1px;
  }
  > .action-button-text  {
    margin: 0 5px 0 10px;
  }
}

.rounded-caps-button.mod-hollow-blue {
  border-color:#8fa2e5;
  color:#8fa2e5;
  &:not([disabled]) {
    &:hover, &:focus {
      color: #FFF;
      border-color:#FFF;
      background-color: rgba(255, 255, 255, 0.2);
      opacity:1;
    }
    &:active {
      color: #8fa2e5;
      border-color:#FFF;
      background-color: #FFF;
    }
  }
}

.rounded-caps-button.mod-filled-red {
  background-color:$red;
  border-color:$red;

  &:not([disabled]) {
    &:hover {
      background-color:$darkred;
      border-color:$darkred;
      color: #FFF;
    }
    &:active {
      background-color:$darkred;
      border-color:$darkred;
      color: #FFF;
    }
  }
}

.rounded-caps-button.mod-with-icon.mod-filled-red {
  svg path, svg polygon {
    fill: #FFF;
  }
}
