.alert-success {
  background-color: #0eb8ba;
  padding: 18px 28px;
  color: white;
  font-weight: 600;
  z-index: $zIndex-2;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  + .account-info {
    padding-top: 125px;
  }
}
