.alert-success,
.alert-warning {
  padding: 18px 28px;
  color: white;
  font-weight: 600;
  z-index: $zIndex-2;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .account-main & {
    position: static;
    width: 100%;
  }

  + .account-info {
    padding-top: 125px;
  }
}

.alert-success {
  background-color: $lightgreen;
}

.alert-warning {
  background-color: #ff0033;
}
