.home {
  &__liveplayer {
    background: $blue;
    padding: 30px;
    @include flexbox((
      display: flex,
      flex-direction: column,
      justify-content: center,
      align-items: center
    ));

    select {
      background: transparent;
      border: 0;
    }
  }
}

.brick_row {
  font-family: 'Lato';
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
  @include flexbox((
    display: flex,
    flex-direction: row,
    flex-wrap: wrap,
    justify-content: space-between
  ));

  @include mq($small-only) {
    margin: 0;
    @include flexbox((
      flex-direction: column
    ));
  }

  li {
    @include flexbox((
      display: flex,
      flex-direction: column,
      justify-content: space-between
    ));

    &.item--trending {
      .item__icons__trending {
        visibility: visible;
      }
    }

    .item {
      &__icons {
        @include flexbox((
          display: flex,
          flex-direction: row,
          align-items: center,
          justify-content: space-between
        ));

        &__trending {
          visibility: hidden;
          color: $gold;
          @include fontsize(14);
        }

        &__video {
          display: none;
        }
      }

      &__head {
        &__headline,
        &__brand {
          margin: 0;
        }

        &__headline {
          svg {
            display: none;
            position: relative;
            top: 3px;

            path {
              fill: black;
            }
          }
        }

        &__brand {
          font-weight: 700;
          text-transform: uppercase;

          @include mq($small-only) {
            @include fontsize(14);
          }
        }
      }
    }
  }

  &--images {
    li {
      @include filter-container;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      padding: 20px 30px 30px;
      width: 66%;
      height: 487px;

      &:before {
        @include classic-filter($filter--light);
      }

      a {
        color: white;
        border: 0;
      }

      > div {
        z-index: 1;
      }

      &.story_video {
        .item__icons__video {
          display: block;
        }
      }

      .item {
        &__head {
          &__headline {
            @include text--largest;

            @include mq($small-only) {
              @include fontsize(24);
              line-height: 2rem;
            }
          }
        }
      }

      @include mq($small-only) {
        width: 100%;
        height: 300px;
        padding: 20px;
      }

      &.row__col {
        width: 32%;
        padding: 0;

        &.flipped {
          order: -1;
        }

        &:before {
          content: none;
        }

        @include mq($small-only) {
          width: 100%;
          height: auto;

          a {
            color: black;
          }
        }

        > ul {
          height: 487px;
          padding: 0;
          margin: 0;

          @include flexbox((
            display: flex,
            flex-direction: column,
            justify-content: space-between
          ));

          @include mq($small-only) {
            height: auto;
          }
        }

        li {
          @include filter-container;
          width: 100%;
          height: 237px;
          padding: 20px 25px;

          &:before {
            @include classic-filter($filter--light);
          }

          @include mq($small-only) {
            height: auto;
            padding: 25px 20px;
            border-bottom: 1px solid $lightestgray;
            background-image: none !important;

            &.story_video {
              .item__head__headline svg {
                display: inline;
              }
            }

            &.item--trending {
              .item__icons {
                position: absolute;
                right: 25px;
                top: 25px;

                &__trending {
                  color: $lightgray;

                  svg {
                    display: none;
                  }
                }
              }
            }

            &:before {
              content: none;
            }
          }

          .item {
            &__head {
              &__headline {
                @include fontsize(20);
                line-height: 1.8rem;

                @include mq($small-only) {
                  font-weight: normal;
                }

                a {
                  @include icon--with-text;
                }
              }

              &__brand {
                @include fontsize(14);
              }
            }

            &__icons {
              &__video {
                @include mq($small-only) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  &--cards {
    li {
      width: 32%;
      padding: 0;
      height: 495px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      color: black;
      position: relative;
      background-image: none !important;
      @include flexbox((
        justify-content: flex-start
      ));

      &:last-child {
        box-shadow: none;
        background: $nearwhite;
        @include flexbox((
          justify-content: center,
          align-items: center
        ));
      }

      a {
        color: black;
        border: 0;
      }

      &.story_video {
        .item__icons__video {
          display: block;
        }
      }

      .item {
        &__icons {
          position: absolute;
          z-index: 2;
          width: 100%;
          padding: 20px 25px;
        }

        &__img {
          height: 240px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center top;
        }

        &__head {
          padding: 25px;

          &__headline {
            @include fontsize(24);
            font-weight: normal;
            line-height: 2rem;

            a {
              @include icon--with-text;
            }
          }

          &__brand {
            @include fontsize(14);
          }
        }
      }

      &:before {
        background: none !important;
      }
    }

    @include mq($small-only) {
      @include flexbox((
        flex-direction: column
      ));

      li {
        width: 100%;
        height: auto;
        box-shadow: none;
        padding: 25px 20px;
        border-bottom: 1px solid $lightestgray;

        .item {
          &__img {
            display: none;
          }

          &__head {
            padding: 0;

            &__headline {
              @include fontsize(20);
              line-height: 1.8rem;
            }
          }
        }

        &.story_video {
          .item__head__headline svg {
            display: inline;
          }
          .item__icons__video {
            display: none;
          }
        }

        &.item--trending {
          .item__icons {
            position: absolute;
            right: 25px;
            top: 25px;
            padding: 0;
            width: auto;

            &__trending {
              color: $lightgray;

              svg {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
