.home {
  &__liveplayer {
    background: $blue;
    padding: 30px;
    @include flexbox((
      display: flex,
      flex-direction: column,
      justify-content: center,
      align-items: center
    ));

    select {
      background: transparent;
      border: 0;
    }
  }
}
