.home {
  &__liveplayer {
    background: $blue;
    padding: 30px;
    @include flexbox((
      display: flex,
      flex-direction: column,
      justify-content: center,
      align-items: center
    ));

    select {
      background: transparent;
      border: 0;
    }
  }

  &__stories {
    ul {
      font-family: 'Lato';
      list-style: none;
      padding: 0;
      @include flexbox((
        display: flex,
        flex-direction: row,
        flex-wrap: wrap,
        justify-content: space-between
      ));

      @include mq($small-only) {
        @include flexbox((
          flex-direction: column
        ));
        margin: 0; // TODO: may remove that before launch
      }

      li {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        @include flexbox((
          display: flex,
          flex-direction: column,
          justify-content: space-between
        ));

        > div {
          z-index: 1;
        }

        .story {
          &__icons {
            @include flexbox((
              display: flex,
              flex-direction: row,
              align-items: center,
              justify-content: space-between
            ));

            &__trending {
              visibility: hidden;
              color: $gold;
            }

            &__video {
              visibility: hidden;
            }
          }
          &__head {
            &__headline,
            &__brand {
              margin: 0;
            }

            &__brand {
              margin-bottom: 5px;
              font-weight: 700;
              text-transform: uppercase;
            }
          }
        }

        &.story--trending {
          .story__icons__trending {
            visibility: visible;
            @include fontsize(14);
          }
        }

        &.story_video {
          .story__icons__video {
            visibility: visible;
          }
        }

        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(6),
        &:nth-child(9), {
          @include filter-container;
          padding: 20px 30px 30px;
          width: 66%;
          height: 487px;

          a {
            color: white;
            border: 0;
          }

          h2 {
            @include text--largest;
          }

          &:before {
            @include classic-filter($filter);
          }

          @include mq($small-only) {
            width: 100%;
            height: 300px;
            padding: 20px;

            .story__head__headline {
              @include fontsize(24);
              line-height: 2rem;
            }

            .story__head__brand {
              @include fontsize(14);
            }
          }
        }
      }
    }

    &--col {
      width: 32%;

      @include mq($small-only) {
        width: 100%;
      }

      > ul {
        height: 487px;
        @include flexbox((
          display: flex,
          flex-direction: column,
          justify-content: space-between
        ));

        @include mq($small-only) {
          height: auto;
        }

        li:nth-child(1),
        li:nth-child(2) {
          @include filter-container;
          width: 100%;
          height: 237px;
          padding: 20px 25px;

          a {
            color: white;
            border: 0;
          }

          .story__head__headline {
            @include fontsize(20);
            line-height: 1.8rem;
          }

          .story__head__brand {
            @include fontsize(14);
          }

          &:before {
            @include classic-filter($filter);
          }

          @include mq($small-only) {
            height: auto;
            padding: 25px 20px;
            border-bottom: 1px solid $lightestgray;
            background-image: none !important;

            a {
              color: black;
            }

            .story__head__headline {
              font-weight: normal;
            }

            .story__icons__video {
              display: none;
            }

            &.story_video {
              h2:before {
                content: $video;
                width: 36px;
                display: inline-block;
                top: 5px;
                position: relative;
              }
            }

            &.story--trending {
              .story__icons {
                position: absolute;
                right: 25px;
                top: 25px;

                &__trending {
                  color: $lightgray;

                  svg {
                    display: none;
                  }
                }
              }
            }

            &:before {
              background: none;
            }
          }
        }
      }
    }

    &--row {
      width: 100%;

      ul {
        li:nth-child(1),
        li:nth-child(2),
        li:nth-child(3) {
          width: 32%;
          padding: 0;
          height: 495px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          color: black;
          position: relative;
          @include flexbox((
            justify-content: flex-start
          ));

          a {
            color: black;
            border: 0;
          }

          .story {
            &__icons {
              position: absolute;
              z-index: 2;
              width: 100%;
              padding: 20px 25px;
            }

            &__img {
              height: 240px;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center top;
            }

            &__head {
              padding: 25px;

              &__headline {
                @include fontsize(24);
                font-weight: normal;
                line-height: 2rem;
              }

              &__brand {
                @include fontsize(14);
              }
            }
          }

          &.story_video {
            .story__icons__video {
              visibility: visible;
            }
          }

          &:before {
            background: none !important;
          }
        }

        @include mq($small-only) {
          @include flexbox((
            flex-direction: column
          ));

          li:nth-child(1),
          li:nth-child(2),
          li:nth-child(3) {
            width: 100%;
            height: auto;
            box-shadow: none;
            padding: 25px 20px;
            border-bottom: 1px solid $lightestgray;

            .story {
              &__img {
                display: none;
              }

              &__head {
                padding: 0;

                &__headline {
                  @include fontsize(20);
                  line-height: 1.8rem;
                }
              }
            }

            &.story_video {
              h2:before {
                content: $video;
                width: 36px;
                display: inline-block;
                top: 5px;
                position: relative;
              }
            }

            &.story--trending {
              .story__icons {
                position: absolute;
                right: 25px;
                top: 25px;
                padding: 0;
                width: auto;

                &__trending {
                  color: $lightgray;

                  svg {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

      &__ad {
        box-shadow: none !important;
        justify-content: center !important;
        align-items: center;
        background: $nearwhite;
      }
    }
  }
}
