.list {
    @extend %vertical-rhythm;
    list-style: none;
    padding: 0;
}

.list-heading {
    color: $lightgray;
    border-bottom: 1px solid $lightestgray;
    text-transform: uppercase;
    letter-spacing: 2px;

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 0;
    }

    + ol > .list-item:first-child {
        border-top: none;
    }
}

.list--noborder {
    > .list-heading {
        @extend %vertical-rhythm;
    }

    > .list-item {
        border: none;

        &:last-child {
            border: none;
            margin-bottom: 0;
        }
    }
}

.list--mq-flextoblock {
    @include mq($small-only) {
        @include display-flex;
        @include justify-content(space-between);

        > .list-item {
            @include flex-grow(1);
        }

        .no-flexbox & {
            text-align: center;

            > .list-item {
                display: inline-block;
            }
        }
    }
}

.list--mq-blocktoflex {
    @include mq($medium-and-up) {
        @include display-flex;
        @include justify-content(space-between);

        > .list-item {
            @include flex-grow(1);
        }

        .no-flexbox & {
            text-align: center;

            > .list-item {
                display: inline-block;
            }
        }
    }
}

.list--flex {
    @include display-flex;
    @include justify-content(space-between);
    @include flex-wrap(wrap);

    > .list-item {
        @include flex-grow(1);
    }
}

.list--inline {
    //display: inline-block;

    .list-item {
        border: none;
        display: inline-block;
        margin-right: 15px;

        @include mq($medium-and-up) {
          margin-right: 30px;
        }

        @include mq($small-and-up) {
          margin-right: 25px;
        }

        &:last-child {
          margin-right: 0;
        }
    }

    &.list--spaced {
      > .list-item {
        margin-right: 25px;

        @include mq($small-only) {
          margin-right: 10px;
        }
      }
    }
}

.list-item {
    padding: 2.4rem 0;
    border-top: 1px solid $nearwhite;
    margin-bottom: 0;

    &:last-child {
        /* border-bottom: 1px solid $lightergray;*/
    }

    .list--borderbottom & {
        border-top: none;
        border-bottom: 1px solid $nearwhite;
    }

    > a {
      display: block;
    }

    article {
      margin-bottom: 0;
    }
}

.list-item--tall {
    padding: 2rem 0;
}

.list-item--medium {
    padding: 1.5rem 0;

    @include mq($small-only) {
        padding: 1rem 0;
    }
}

.list-item--short {
    padding: 0.6rem 0;

    @include mq($medium-only) {
        padding: 0.5rem 0;
    }
}

.list-item--nav {
    padding: 0.5rem 0 0;
}

.list-item--tiny {
    padding: 0.5rem 0;
    line-height: 12px;
}

.list-item--dimmed {
    border-color: $darkgray;

    &:last-child {
        border-color: $darkgray;
    }
}
