.index-loading,
.channel-loading,
.legacy-loading,
.story-loading,
.shows-loading {
  background-color: white;
  
  .thin-line { background-color: #f2f2f2; overflow: hidden; height: 14px; margin-bottom: 14px; border-radius: 2px;}
  .bg-gray1 { background-color: #f2f2f2; overflow: hidden; }
  .bg-gray2 { background-color: #e0e0e0; overflow: hidden; }
  .bg-gray3 { background-color: #fafafa; overflow: hidden; }
  .bg-gray4 { background-color: #eeeeee; overflow: hidden; }
  .bg-gray5 { background-color: #e8e8e8; overflow: hidden; }
  .square-small { height: 50px; width: 50px; }
  .btn { color: transparent !important; border: none; pointer-events: none; }
  .l-bgimg:before { background-color: transparent; }
  .rounded { border-radius: 2px; }
  .centered {margin-left: auto; margin-right: auto;}
  .nudge-extra { margin-bottom: 22px; }
  .white-box { background-color: white; padding: 20px; position: relative; width: 100%;}
  .bottom { position: absolute; bottom: 0; left: 0; right: 0; }
  .white-box .bottom { padding: 20px; }
  .vertical-card { position: relative; background-color: #f2f2f2; }
  .flag-image--squeeze > div { margin-top: -10px; margin-bottom: -10px; }
  .loading-page { top: 56px; }
  #brand-logo { background-image: url(/assets/svg/wnyc-sprite-vector.svg); }
}

.channel-loading {
  margin-top: -24px;
}

.index_loading {
  .sitechrome-top,
  .sitechrome-nav {
    margin-bottom: 0;
  }
}

.index-loading {
  background-color: #f1f1f1;
}
