// ANIMATION

@mixin outer-spinner(
$primary: rgba(239,239,239,1),
$accent: rgba(176,176,175,1),
$height: 30,
$width: 30,
$borderWidth: 6,
$top: 0,
$left: 0,
$right: 0,
$bottom: 0
) {
  content: '';
  display: block;
  position: absolute;
  top: #{$top}px; left: #{$left}px; right: #{$right}px; bottom: #{$bottom}px;
  margin: auto;
  width: #{$height}px;
  height: #{$width}px;
  border: #{$borderWidth}px solid $primary;
  border-radius: 50%;
  border-left-color: $accent;
  border-top-color: $accent;

  text-align: center;
  animation: bigSpin 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  transform-origin: 50% 50%;
}

@mixin inner-spinner(
$primary: rgba(239,239,239,1),
$accent: rgba(176,176,175,1),
$height: 14,
$width: 14,
$borderWidth: 6,
$top: 0,
$left: 0,
$right: 0,
$bottom: 0
) {
  content: '';
  display: block;
  position: absolute;
  top: #{$top}px; left: #{$left}px; right: #{$right}px; bottom: #{$bottom}px;
  margin: auto;
  width: #{$height}px;
  height: #{$width}px;
  border: #{$borderWidth}px solid $primary;
  border-radius: 50%;
  border-left-color: $accent;
  border-top-color: $accent;

  animation: bigSpin .8s linear infinite;
  animation-origin: 50% 50%;
}


