// ANIMATION

@mixin spinner(
$primary: rgba(239,239,239,1),
$accent: rgba(176,176,175,1),
$innerWidth: 14px,
$innerHeight: 14px,
$outerWidth: 30px,
$outerHeight: 30px,
$borderWidth: 6px,
$top: 0px,
$left: 0px,
$right: 0px,
$bottom: 0px
) {
  &:before { //inner spinner
    content: '';
    display: block;
    position: absolute;
    top: #{$top}; left: #{$left}; right: #{$right}; bottom: #{$bottom};
    margin: auto;
    width: #{$innerWidth};
    height: #{$innerWidth};
    border: #{$borderWidth} solid $primary;
    border-radius: 50%;
    border-left-color: $accent;
    border-top-color: $accent;

    animation: bigSpin .8s linear infinite;
    animation-origin: 50% 50%;
  }
  &:after { //outer spinner
    content: '';
    display: block;
    position: absolute;
    top: #{$top}; left: #{$left}; right: #{$right}; bottom: #{$bottom};
    margin: auto;
    width: #{$outerWidth};
    height: #{$outerHeight};
    border: #{$borderWidth} solid $primary;
    border-radius: 50%;
    border-left-color: $accent;
    border-top-color: $accent;

    text-align: center;
    animation: bigSpin 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
    transform-origin: 50% 50%;
  }
}
