// ANIMATION

@mixin spinner(
$primary: rgba(239,239,239,1),
$accent: rgba(176,176,175,1),
$innerWidth: 14px,
$innerHeight: 14px,
$outerWidth: 30px,
$outerHeight: 30px,
$borderWidth: 6px,
$top: 0px,
$left: 0px,
$right: 0px,
$bottom: 0px
) {

  &:before { //inner spinner
    content: '';
    display: block;
    position: absolute;
    top: #{$top}; left: #{$left}; right: #{$right}; bottom: #{$bottom};
    margin: auto;
    width: #{$innerWidth};
    height: #{$innerWidth};
    border: #{$borderWidth} solid $primary;
    border-radius: 50%;
    border-left-color: $accent;
    border-top-color: $accent;
    top: -200px;

    animation: bigSpin .8s linear infinite;
    animation-origin: 50% 50%;
  }
  &:after { //outer spinner
    content: '';
    display: block;
    position: absolute;
    top: #{$top}; left: #{$left}; right: #{$right}; bottom: #{$bottom};
    margin: auto;
    width: #{$outerWidth};
    height: #{$outerHeight};
    border: #{$borderWidth} solid $primary;
    border-radius: 50%;
    border-left-color: $accent;
    border-top-color: $accent;
    top: -200px;

    text-align: center;
    animation: bigSpin 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
    transform-origin: 50% 50%;
  }
}

@mixin edgeOnly {
  // https://jeffclayton.wordpress.com/2015/04/07/css-hacks-for-windows-10-and-spartan-browser-preview/
  @supports (-ms-ime-align:auto) {
     @content;
  }
}

@mixin for-high-dpi-display {
  // https://css-tricks.com/responsive-images-css/
  // http://www.hongkiat.com/blog/css-retina-display/
  @media
    (-webkit-min-device-pixel-ratio: 1.5),
    (   min--moz-device-pixel-ratio: 1.5),
    (     -o-min-device-pixel-ratio: 3/2),
    (        min-device-pixel-ratio: 1.5),
    (min-resolution: 192dpi) {
    @content
  }
}

@mixin responsive-background-image($image1x, $image2x) {
  background-image: url($image1x);
  // use media query detection to load a higher def image
  @include for-high-dpi-display {
    background-image: url($image2x);
  }
  // but if the browser supports image-set let it choose for itself
  background-image: -webkit-image-set( url($image1x) 1x, url($image2x) 2x);
  background-image: image-set( url($image1x) 1x, url($image2x) 2x);
}
