// These are the defaults in nypr-player

$nypr-player-primary-color    : #FFF;
$nypr-player-background-color : #333;
$nypr-player-accent-color     : #128cf4;

$wnyc-player-link-color       : #77A6DE;

@import "nypr-player";
@import "nypr-ui";

.nypr-player .sharebutton {
  display: none;
  @include mq($nypr-player-medium-and-up) {
    display: inline-block;
    margin-left: 8px;

    .popupmenu-button {
      @include svg-color($wnyc-player-link-color);
      height: 100%;
      width: 60px;
      text-align: right;
      vertical-align: middle;
      font-size: 12px;
      font-weight: 700;
      color: $wnyc-player-link-color;

      .icon {
        display: inline-block;
        width: 16px;
        height: 12.5px;
        color: $wnyc-player-link-color;
        position: relative;
        top: 2px;
      }
    }
  }
}
.nypr-player-track-info {
  line-height: 1.5;
}

.nypr-player-stream-info {
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 4px;
  position: relative;

  a {
    font-weight: 700;
    margin-right: 10px;
    color: $wnyc-player-link-color;

    &:hover {
      border-bottom-color: $wnyc-player-link-color;
    }
  }
}

.nypr-player-stream-info-station-info {
  color: rgba($nypr-player-primary-color, 0.8);
  a {
    color: $nypr-player-primary-color ;
    font-weight: 700;

    &:hover {
      border-bottom-color: $nypr-player-primary-color;
      @include mq($nypr-player-medium-and-up) {
        border-bottom-color: inherit;
      }
    }
  }
}

.nypr-player-stream-info-station-links {
  display: none;
  @include mq($nypr-player-medium-and-up) {
    display: inline;
  }
}

// liquid-fire compat
.nypr-player-wrapper.liquid-container {
  @include transform(none);
}
