.persistent-player {
    height: 95px;
    width: 100%;
    padding-bottom: 25px;
    position: fixed;
    bottom: -15px;
    z-index: $zIndex--persistent-player;

    background-color: rgba(51, 51, 51, 1);
    color: white;
    font-weight: 600;

    @include mq($medium-and-up) {
      padding-bottom: 15px;
    }

    .l-flexcontext,
    .l-holygrail,
    .l-holygrail-left,
    .l-holygrail-middle,
    .l-holygrail-right {
      height: 100%;
    }

    .l-holygrail-left {
      min-width: 153px;
      @include flex(0 1 153px);

      @include mq($medium-and-up) {
        min-width: 230px;
        @include flex(0 1 230px);
      }
    }
    .l-holygrail-middle {
      min-width: 0;
      @include flex(1 0 0);
    };
    .l-holygrail-right {
      min-width: 70px;

      @include mq($medium-and-up) {
        min-width: 194px;
      }
    }
}

/* Metadata */
.persistent-playerinfo {
  .persistent-playerinfoline {
     white-space: nowrap;
     position: relative;
  }
  .streaminfoline {
    display: block;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 4px;
    position: relative;

    a {
      font-weight: 700;
      margin-right: 5px;
      color: #77a6de;
      
      &:hover {
        border-bottom-color: #77a6de;
      }
    }
  }
  .streaminfoline-stationinfo {
    color: #d9d9d9;
    a {
      color: #fff;
      font-weight: 700;

      &:hover {
        border-bottom-color: #ffffff;
        @include mq($medium-and-up) {
          border-bottom-color: inherit;
        }
      }
    }
  }
  .streaminfoline-stationlinks {
    display: none;
    @include mq($medium-and-up) {
      display: inline;
    }
  }

  .sharebutton {
    display: none;

    @include mq($medium-and-up) {
      display: inline-block;
      margin-left: 8px;

      .popupmenu-button {
        width: 60px;
        text-align: right;
        vertical-align: middle;
        font-size: 12px;
        font-weight: 700;
        color: #77a6de;

        .icon {
          display: inline-block;
          width: 16px;
          height: 12.5px;
          color: #77a6de;
          position: relative;
          top: 2px;
        }
      }
    }
  }

}

/* Control buttons */

.persistent-player--controls {
  @include display-flex;
  width: 100%;
  margin: 3.5px;
  height: 100%;

  > button,
  > button.listen-button {
    min-width: 26px;
    text-align: center;
    height: 100%;
    transition: color 0.2s ease-in-out;

    .icon {
      display: block;
      transition: fill 0.2s ease-in-out, opacity 0.3s ease-in-out;
      // hacks to fix weird animation bugs in safari
      transform: translateZ(0);
      will-change: fill, opacity;

      path {
        fill: white;
      }
    }
  }

  @include mq($medium-and-up) {
    margin: 0px;

    .l-holygrail-right & {
      justify-content: flex-end;
      margin-right: 10px;

      > button {
        margin: 0 10px 0 18px;
      }
    }
    .l-holygrail-middle {
      margin: 0 15px;
    }
  }
}

/* Individual Buttons */

button.persistent-skipbutton {
  > .icon {
    height: 100%;
    width: 26px;

    path {
      fill: white;
    }
  }

  margin-left: 11px;

  &:first-child {
    margin-left: 14px;
  }

  @include mq($medium-and-up) {
    > .icon {
      width: 30px;

      path {
        fill: white;
      }
    }

    margin-left: 20px;

    &:first-child {
      margin-left: 30px;
    }
  }

  + button {
    margin-left: 15px;

    @include mq($medium-and-up) {
      margin-left: 20px;
    }
  }
}

//button.persistent-playbutton {
//  // until this is merged wth all sass, just duplicate the class
//  //@extend .btn;
//  background-color: transparent;
//  color: white;
//  padding: 0;
//  border: none;
//  position: relative;
//  width: 48px;
//  margin-left: 11px;
//
//  > path,
//  > polygon {
//    fill: white;
//  }
//
//  > .persistent-playbutton--play, {
//    top: 0;
//    width: 48px;
//    height: 48px;
//    height: 100%;
//  }
//
//  > .persistent-playbutton--pause {
//    top: 0;
//    width: 48px;
//    height: 48px;
//    height: 100%;
//  }
//
//  @include mq($medium-and-up) {
//    width: 55px;
//    height: 55px;
//    margin-left: 20px;
//
//    > .persistent-playbutton--play, {
//      width: 55px;
//      height: 55px;
//    }
//
//    > .persistent-playbutton--pause {
//      width: 55px;
//      height: 55px;
//    }
//  }
//}

button.persistent-queuebutton {
  position: relative;
  width: 65px;
  border-radius: 50%;
  background: transparent;
  color: white;
  margin-right: 15px;

  &.floating-queuebutton {
    top: 15px;
    margin-right: 0;
    height: 65px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background: rgba(51,51,51,1);
    @include transition(color 0.2s ease-in-out);

    .persistent-queueicon {
      &.persistent-queueicon--closequeue {
        width: 16px;
        height: 16px;
      }
      &.persistent-queueicon--openqueue {
        transform: scale(0.5);
      }
    }
    .persistent-queuelabel {
      top: 36px;
    }

    &:focus {
      opacity: 1;
      background: rgba(71,71,71,1);
    }
  }

  path {
    fill: white;
    @include transition(fill 0.2s ease-in-out);
  }

  &:hover > .persistent-queueicon {
    .white-bar,
    .white-dot {
      background: #cccccc;
    }
    path {
      fill: #cccccc;
    }
  }

  &:hover > .persistent-queuelabel {
    color: #cccccc;
  }

  &:active > .persistent-queueicon {
    .white-bar,
    .white-dot {
      background: #128cf4;
    }
    path {
      fill: #128cf4;
    }
  }

  &:active > .persistent-queuelabel {
    color: #128cf4;
  }
}

.persistent-queuelabel {
  position: absolute;
  left: 0;
  right: 0;
  top: 46px;
  font-size: 12px;
  font-weight: 600;
  @include transition(color 0.2s ease-in-out);
}

.persistent-queueicon {
  @include transition(opacity 0.3s ease-in-out);
  width: 19px;
  height: 19px;
  top: -18px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  &.persistent-queueicon--openqueue {
    width: 45px;
    height: 33px;
    transform: scale(0.6);
  }

  > .white-dot,
  > .white-bar {
    background: #ffffff;
    position: absolute;
    @include transition(background 0.2s ease-in-out);
  }

  > .white-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 0;
  }

  > .white-bar {
    width: 35px;
    height: 5px;
    border-radius: 20px;
    right: 0;
  }

  > .white-bar.white-bar--animate,
  > .white-dot.white-dot--animate {
    opacity: 0;
    bottom: 0;
  }

  > .white-dot:nth-child(3),
  > .white-bar:nth-child(6) {
    bottom: 0;
  }

  > .white-dot:nth-child(4),
  > .white-bar:nth-child(7) {
    bottom: 13px;
  }

  > .white-dot:nth-child(5),
  > .white-bar:nth-child(8) {
    bottom: 26px;
  }

  .animate & {
    > .white-bar.white-bar--animate {
      animation: .9s introColor 1 forwards;
      animation-delay: 0.3s;
      opacity: 0;
    }

    > .white-dot.white-dot--animate {
      animation: 1.4s fade 1 forwards;
      animation-delay: 0.2s;
    }

    > .white-dot:nth-child(3),
    > .white-bar:nth-child(6) {
      animation: .8s moveUp 1 forwards;
      animation-timing-function: ease-in;
    }

    > .white-dot:nth-child(4),
    > .white-bar:nth-child(7) {
      animation: .8s moveUp 1 forwards;
      animation-timing-function: ease-in;
      animation-delay: 0.01s;
    }

    > .white-dot:nth-child(5),
    > .white-bar:nth-child(8) {
      animation: .8s moveUpAndFade 1 forwards;
      animation-timing-function: ease-in;
      animation-delay: 0.02s;
    }
  }
}

button.persistent-queuebutton.is-open-modal {
  > .floating-queueicon--openqueue {
    opacity: 0;
  }
  > .floating-queueicon--closequeue {
    opacity: 1;
  }
}

.persistent-timelabel {
  color: white;
  font-size: 12px;

  .timelabel-separator,
  .timelabel-total {
    color: #b4b4b4;
  }
}

/* Progress Bar */

.persistent-progress {
  @include mq($medium-and-up) {
    @include display-flex;
    @include align-items(center);


    > .progress {
      @include flex(1);
      position: relative;
      bottom: 0;
      margin: 0 15px 0 0;
      height: 21px;
    }

    .progress-wrapper {
      position: relative;
      height: 3px;
    }

    > .persistent-timelabel {
      @include flex(0 0 auto);
    }
  }
}


.queue {
  color: white;
  padding: 0 5px;
}


/* Hidden in mobile */

.volume {
  display: none;

  @include mq($medium-and-up) {
    @include display-flex(inline-flex);
  }
}

.persistent-player .volume {
  background-image: none;
}


/* backdrop */
.persistent-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  z-index: $zIndex--playerBackdrop;

  svg {
    content: " ";
    width: 100%;
    height: 95px;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    image {
      opacity: 0.50;
    }
  }
}

.persistent-player.is-audiostream {
  .l-holygrail-left {
    min-width: 90px;
    @include flex(0 0 90px);

    @include mq($medium-and-up) {
      min-width: 95px;
      @include flex(0 0 95px);
    }
  }

  button.persistent-skipbutton {
    display: none;
  }

  button.persistent-playbutton {
    margin-left: 18px;

    @include mq($medium-and-up) {
      margin-left: 26px;
    }
  }
}

// liquid-fire compat
.player-wrapper.liquid-container {
  @include transform(none);
}

.persistent-player-feedback {
  display: inline-block;
  position: absolute;
  right: 26px;
  top: -40px;
  height: 40px;
  padding: 11px 13px 12px 13px;
  @include mq($medium-and-up) {
    top: -35px;
    height: 35px;
    padding: 8px 13px 10px 13px;
  }
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  color: #ffffff;
  border: none;
  border-radius: 4px 4px 0 0;
  background-color: #128cf4;
  transition: background-color 0.2s;
  &:hover {
    background-color: #1068b3;
  }
  &:active {
    background-color: #013f73;
  }
}
