@import "nypr-player";

.nypr-player .sharebutton {
  @include mq($nypr-player-medium-and-up) {
    display: inline-block;
    margin-left: 8px;

    .popupmenu-button {
      width: 60px;
      text-align: right;
      vertical-align: middle;
      font-size: 12px;
      font-weight: 700;
      color: #77a6de;

      .icon {
        display: inline-block;
        width: 16px;
        height: 12.5px;
        color: #77a6de;

        .icon {
          display: inline-block;
          width: 16px;
          height: 12.5px;
          color: #77a6de;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}

// liquid-fire compat
.nypr-player-wrapper.liquid-container {
  @include transform(none);
}
