@import "nypr-player";

    background-color: rgba(51, 51, 51, 1);
    color: white;
    font-weight: 600;

    @include mq($medium-and-up) {
      padding-bottom: 15px;
    }

    .l-flexcontext,
    .ember-holygrail,
    .ember-holygrail-left,
    .ember-holygrail-middle,
    .ember-holygrail-right {
      height: 100%;
    }

    .ember-holygrail-left {
      min-width: 153px;
      @include flex(0 1 153px);

      @include mq($medium-and-up) {
        min-width: 230px;
        @include flex(0 1 230px);
      }
    }
    .ember-holygrail-middle {
      min-width: 0;
      @include flex(1 0 0);
    }
    .ember-holygrail-right {
      min-width: 70px;

      @include mq($medium-and-up) {
        min-width: 194px;
      }
    }
}

  @include mq($nypr-player-medium-and-up) {
    display: inline-block;
    margin-left: 8px;

    .popupmenu-button {
      width: 60px;
      text-align: right;
      vertical-align: middle;
      font-size: 12px;
      font-weight: 700;
      color: #77a6de;

      .icon {
        display: inline-block;
        width: 16px;
        height: 12.5px;
        color: #77a6de;

        .icon {
          display: inline-block;
          width: 16px;
          height: 12.5px;
          color: #77a6de;
          position: relative;
          top: 2px;
        }
      }
    }
  }

}

/* Control buttons */

.persistent-player--controls {
  @include display-flex;
  width: 100%;
  margin: 3.5px;
  height: 100%;

  > button,
  > button.listen-button {
    min-width: 26px;
    text-align: center;
    height: 100%;
    transition: color 0.2s ease-in-out;

    .icon {
      display: block;
      transition: fill 0.2s ease-in-out, opacity 0.3s ease-in-out;
      // hacks to fix weird animation bugs in safari
      transform: translateZ(0);
      will-change: fill, opacity;

      path {
        fill: white;
      }
    }
  }

  @include mq($medium-and-up) {
    margin: 0px;

    .ember-holygrail-right & {
      justify-content: flex-end;
      margin-right: 10px;

      > button {
        margin: 0 10px 0 18px;
      }
    }
    .ember-holygrail-middle {
      margin: 0 15px;
    }
  }
}

.nypr-player .popupmenu-button {
  color: #77a6de;
  .icon {
    polygon, rect, circle, path {
      fill: #77a6de;
    }
  }
  &:focus {
    color: #128cf4;
    .icon {
      polygon, rect, circle, path {
        fill: #128cf4;
      }
    }
  }
  &:active  {
    color: #128cf4;
    .icon {
      polygon, rect, circle, path {
        fill: #128cf4;
      }
    }
  }
}

.persistent-player .volume {
  background-image: none;
}


/* backdrop */
.persistent-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  z-index: $zIndex--playerBackdrop;

  svg {
    content: " ";
    width: 100%;
    height: 95px;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    image {
      opacity: 0.50;
    }
  }
}

.persistent-player.is-audiostream {
  .ember-holygrail-left {
    min-width: 90px;
    @include flex(0 0 90px);

    @include mq($medium-and-up) {
      min-width: 95px;
      @include flex(0 0 95px);
    }
  }

  button.persistent-skipbutton {
    display: none;
  }

  button.persistent-playbutton {
    margin-left: 18px;

    @include mq($medium-and-up) {
      margin-left: 26px;
    }
  }
}

// liquid-fire compat
.player-wrapper.liquid-container {
  @include transform(none);
}
