.player-notification {
  @include transform(none);
  @include fontsize(12);
  background-color: $blue;
  position: fixed;
  bottom: 80px;
  width: 100%;
  height: 58px;
  font-weight: 600;
  display: flex;
  align-content: center;
  padding: 0 21px;
  z-index: $nypr-player-zindex;
}

.player-notification-link {
  color: $gold;
  border-bottom: 1px solid rgba($gold, .3);
  align-self: center;
  margin: 0 0 0 10px;
  min-width: 70px;
  &:hover {
    border-bottom-color: rgba($gold, .8);
  }
}

.player-notification-dismiss {
  cursor: pointer;
  align-self: center;
  padding: 10px;

  path {
    fill: white;
  }
}

.player-notification-close-icon {
  padding: 20px;
  height: 100%;
  width: 58px;
}

.player-notification-action {
  @include flex(1 1 60px);
  display: flex;
  flex-flow: row;
  min-width: 60px;
  max-width: 60px;
}

.player-notification-wrapper.liquid-container {
  @include transform(none);
}

.player-notification-message {
  @include flex(1);
  margin: 0;
  color: #FFF;
  padding: 10px;
  align-self: center;
}



// ipad messes with the alignment of the text a little bit
@media only screen and (min-width: 600px) {
  .player-notification {
    @include fontsize(16);
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .player-notification {
    bottom: 80px;
  }
}
