.notification {
  @include fontsize(12);
  background-color: $blue;
  position: fixed;
  bottom: 95px;
  width: 100%;
  height: 58px;
  font-weight: 600;
  display: flex;
  align-content: center;

  .notification-link {
    color: $gold;
  }

  .player-notification {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
  }


  .dismiss-notification {
    cursor: pointer;
    align-self: center;
    padding: 10px;

    path {
      fill: white;
    }
  }

  .notification-change-settings {
    align-self: center;
    padding: 10px;
    min-width: 70px;
  }

  .close-icon {
    padding: 20px;
    height: 100%;
    width: 58px;
  }
}

.notification-action {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  justify-content: space-between;
  min-width: 150px;
}

.notification-wrapper.liquid-container {
  @include transform(none);
}

.notification-message {
  margin: 0;
  padding: 10px;
  align-self: center;
}

// ipad messes with the alignment of the text a little bit
@media only screen and (min-width: 600px) {
  .notification {
    @include fontsize(16);
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .notification {
    bottom: 80px;
  }
}
