.popupmenu {
  position: relative;
  display: inline-block;

  .popupmenu-button {
    display: inline-block;
  }

  .popupmenu-popup {
    visibility: hidden;
    opacity: 0;
    transform-origin: bottom;
    transform: scale(1,0);
    position: absolute;
    left: 0;
    bottom: 35px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.3);
    background: #ffffff;
    width: 180px;
    transition: transform .25s cubic-bezier(0.23, 1, 0.32, 1.02),
                visibility .25s cubic-bezier(0.23, 1, 0.32, 1.02),
                opacity .25s cubic-bezier(0.23, 1, 0.32, 1.02);
  }

  .popupmenu-popup-pointer {
    top: calc(100% - 6px);
    left: 50%;
    content: " ";
    background: #ffffff;
    height: 12px;
    width: 12px;
    position: absolute;
    pointer-events: none;
    transform:rotate(45deg);
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
  }

  &.is-open .popupmenu-popup {
    visibility: visible;
    opacity: 1;
    transform: scale(1,1);
  }
}
