.for-print {
  display: none;
  font-weight: 600;
  @extend %vertical-rhythm;
}

@media print {
  body {
    color: #000;
    background: #fff;
    overflow: visible;
  }

  body,
  article {
    width: 100%;
  }

  ul,
  img {
    page-break-inside: avoid;
  }

  main a {
    font-weight: bolder;
  }

  main > article > section a[href^=http]:after {
    content: " <" attr(href) "> ";
  }

  main > article > section a[href^="#"]:after {
    content: '';
  }

  #menu-button,
  #search-wrapper,
  #support-links,
  #leaderboard,
  #rightRail, 
  #stream_launch_widget,
  #comments,
  #related,
  #navigation-menu,
  #series,
  #story-chunk,
  #footer_container,
  #footer,
  #segments,
  .survey,
  .crowd-results form,
  iframe[src*=youtube],
  iframe[src*=vimeo],
  .user-embedded-video,
  .figure-caption-button,
  [id*=share],
  .stf,
  .js-listen,
  .js-queue,
  .js-dropdownClickable,
  .videoplayer,
  .user-embedded-video,
  .tabs-header {
    display: none !important;
  }

  article.doubledown {
    margin-bottom: 0;
  }

  .tab-wrapper {
    overflow: visible !important;
    height: auto !important;
  }

  .tab-toggleitem {
    opacity: 1 !important;
    position: static;
    transition: none;
  }

  .for-print {
    display: block;
  }

  .figure-caption {
    position: static;
  }

  .figure-caption-body {
    position: static;
    padding: 0;
    background: #fff;
    -webkit-clip-path: none;
    clip-path: none;
    opacity: 1;
    transition: none;
    transform: none;

    * {
      color: black !important;
    }
  }

  .text {
    color: black;
  }
  
  .sitechrome-nav,
  .sitechrome-top {
    display: none;
  }
  
  .ad {
    display: none;
  }
  
  .admessage {
    display: none;
  }
  
  /* Schedules */

  .program-details, .show-details, #daily-schedule-sidebar, .print-schedule, ul.schedule-dates li.yesterday, ul.schedule-dates li.tomorrow {
    display: none;
  }

  .schedule-table {
    border-top: 0px solid #555;
  }

  ul.schedule-dates li.today {
    padding-top: 10px;
    background: none;
    text-align: left;
  }

  .schedule-tabs li {
    visibility: hidden;
  }

  .schedule-tabs li.ui-state-active {
    visibility: visible;
  }

  ul.schedule-tabs li.wqxr a {
    background-image: none;
  }

  ul.schedule-tabs li.q2 a {
    background-image: none;
  }

  .schedule-tabs li.ui-state-active a {
    text-indent: 0px;
    font-size: 14px;
    color: #000;
  }
}
