.progress {
    position: absolute;
    height: 10px;
    .touch & {
      height: 34px;
    }
    bottom: 95px;
    left: 0;
    right: 0;

    @include display-flex;
}

.progress-wrapper,
.progress-bg,
.progress-downloaded,
.progress-played {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 5px;
  height: 100%;
}

.progress-wrapper {
  width: 100%;
  border-left: 50px solid black;
  border-right: 50px solid black;
}

.progress-bg {
  width: 100%;
  background-color: rgba($darkergray, 0.75);
}

.progress-downloaded {
    width: 0%;
    background-color: rgba(white, 0.3);
}

.progress-played {
    width: 0%;
    background-color: #4a90e2;
}

.progress-playhead {
    position: absolute;
    height: 22px;
    width: 22px;
    transform: scale(0, 0);
    left: 0;
    opacity: 0;
    background-color: #4a90e2;
    bottom: 0;
    border-radius: 50%;
    margin: -7px -11px;
    @include transition(opacity 200ms linear, transform 200ms ease);

    .is-loaded & {
      opacity: 1;
    }

    .touch &,
    .is-dragging &,
    .progress:hover & {
      transform: scale(1, 1);
    }

    .progress.is-touching & {
      transform: scale(3, 3) translateY(-6px);
      opacity: 0.75;
    }
}
