.progress {
    position: absolute;
    height: 10px;
    .touch & {
      height: 34px;
    }
    bottom: 95px;
    left: 0;
    right: 0;

    @include display-flex;
}

.progress-wrapper,
.progress-bg,
.progress-downloaded,
.progress-played {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 5px;
  height: 100%;
}

.progress-wrapper {
  width: 100%;
  @include mq($small-only) {
    .touch & {
      border-left: 50px solid black;
      border-right: 50px solid black;
    }
  }
}

.progress-bg {
  width: 100%;
  background-color: rgba($darkergray, 0.75);
}

.progress-downloaded {
    width: 0%;
    background-color: rgba(white, 0.3);
}

.progress-played {
    width: 0%;
    background-color: #4a90e2;
}

.progress-playhead {
    position: absolute;
    height: 22px;
    width: 22px;
    margin: -8px -16px;
    .touch & {
      height: 34px;
      width: 34px;
      margin: -14px -16px;
    }
    transform: scale(0, 0);
    left: 0;
    opacity: 0;
    bottom: 0;
    @include transition(opacity 200ms linear, transform 200ms);

    .is-loaded & {
      opacity: 1;
    }

    .touch &,
    .is-dragging &,
    .progress:hover & {
      transform: scale(1, 1);
    }

    .touch .progress.is-touching & {
      transform: scale(3.3, 3.3) translateY(-7px);
      opacity: 0.75;
      @include transition(opacity 200ms linear 200ms, transform 200ms ease-out 200ms);
    }

    &:after {
      content: '';
      height: 22px;
      width: 22px;
      background-color: #4a90e2;
      border-radius: 50%;
      opacity: 1;
      display: block;
      position: absolute;
      top: 11px;
      left: calc(50% - 11px);
      top: calc(50% - 11px);
    }
}
