.progress {
    position: absolute;
    height: 5px;
    bottom: 15px;
    left: 0;
    right: 0;

    @include display-flex;
    //&:hover > .progress-wrapper {
    //    @include scale3d(1,1,1);
    //}

    &:hover .progress-playhead {
      opacity: 1;
    }
}

.progress-wrapper {
    height: 5px;
    position: relative;
    margin: auto;
    @include flex-basis(100%);

    // @include mq("(min-width: 800px)"){
    //     @include scale3d(1,0.22222,1);
    //     @include transition(transform 150ms ease);
    // }
}

.progress-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(white, 0.4);
}

.progress-downloaded {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(white, 0.3);
}

.progress-played {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #4a90e2;
}

.progress-playhead {
    position: absolute;
    height: 17px;
    width: 2px;
    left: 0;
    opacity: 0;
    background-color: white;
    top: 0;
    bottom: 0;
    margin: -7px 0;

    @include transition(opacity 150ms ease);
}
