.player-history,
.player-queue {
  .l-holygrail-middle,
  .l-holygrail-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .liquid-animating [data-id] {
    background: white;
  }

  > .liquid-container {
    &,
    > .liquid-child {
      overflow: visible;
    }
  }

  .list {
    position: relative;
    margin-bottom: 0;
    background: $nearwhite;
  }

  .sortable-item {
    @include transition(all 0.125s);
    position: relative;
  }

  @mixin queue-left-icon($width, $margin-right, $color) {
    position: absolute;
    left: -50px;
    top: 0;
    height: 100%;
    width: 50px;

    > .icon {
      display: block;
      height: 100%;
      width: $width;
      box-sizing: border-box;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 50px - $width - $margin-right;
      margin-right: $margin-right;
      path {
        fill: $color;
      }
    }
  }

  .queueitem-draghandle {
    @include queue-left-icon(8px, 17px, $lightgray);
    > .icon {
      display: none;
    }
  }

  .queueitem-playingicon {
    @include queue-left-icon(16px, 13px, $red);
  }

  .sortable-item {
    cursor: move;
    cursor: ns-resize;
    cursor: -webkit-grab;
    cursor: grab;
    transition: box-shadow 0.125s ease, all 0.125s ease;
    box-shadow: 0 0 8px -8px rgba(0, 0, 0, 0.3),
                0 0 8px -8px rgba(0, 0, 0, 0.3);
  }
  .sortable-item.is-dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    transition: box-shadow 0.125s ease;
    box-shadow: 0 8px 8px -8px  rgba(0, 0, 0, 0.3),
                0 -8px 8px -8px rgba(0, 0, 0, 0.3);
    z-index: 20;
  }

  .sortable-item.is-dropping {
    box-shadow: 0 0 8px -8px rgba(0, 0, 0, 1),
                0 0 8px -8px rgba(0, 0, 0, 1);
    z-index: 20;
  }

  .list-item {
    background: #ffffff;
    padding: 0;
    border-top: 1px solid rgb(241, 241, 241);
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid rgb(241, 241, 241);
    }
  }
  .queuelist-empty {
    background: #ffffff;
    color: $darkergray;
    font-size: 14px;
    padding: 8px 22px;
  }
}

.queueitem {
  padding: 15px 22px;

  .queueitem-showtitle {
    display: block;

    a {
      color: $gray;
    }
  }

  .queueitem-title {
    display: block;

    .queueitem-itemtitle {
      a {
        color: $darkestgray;
      }
    }

    .queueitem-duration {
      display: inline-block;
      margin-left: 10px;
      align-self: flex-end;
      font-size: 12px;
      color: $lightgray;
      white-space: nowrap;
    }
  }

  .queueitem-title a, .queueitem-showtitle a {
    text-decoration: none;
    border-bottom: none;

    &:hover,
    &:focus {
      color: #128cf4;
    }
    &:active {
      color: #013f73;
    }
  }

  .queueitem-controls {
    display: block;
    margin-top: 8px;

    button {
      margin: 0 24px 0 0;
    }

    > .queueitem-sharebutton {
      display: inline-block;
    }

    > .queueitem-sharebutton button .icon {
      width: 21px;
      height: 16px;
    }
    > .queueitem-deletebutton .icon {
      width: 15px;
      height: 18px;
    }

    button .icon {
      display: inline-block;
      polygon, rect, circle, path  {
        fill: $lightgray;
      }
    }
    button:hover .icon {
      polygon, rect, circle, path {
        fill: #128cf4;
      }
    }
    button:active .icon {
      polygon, rect, circle, path {
        fill: #1068b2;
      }
    }
  }
}

@include mq($wide) {
  .queueitem {
    padding-left: 0;
    padding-right: 0px;

    .queueitem-info {
      position: relative;
      padding-right: 100px;
    }

    .queueitem-controls {
      margin: 0;
      visibility: hidden;
      position: absolute;
      width: 90px;
      top: calc(50% - 13px);
      right: -8px;
    }
  }
  .queueitem:hover {
    > .queueitem-draghandle > .icon {
      display: block;
    }
    .queueitem-controls {
      visibility: visible;
    }
  }

  .player-history,
  .player-queue {
    .queuelist-empty {
      padding: 22px 0;
      font-size: 14px;
      border-top: 1px solid rgb(221, 221, 221);
    }
  }
}

.touch .queueitem {
  // always show queue-item on touch screen
  .queueitem-controls {
    visibility: visible;
  }
  // don't show drag handle. touch drag isn't implemented yet
  .queueitem-draghandle .icon {
    display: none;
  }
}
