.resend-button {
  color: $wqxrlink;
  border-color: transparent;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-style: solid;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $wqxrlink;
  }

  &:active {
    color: $wqxrdarkblue;
    border-color: $wqxrdarkblue;
  }
}

.resend-success {
  color: $lightgray;
}

.resend-error {
  color: $red;
}
