.setting-queuefinish {
  margin: 22px;
  font-size: 14px;
  font-style: italic;

  button {
    color: blue;
    pointer: cursor;
    font-size: 14px;
    font-style: italic;
  }

  .popupmenu {
    font-style: normal;
  }
}
