@import 'mixins/_layout';
@import 'mixins/_transitions';

.sitechrome-corner {

  > h1 {
    margin: 0;

    > a:hover {
      opacity: 1;
    }
  }

  .icon--wqxr-logo-nav #wnyc-logo{
    fill: white;
  }
}

.sitechrome-top {
  padding-top: 20px;
  @extend %vertical-rhythm;
  background: $wqxrblue;

  @include mq($up-to-large) {
    margin-bottom: 0;
  }

  @include mq($large-and-up) {
    background: white;
    padding-top: 0;
    height: 115px;
  }

  .profile & {
    margin-bottom: 0;
  }
}

.sitechrome-topright {
  @include flexbox((
    display: flex,
    align-items: flex-end,
    justify-content: flex-end
  ));
  @include mq($small-only) {
    @include flexbox((
      justify-content: flex-end,
      flex-wrap: wrap
    ));
  }
  > a,
  > div {
    @include flexbox((
      justify-content: center,
      align-self: center
    ));
    height: 100%;
    margin-right: 10px;
    white-space: nowrap;

    @include mq($small-only) {
      margin-right: 5px;
    }
  }
}

.sitechrome-nav {
  background-color: $wqxrblue;
  @include transition(all 50ms ease);
  //for mobile header snap
  width: 100%;
  position: sticky;
  top: 0;
  z-index: $zIndex--fixedNav;
  margin-bottom: 24px;

  .new {
    color: $gold;
  }

  ul.alignright {
    border-color: $wqxrblue;
  }

  a,
  button {
    color: white;
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    }

  a {
    padding-bottom: 10px;

    @include mq($medium-only) {
      font-weight: 600;
    }


  }

  a:hover,
  button:hover,
  a:focus,
  button:focus {
    opacity: 0.8;
    color: white;
    text-decoration: none;
  }

  &.x-scrollable {
    a, button {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4;
    }
  }

  h1 {
    a,
    a:hover {
      border: 1px dotted rgba(0, 0, 0, 0);
      padding: 45px 17px 26px 19px;
    }

    a:focus {
      opacity: 1;
      border: 1px dotted rgba(0, 0, 0, .2);
    }
  }

  .list-item > a {
    border-bottom-color: $blue;
  }

  .list-item.active a {
    opacity: 1;

    @include mq($medium-only) {
      border-bottom: 4px solid $blue;
    }
  }

  @include mq($large-and-up) {
    position: fixed;
    width: 150px;
    left: 0;
    height: 100%;
    padding-bottom: 117px;

    a {
      padding-bottom: 0;
    }

    a,
    button,
    a:hover,
    button:hover,
    a:focus,
    button:focus {
      color: $darkestgray;
    }
  }

  .list-item:last-child {
      @include mq($small-only) {
        margin-right: 75px !important;
      }
  }

  .stream-launcher {
    width: 100%;
    text-align: right;

    .listen-ui {
      width: 24px;
    }

    span {
      display: inline-block;
      margin-left: 4px;
    }
  }

  //override legacy alignright style from screen.css
  ul.alignright {
    margin: 0;
    float: none;
    border-right: 1px solid $nearwhite;
  }

  &.nav--homepage {
    background-color: $wqxrblue;

    @include mq($large-and-up) {
      a,
      button,
      a:focus,
      button:focus,
      a:hover,
      button:hover {
        color: white;
        font-weight: 600;
      }

      ul.alignright {
        border-color: $wqxrblue;
      }
    }
  }

  &:not(.x-scrollable) {
    .list-item {
      padding: 1px 18px 1px 0;
      margin: 13px 0;

      a {
        @include transition(none);
      }
    }
    .list--noborder {
        > .list-heading {
            @extend %vertical-rhythm;
        }
    }
    .list-item.active, .list-item.ember-transitioning-in {
      border-right: 3px solid $red;

      a {
        border: none;
      }
    }
    .list-item.active.ember-transitioning-out {
      border-right: 0;
      a {
        color :initial;
        border: none;
      }
    }

  }
}

.profile .sitechrome-nav {
  margin-bottom: 0;
}

.sitechrome-topbody {
  @include display-flex;
  @include flex-wrap(wrap);

  @include mq($large-and-up) {
    height: 100%;
  }

  @include mq($medium-and-up) {
    @include flex-wrap(nowrap);
  }
}

.sitechrome-topbody-left {
  @include flex-basis(100%);
  @include order(2);
  @include display-flex;
  @include justify-content(space-between);
  @include align-items(center);

  padding: 5px 15px;
  padding: 5px rems(15);

  border-top: 1px solid rgba(white, 0.23);

  @include mq($large-and-up) {
    border: none;
  }

  @include mq($medium-and-up) {
    @include flex(1 0 300px);
    @include justify-content(space-around);
    @include order(0);
    padding: 0;
    margin-left: 15px;
  }

  > .btn {
    @include mq($small-only) {
      @include fontsize(11);
    }
  }

  > .btn:after {
    @include mq($medium-and-up) {
      content: '|';
      margin-left: 10px;
      opacity: 0.25;
    }
  }

  > .btn:last-child:after {
    content: none;
  }
}

.sitechrome-topbody-right {
  @include display-flex;
  @include justify-content(space-between);
  @include align-items(center);

  @include order(1);
  @include flex-basis(100%);

  margin-bottom: 15px;
  padding: 0 15px 0 24px 0;
  padding: 0 rems(15);

  @include mq($large-and-up) {
    margin-bottom: 0;
  }

  @include mq($medium-and-up) {
    @include flex(1 1 auto);
    @include order(0);

    .cta-text {
      padding: 0 15px;
      display: inline-block;
    }
  }

  > .btn {
  }

  h1 {
    margin: 0;
  }

  .sitechrome-search {
    width: 320px;
  }
}

.sitechrome-list {
  @extend .list;
  @extend .list--noborder;
  margin: 0;
  padding: 0;
  list-style: none;
}



// .btn.btn--large.btn--white
.sitechrome-btn {
  display: inline-block;
  border-radius: 25px;
  color: $wqxrblue;
  padding: 2px 18px 2px 18px;
  background: white;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif;

  @include fontsize(12);
  font-weight: 600;
  line-height: 30px;

  cursor: pointer;

  &:hover,
  &:focus {
    background: rgba(white, 0.8);
    text-decoration: none;
  }

  @include transition(background-color $transition-timing, color $transition-timing);

  @include flex-shrink(0);

  @include mq($large-and-up) {
    font-size: 16px;
    background: $wqxrblue;
    color: white;
    line-height: 36px;
  

    &:hover,
    &:focus {
      background: rgba($wqxrblue, 0.8);
    }
  }


}

.sitechrome__nav-footer {
  @include l-bottom;
  @include player-reveal-transition;
  @include player-reveal-transition--closed;
}

.sitechrome--player-open .sitechrome__nav-footer {
  @include player-reveal-transition--open;
}

.sitechrome-page-content-area {
  position: relative;

  .profile & {
    padding-top: 25px;
    background-color: $nearwhite;
  }
}

.sitechrome-footer {
  h2 {
    color: white;
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;    
  }
  a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; 
    font-weight: 600;
    color: white;
    line-height: 1.5;

    &:hover,
    &:focus {
      color: rgba(white, 0.8);
      text-decoration: none;
    }
  }
}
