.sitechrome-corner {

  > h1 {
    margin: 0;

    > a:hover {
      opacity: 1;
    }
  }

  .icon--wnyc-logo-nav #wnyc-logo{
    fill: $red;
  }

  .nav--homepage & {
    .icon--wnyc-logo-nav #wnyc-logo{
      fill: white;
    }
  }
}

.sitechrome-top {
  padding-top: 20px;
  @extend %vertical-rhythm;
  background: $red;

  @include mq($up-to-large) {
    margin-bottom: 0;
  }

  @include mq($large-and-up) {
    background: white;
    padding-top: 0;
    height: 83px;
  }

  .profile & {
    margin-bottom: 0;
  }
}

.sitechrome-topright {
  display: flex;
  align-items: flex-end;
  > a,
  > div {
    height: 100%;
    margin-right: 10px;
    justify-content: center;
    align-self: center;
    white-space: nowrap;
  }

  a {
    margin-left: auto;
  }

  .user-nav-logged-in {
    position: relative;
    white-space: nowrap;
    @include mq($medium-and-up) {
      min-width: 100px;
    }
  }

  .user-nav-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 100%;
    background-color: $lightestgray;
    vertical-align: middle;
    margin: 0px 0px 0px 10px;
    @include mq($medium-and-up) {
      margin: 0px 4px 0px 10px;
    }
    svg {
      height: 40px;
    }
    path {
      fill: white;
    }
  }

  .user-nav-greeting {
    display: none;
    font-size: 14px;
    color: white;
    margin-right: 4px;
    @include mq($medium-and-up) {
      display: inline-block;
      font-weight: 600;
    }
    @include mq($large-and-up) {
      color: black;
      font-weight: 400;
    }
  }

  .user-nav-triangle {
    display: none;
    width: 0px;
    height: 0px;
    transform-origin: 50% 25%;
    vertical-align: middle;
    transition: 250ms cubic-bezier(0.5, 0, 1, 1) transform;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    @include mq($medium-and-up) {
      display: inline-block;
    }
    @include mq($large-and-up) {
      border-color: $darkergray transparent transparent transparent;
    }
  }

  .is-popup-open .user-nav-triangle {
    transform: rotate(-180deg);
  }

  .user-nav-popup-pointer {
    z-index: $zIndex--fix;
    position: absolute;
    top: 51px;
    left: 23px;
    height: 12px;
    width: 12px;
    transform: rotate(45deg);
    background-color: #ffffff;
    box-shadow: 0px 0px 1px rgba(0,0,0, 0.3);
  }

  .user-nav-popup {
    z-index: $zIndex--fix;
    position: absolute;
    top: 57px;
    right: 0px;
    width: 117px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 2px 2px rgba(0,0,0, 0.3);
    @include mq($medium-and-up) {
      left: -10px;
      right: auto;
    }

    .user-nav-list {
      list-style: none;
      margin: 0;
      padding: 17px;
    }

    .user-nav-listitem {
      display: block;
      width: 100%;
      text-align: center;
      margin: 0  0 11px 0;
      padding: 0;
    }

    .user-nav-listitem:last-child {
      margin-bottom: 0px;
    }

    .user-nav-listitem a,
    .user-nav-listitem button {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      display: inline-block;
      width: 100%;
      text-decoration: none;
      border: none;
      color: $darkergray;

      &:hover,
      &:focus {
        color: #128cf4;
      }
    }
  }

  .user-nav-signup {
    display: none;
  }
  .user-nav-link > a {
    font-weight: 600;
    font-size: 14px;
    color: white;
  }
  @include mq($large-and-up) {
    .user-nav-link > a {
      font-weight: 400;
      color: black;
    }
  }
  @include mq($medium-and-up) {
    .user-nav-signup {
      display: block;
    }
  }
}

.sitechrome-nav {
  background-color: white;
  @include transition(all 50ms ease);
  //for mobile header snap
  width: 100%;
  position: sticky;
  top: 0;
  z-index: $zIndex--fixedNav;
  margin-bottom: 24px;

  a,
  button {
    color: white;
    font-family: 'Museo Sans Rounded', 'Open Sans', sans-serif;
  }

  a {
    padding-bottom: 10px;

    @include mq($medium-only) {
      font-weight: 600;
    }
  }

  a:hover,
  button:hover,
  a:focus,
  button:focus {
    opacity: 0.8;
    color: white;
  }

  h1 {
    a,
    a:hover {
      border: 1px dotted rgba(0, 0, 0, 0);
      padding: 22px 10px 26px 28px;
    }

    a:focus {
      opacity: 1;
      border: 1px dotted rgba(0, 0, 0, .2);
    }
  }

  .list-item > a {
    border-bottom-color: $red;
  }

  .list-item.active a {
    opacity: 1;

    @include mq($medium-only) {
      border-bottom: 4px solid $red;
    }
  }

  @include mq($large-and-up) {
    position: fixed;
    width: 150px;
    left: 0;
    height: 100%;
    padding-bottom: 117px;

    a {
      padding-bottom: 0;
    }

    a,
    button,
    a:hover,
    button:hover,
    a:focus,
    button:focus {
      color: $darkestgray;
    }

    .new {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1.7px;
      color: $red;
    }

  }

  .list-item:last-child {
      @include mq($small-only) {
        margin-right: 75px !important;
      }
  }

  .stream-launcher {
    width: 100%;
    text-align: right;

    .listen-ui {
      width: 24px;
    }

    span {
      display: inline-block;
      margin-left: 4px;
    }
  }

  //override legacy alignright style from screen.css
  ul.alignright {
    margin: 0;
    float: none;
    border-right: 1px solid $nearwhite;
  }

  &.nav--homepage {
    background-color: $red;

    @include mq($large-and-up) {
      a,
      button,
      a:focus,
      button:focus,
      a:hover,
      button:hover {
        color: white;
        font-weight: 600;
      }

      .new {
        color: $gold;
      }

      ul.alignright {
        border-color: $red;
      }
    }
  }

  &:not(.x-scrollable) {
    .list-item {
      padding: 1px 18px 1px 0;
      margin: 13px 0;
    }
    .list--noborder {
        > .list-heading {
            @extend %vertical-rhythm;
        }
    }
    .list-item.active {
      border-right: 3px solid $red;

      a {
        color: $red;
        border: none;
      }
    }
  }
}

.sitechrome-topbody {
  @include display-flex;
  @include flex-wrap(wrap);

  @include mq($large-and-up) {
    height: 100%;
  }

  @include mq($medium-and-up) {
    @include flex-wrap(nowrap);
  }
}

.sitechrome-topbody-left {
  @include flex-basis(100%);
  @include order(2);
  @include display-flex;
  @include justify-content(space-between);
  @include align-items(center);

  padding: 5px 15px;
  padding: 5px rems(15);

  border-top: 1px solid rgba(white, 0.23);

  @include mq($large-and-up) {
    border: none;
  }

  @include mq($medium-and-up) {
    @include flex(1 0 300px);
    @include justify-content(space-around);
    @include order(0);
    padding: 0;
    margin-left: 15px;
  }

  > .btn {
    @include mq($small-only) {
      @include fontsize(11);
    }
  }

  > .btn:after {
    @include mq($medium-and-up) {
      content: '|';
      margin-left: 10px;
      opacity: 0.25;
    }
  }

  > .btn:last-child:after {
    content: none;
  }
}

.sitechrome-topbody-right {
  @include display-flex;
  @include justify-content(space-between);
  @include align-items(center);

  @include order(1);
  @include flex-basis(100%);

  margin-bottom: 15px;
  padding: 0 15px 0 24px 0;
  padding: 0 rems(15);

  @include mq($large-and-up) {
    margin-bottom: 0;
    @include justify-content(flex-end);
  }

  @include mq($medium-and-up) {
    @include flex(1 1 auto);
    @include order(0);

    .cta-text {
      padding: 0 15px;
      display: inline-block;
    }
  }

  > .btn {
  }

  h1 {
    margin: 0;
  }

  .sitechrome-search {
    max-width: 320px;
  }
}

.sitechrome-list {
  @extend .list;
  @extend .list--noborder;
  margin: 0;
  padding: 0;
  list-style: none;
}



// .btn.btn--large.btn--white
.sitechrome-btn {
  display: inline-block;
  border-radius: 25px;
  color: white;
  border: 2px solid white;
  padding: 2px 18px 2px 18px;
  background: $red;
  white-space: nowrap;

  @include fontsize(14);
  font-weight: 600;
  line-height: 30px;

  cursor: pointer;

  @include transition(background-color $transition-timing, color $transition-timing);

  @include flex-shrink(0);

  @include mq($large-and-up) {
    line-height: 36px;
    border: 0;
  }

  &:hover,
  &:focus {
    background: rgba($red, 0.8);
    border-color: rgba(white, 0.5);
  }
}

.sitechrome-page-content-area {
  position: relative;

  .profile & {
    padding-top: 25px;
    background-color: $nearwhite;
  }
}
