.sitechrome-corner {

  > h1 {
    margin: 0;

    > a:hover {
      opacity: 1;
    }

  }

  .icon--wnyc-logo-nav #wnyc-logo{
    fill: $red;
  }

  .nav--homepage & {
    .icon--wnyc-logo-nav #wnyc-logo{
      fill: white;
    }
  }
}

.sitechrome-top {
  padding-top: 20px;
  @extend %vertical-rhythm;
  background: $red;

  @include mq($up-to-large) {
    margin-bottom: 0;
  }
  
  @include mq($large-and-up) {
    background: white;
    padding-top: 0;
    height: 83px;
  }

}

.sitechrome-nav {
  background-color: white;
  @include transition(all 50ms ease);
  //for mobile header snap
  width: 100%;
  position: sticky;
  top: 0;
  z-index: $zIndex--fixedNav;
  margin-bottom: 24px;
  
  a,
  button {
    color: white;
    letter-spacing: 2px;
    font-family: 'Museo Sans Rounded', 'Open Sans', sans-serif;
  }
  
  a {
    padding-bottom: 10px
  }
                      
  a:hover,
  button:hover,
  a:focus,
  button:focus {
    opacity: 0.8;
    color: white;
  }
  
  h1 {
    a,
    a:hover {
      border: 1px dotted rgba(0, 0, 0, 0);
      padding: 28px;
    }

    a:focus {
      opacity: 1;
      border: 1px dotted rgba(0, 0, 0, .2);
    }    
  }
  
  .list-item > a {
    border-bottom-color: $red;
  }
  
  .list-item.active a {
    opacity: 1;
    
    @include mq($medium-only) {
      border-bottom: 4px solid $red;
    }
  }
  
  @include mq($large-and-up) {
    position: fixed;
    width: 166px;
    left: 0;
    height: 100%;
    padding-bottom: 117px;
    border-right: 1px solid $lightestgray;
    
    a {
      padding-bottom: 0;
    }

    a,
    button,
    a:hover,
    button:hover,
    a:focus,
    button:focus {
      color: $darkestgray;
    }

    .new {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1.7px;
      color: #d0021b;
    }

  }

  .list-item:last-child {
      @include mq($small-only) {
        margin-right: 75px !important;
      }
  }

  .stream-launcher {
    width: 100%;
    text-align: right;

    .listen-ui {
      width: 24px;
    }

    span {
      display: inline-block;
      margin-left: 4px;
    }
  }

  //override legacy alignright style from screen.css
  ul.alignright {
    margin: 0;
    float: none;
  }

  &.nav--homepage {
    background-color: $red;
    
    @include mq($large-and-up) {
      border-color: $red;
      
      a,
      button,
      a:focus,
      button:focus,
      a:hover,
      button:hover {
        color: white;
      }

      .new {
        color: #f8e71c;
      }
    }
  }

  &:not(.x-scrollable) {
    .list-item {
      padding: 10px 20px 10px 0;
    }
    .list--noborder {
        > .list-heading {
            @extend %vertical-rhythm;
        }
    }
    .list-item.active {
      background-color: rgba($red, 0.05);
      border-left: 4px solid $red;
      a {
        color: $red;
        border: none;
      }
    }
  }
}

.sitechrome-topbody {
  @include display-flex;
  @include flex-wrap(wrap);

  @include mq($large-and-up) {
    height: 100%;
  }

  @include mq($medium-and-up) {
    @include flex-wrap(nowrap);
  }
}

.sitechrome-topbody-left {
  @include flex-basis(100%);
  @include order(2);
  @include display-flex;
  @include justify-content(space-between);
  @include align-items(center);

  padding: 5px 15px;
  padding: 5px rems(15);

  border-top: 1px solid rgba(white, 0.23);

  @include mq($large-and-up) {
    border: none;
  }

  @include mq($medium-and-up) {
    @include flex(1 0 300px);
    @include justify-content(space-around);
    @include order(0);
    padding: 0;
    margin-left: 15px;
  }

  > .btn {
    @include mq($small-only) {
      @include fontsize(11);
    }
  }

  > .btn:after {
    @include mq($medium-and-up) {
      content: '|';
      margin-left: 10px;
      opacity: 0.25;
    }
  }

  > .btn:last-child:after {
    content: none;
  }
}

.sitechrome-topbody-right {
  @include display-flex;
  @include justify-content(space-between);
  @include align-items(center);

  @include order(1);
  @include flex-basis(100%);

  margin-bottom: 15px;
  padding: 0 15px;
  padding: 0 rems(15);

  @include mq($large-and-up) {
    margin-bottom: 0;
    @include justify-content(flex-end);
  }

  @include mq($medium-and-up) {
    @include flex(1 1 auto);
    @include order(0);

    .cta-text {
      padding: 0 15px;
      display: inline-block;
    }
  }

  > .btn {
  }

  h1 {
    margin: 0;
  }

  .sitechrome-search {
    max-width: 320px;
  }
}

.sitechrome-list {
  @extend .list;
  @extend .list--noborder;
  margin: 0;
  padding: 0;
  list-style: none;
}



// .btn.btn--large.btn--white
.sitechrome-btn {
  display: inline-block;
  border-radius: 25px;
  color: white;
  border: 2px solid white;
  padding: 2px 18px 2px 18px;
  background: $red;
  white-space: nowrap;

  @include fontsize(14);
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 2px;

  cursor: pointer;

  @include transition(background-color $transition-timing, color $transition-timing);

  @include flex-shrink(0);

  @include mq($large-and-up) {
    line-height: 36px;
    border: 0;
  }

  &:hover,
  &:focus {
    background: rgba($red, 0.8);
    border-color: rgba(white, 0.5);
  }
}
