@import "nypr-ui/vars";
@import "nypr-ui/colors";
@import "nypr-ui/mixins/text";

@mixin layout {
  max-width: 750px;
  padding: 0 25px;
  margin: 0 auto;

  @include mq($medium-and-up) {
    max-width: 800px;
    padding: 0 50px;
  }
}

.full-bleed__hero {
  margin-bottom: 35px;

  &.stuck {
    margin-bottom: 0;
  }
}

.full-bleed__logo-link {
  border: none;

  > * {
    pointer-events: none;
  }
}

.full-bleed__logo {
  width: 56px;
  margin-left: 8px;

  path {
    fill: white;
  }

  @include mq($medium-and-up) {
    width: 80px;
  }
}

.full-bleed__donate {
  @include hero-emphasis;
  text-transform: uppercase;
}

.full-bleed__headline {
  @include hero-emphasis;
}

.full-bleed__blurb {
  font-weight: 600;

  > :last-child {
    margin-bottom: 0;
  }
}

.full-bleed__footer > .listen-button {
  align-self: center;
  margin-right: 5px;
  flex-shrink: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: oblique;
}

.full-bleed__share {
  display: flex;
  align-items: center;

  .btn {
    color: white;
    border-color: rgba(white, 0.6);
    font-size: 12px;

    &:hover {
      border-color: white;
    }
  }
}

.full-bleed__share-label {
  display: none;

  @include mq($medium-and-up) {
    display: inline;
    margin-right: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: oblique;
  }
}

.full-bleed__body {

  h1, h2, h3, h4, h5, h6 {
    @include layout;
    color: black;
    font-weight: bold;
    font-style: italic;
  }

  > .django-content > div > p, > .django-content > div > ul, > .django-content > div > ol {
    @include layout;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 1.5;

    @include mq($medium-and-up) {
      font-size: 18px;
      margin-bottom: 35px;
    }
  }

  > .django-content > div > ul, > .django-content > div > ol {
    padding: 0 100px;
  }

  > .django-content > div > p:first-of-type::first-letter {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 93px;
    line-height: 81px;
    float: left;
    margin-right: 7px;
  }

  .embedded-image {
    display: block;

    max-width: 1440px;
    margin: 0 auto;

    > img {
      width: 100%;
      margin-bottom: 15px;

      @include mq($medium-and-up) {
        margin-bottom: 20px;
      }
    }

    > .image-metadata  {
      display: block;
      position: relative;
      padding-top: 0;
      @include layout;
      margin-bottom: 30px;

      @include mq($medium-and-up) {
        margin-bottom: 40px;
      }
    }

    .image-caption {
      position: relative;
      display: block;
      @include hero-emphasis;
      font-size: 14px;
      line-height: 1.35;

      @include mq($medium-and-up) {
        font-size: 18px;
        line-height: 1.25;
      }
    }

    .image-credit {
      display: block;
      font-size: 12px;
      color: $lightgray;
    }
  }
}

.full-bleed__byline {
  @include layout;

  font-size: 16px;
  margin-bottom: 40px;


  > p {
    margin: 0;
  }
}

.full-bleed__author {
  color: black;
  text-decoration: none;
  border: none;
  font-weight: 600;

  &:hover {
    color: $blue;
  }
}

.full-bleed__date {
  font-size: 12px;
  line-height: 2;
}

.producing-org-banner {
  background-color: black;
  padding: 42px 0;
}

.producing-org-banner__body {
  @include layout;

  color: white;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;

  > a {
    color: white;
  }
}

.full-bleed__body .nypr-pull-quote__wrapper {
  @include layout;
}

.nypr-pull-quote {
  @include pull-quote;
}

blockquote:not(.nypr-pull-quote) {
  position: relative;
  max-width: 685px;
  margin: 0 auto;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  border: none;
  @include mq($medium-and-up) {
    font-size: 20px;
    padding: 30px 25px;
  }
  > p {
    padding: 0 0 0 20px;
    color: $lightgray;
    border-left: 6px solid $red;
  }
}

.story__download-link {
  text-decoration: none;
  margin-right: 13px;
  svg {
    margin-right: 4px;
    height: 14px;
  }
  @include mq($medium-and-up) {
    margin: 0 8px 0 15px;
    svg {
      height: 17px;
    }
  }
}

.story-embed__wrapper {
  position: relative;
}

.story__embed-button {
  @include btn;
  color: white;
  padding: 0px;
  svg {
    margin-right: 0px;
    height: 12px;
  }
  @include mq($medium-and-up) {
    margin: 0 0 0 15px;
    svg {
      margin-right: 7px;
      height: 15px;
    }
  }
}

.story__download-link,
.story__embed-button {
  border: none;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;

  svg {
    fill: white;
    stroke: white;
  }

  &:focus, &:hover {
    cursor: pointer;
    color: rgba(white, 0.75);
  }
  @include mq($medium-and-up) {
    line-height: 35px;
  }
}

.story__embed-popup {
  position: absolute;
  width: 238px;
  height: 217px;
  top: 72px;
  left: calc(-238px / 2 +  10px);

  @include mq($medium-and-up) {
    top: 42px;
  }

  background: white;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);

  /* embed popup arrow (two rotated squares) */
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 145px;
    @include mq($medium-and-up) {
      left: 136px;
    }
    width: 20px;
    height: 20px;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background: white;
  }
  &:before {
    z-index: -1;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  }
  &:after {
    z-index: 1;
  }
}

.story__embed-header {
  margin: 19px auto 0;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: black;
}

.story__embed-instructions {
  margin: 0 auto 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.67;
  color: $darkgray;
  a {
  }
}

.story__embed-code {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.67;
  color: $darkgray;
  padding: 5px 23px 0 15px;
  margin: 0 15px;
  height: 127px;
  word-wrap: break-word;
  overflow-y: scroll;
  border: solid 1px rgba(136, 136, 136, 0.3);
}
