.story-tease.full-screen {
  position: relative;
  text-align: center;
  padding: 150px 0 90px;
  height: 490px;

  @include flexbox((
    display: flex,
    flex-direction: column,
    justify-content: flex-end,
    align-items: center
  ));

  @include mq($medium-only) {
    height: 100%;
    padding: 110px 8% 30px;
  }

  .story-tease-meta {
    max-width: 650px;
    width: 100%;
  }
}

.story-tease-floating-header {
  text-align: left;
  position: absolute;
  top: 25px;

  @include mq($small-only) {
    width: 90%;

    .flag {
      @include display-flex;
      @include align-items(center);
      @include justify-content(center);

      &-body {
        width: auto;
      }
    }

    .squarebadge {
      width: 50px;
      height: 50px;
    }
  }
}

.story-tease--flipped {
  .h2 {
    font-weight: normal;
  }
}
