.story-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: none;

  &:hover {

  }
}

.story-card__image {
  display: block;
  background-position: center;
  background-size: cover;
  flex: 1;
}

.story-card__body {
  display: block;
  position: relative;
  flex: 1;
  background: white;
  padding: 15px;

  font-size: 14px;
  line-height: 1.43;
  color: black;

  > .popout-icon {
    fill: #ddd;

    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}
