.streambanner {
  &-title {
    @include fontsize(18);
    font-weight: 600;
    @include flexbox((
      display: flex,
      flex-direction: column,
      align-items: center
    ));
    line-height: 24px;
    margin-bottom: 7px;
    position: relative;

    @include mq($desktop) {
      @include fontsize(24);
      line-height: 2rem;
      @include flexbox((
        flex-direction: row,
        align-items: baseline
      ));

      a {
        margin-left: 10px;
      }
    }
  }
  &-station {
    @include fontsize(18);
    font-weight: 600;
    @include flexbox((
      display: flex,
      flex-direction: column,
      align-items: center
    ));
  }
  &-on-air {
    @include fontsize(12);
    text-transform: uppercase;

    @include mq($desktop) {
      @include fontsize(14);
    }
  }
  &-details {
    @include fontsize(14);
    line-height: 24px;
    text-align: center;
    @include flexbox((
      display: flex,
      flex-direction: column,
      align-items: center
    ));
    margin-bottom: 5px;
    position: relative;
  }
  &-card {
    margin-bottom: 35px;
    padding: 15px 10px;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(black, 0.25);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    > div {
      position: relative;
    }

    select {
      background: transparent;
      margin-left: 10px;
      border: none;
      border-bottom: 1px solid white;
      border-radius: 0;
      -webkit-appearance: none;
      text-transform: uppercase;
    }

    .streambanner-station {
      @include flexbox((
        flex-direction: row,
        justify-content: center
      ));
      @include fontsize(14);
      text-transform: uppercase;
    }
  }
  &-controls {
    @include flexbox((
      display: flex,
      flex-direction: column,
      align-items: center
    ));
  }
  &-link {
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
    color: #128cf4;
  }
  &--light {
    color: white;
    @include filter-container;

    &:before {
      @include classic-filter($filter--light);
    }
  }
  &--desktop {
    border-top: 8px solid $wqxrblue;
    @include mq($small-only) {
      display: none;
    }
  }
}

.streambanner--mobile {
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  margin-bottom: 0;
  position: relative;
  margin-top: -25px;
  color: white;
  padding: 20px;

  &:before {
    background-color: $filter--dark;
  }

  @include mq($small-only) {
    display: block;
  }
}

.swiper {
  &-container {
    height: 350px;
  }
  &-slide {
    @include flexbox((
      display: flex,
      flex-direction: column,
      justify-content: center,
      align-items: center
    ));
    height: 280px;
    margin-top: 10px;

    > div {
      @include flexbox((
        display: flex,
        flex-direction: column,
        align-items: center
      ));
    }
  }
  &-pagination-bullet {
    background-color: #00aeff;
    opacity: 0.5;
    width: 13px;
    height: 13px;

    &-active {
      opacity: 1;
    }
  }
}
