.streams-page {
  &.l-constrained {
    padding: 0;
    overflow-x: hidden;
    @include mq($medium-and-up) {
      padding: 0 25px;
    }
  }
}

.streamlist-header {
  margin: 0 22px;
  @include mq($medium-and-up) {
    margin: 35px 0 0;
    @include display-flex;
    align-items: baseline;
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    @include mq($medium-and-up) {
      font-size: 32px;
      display: inline-block;
      @include flex(1 0 auto);
    }
  }
  nav {
    display: block;
    margin-bottom: 21px;
    @include mq($medium-and-up) {
      display: inline-block;
      margin-bottom: 30px;
      @include flex(1 0 auto);
      text-align: right;
    }
  }
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul li {
    margin-left: 15px;
    display: inline-block;
  }
  ul li:first-child {
    margin: 0px;
  }
  a {
    font-size: 14px;
    line-height: 1.3;
    text-decoration: none;
    color: #128cf4;
  }
}

.stream-list {
  background: #ffffff;
  color: $darkergray;
  padding: 0;

  a, a:active, a:focus {
    outline: 0;
  }

  .streamitem {
    padding: 25px 22px 20px;
    @include mq($medium-and-up) {
      padding: 30px 0;
    }

    border-top: 1px solid #eaeaea;

    .streamitem-imagelink {
      display: none;
      @include mq($medium-and-up) {
        display: inline-block;
        align-self: center;
        margin-right: 20px;
      }
    }
    .streamitem-image {
      height: 75px;
      width: 75px;
    }

    .l-holygrail-left a {
      text-decoration: none;
      transition: none;
    }
    .l-holygrail-left a:hover {
      border-color: transparent;
    }
    .l-holygrail-right {
      min-width: 67px;
      @include flex(0 0 67px);
      @include mq($medium-and-up) {
        min-width: 170px;
        @include flex(0 0 170px);
      }
      @include justify-content(flex-end);
    }
    a {
      text-decoration: none;
    }
    a:hover {
      border-bottom-color: $darkergray;
    }
  }
}
