.streambanner {
  &-title {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 7px;
    font-weight: 400 !important;
  }
  &-station {
    font-weight: 600;
  }
  &-details {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 17px;
  }
  &-card {
    margin: 5% 4% 10%;
    padding: 15px 10px;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(black, 0.25);
  }
  &-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-link {
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
    color: #128cf4;
  }
}
