.stream-banner .stream-banner-card {
  border: none;
  font-family: "Open Sans", sans-serif;
}

.stream-banner .stream-banner-card:before {
  background: rgba(60, 60, 60, 0.85);
}

.stream-banner .stream-banner-card .stream-banner__active-stream {
  font-family: "Open Sans", sans-serif;
}

#wnyc_home .stream-banner .stream-banner-card .stream-banner-details h2 {
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .stream-banner-card {
    margin: 0;
  }
}

.stream-banner .stream-banner-recently .icon * {
    fill: #00aeff;
}

.stream-banner .ember-basic-dropdown-content {
    z-index: $zIndex--persistent-player;
}