.streambanner {
  &-header {
    margin: auto 15px 9px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  &-station {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  &-episode {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 17px;
  }
  &-card {
    margin: auto 15px;
    padding: 16px 12px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(black, 0.2);
  }
  &-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-link {
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
    color: #128cf4;
  }
}
