.streambanner {
  &-title {
    @include fontsize(18);
    font-weight: 600;
    @include flexbox((
      display: flex,
      flex-direction: column,
      align-items: center
    ));
    line-height: 24px;
    margin-bottom: 7px;
    position: relative;
  }
  &-station {
    @include fontsize(18);
    font-weight: 600;
    @include flexbox((
      display: flex,
      flex-direction: column,
      align-items: center
    ));
  }
  &-on-air {
    @include fontsize(12);
    text-transform: uppercase;
  }
  &-details {
    @include fontsize(14);
    line-height: 24px;
    text-align: center;
    @include flexbox((
      display: flex,
      flex-direction: column,
      align-items: center
    ));
    margin-bottom: 17px;
    position: relative;
  }
  &-card {
    margin-bottom: 25px;
    padding: 15px 10px;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(black, 0.25);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
  }
  &-controls {
    position: relative;
  }
  &-link {
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
    color: #128cf4;
  }
  &--light {
    color: white;
    @include filter-container;

    &:before {
      @include classic-filter($filter--light);
    }
  }
  &--desktop {
    border-top: 8px solid $wqxrblue;
    @include mq($small-only) {
      display: none;
    }
  }
}

.streambanner--mobile {
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  margin-bottom: 0;
  position: relative;
  margin-top: -25px;
  color: white;
  padding: 20px;

  &:before {
    background-color: $filter--dark;
  }

  @include mq($small-only) {
    display: block;
  }
}

.swiper {
  &-container {
    height: 350px;
  }
  &-slide {
    @include flexbox((
      display: flex,
      flex-direction: column,
      justify-content: space-between,
      align-items: center
    ));
    height: 280px;
    margin-top: 10px;

    > div {
      @include flexbox((
        display: flex,
        flex-direction: column,
        align-items: center
      ));
    }
  }
  &-pagination-bullet {
    background-color: #00aeff;
    opacity: 0.5;

    &-active {
      opacity: 1;
    }
  }
}
