.tabbedlist {
  margin: 0 0 43px 22px;

  @include mq($medium-and-up) {
    margin: 0 0 60px 0;
  }

  &-list {
    list-style: none;
    margin-bottom: 7px;
    padding: 0;
  }

  &-tab {
    margin: 0 35px 0px 0;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }

  &-button {
    padding-top: 22px;
    padding-bottom: 4px;
    color: $lightgray;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;

    .is-active & {
      color: $darkergray;
    }
  }

  &-marker {
    background: $red;
    height: 3px;
    width: 100%;
  }

  &-page {
    color: black;
  }

}


