/***
 * Useful Text Classes:
 */

/**
 * Semantic Headings:
 * We can maintain a proper document outline using secitioning elements
 * and properly ordered headers, but usually the visual heirarchy needs
 * its own treament, so we use these semantic heading classes.
 *
 *      @example
 *      h1.h6 h1.h6
 *      h2.h5 h2.h5
 *      h3.h4 h3.h4
 *      h4.h3 h4.h3
 *      h5.h2 h5.h2
 *      h6.h1 h6.h1
 */
.h1 {
    @include fontsize($base-font*2); /* 32px */
    font-family: "Lato", sans-serif;
    font-weight: 600;
    line-height: 2.6rem;
}
.h1--mq-small {
    @include transition(font-size $transition-timing ease, line-height $transition-timing ease);

    @include mq($small-only) {
        @include fontsize($base-font*1.5);
        line-height: 2.125rem;
    }
}
.h1--extrabold {
  font-weight: 800;
}

@mixin h2 {
  @include fontsize($base-font*1.5); /* 24px */
  font-weight: 600;
  line-height: 2.125rem;
}
.h2 {
  @include h2;
}
.h2--mq-small {
    @include transition(font-size $transition-timing ease, line-height $transition-timing ease);

    @include mq($small-only) {
        @include fontsize($base-font*1.25); /* 20px */
        line-height: 1.5;
    }
}
.h3 {
    @include fontsize($base-font); /* 16px */
    font-weight: 600;

    @include mq($small-only) {
        @include fontsize($base-font*0.875);
        line-height: 1.5rem;
    }
}
.h4 {
    @include fontsize($base-font*0.875); /* 14px */
    font-weight: 600;
}
.h5 {
    @include fontsize($base-font*0.75); /* 12px */
    font-weight: 600;
}
.h6 {
    @include fontsize($base-font*0.6875); /* 11px  TODO: phase out this size */
    font-weight: 600;
}
.h-featured {
  @include fontsize(32);
  font-weight: 600;
  line-height: 2.688rem;

  @include transition(font-size $transition-timing ease, line-height $transition-timing ease);

  @include mq($small-only) {
      @include fontsize(24);
      line-height: 2rem;
  }
}

/**
 * Text Block:
 * `.text`
 * A useful wrapper for any text, anywhere. Sets the color, font size,
 * adds a bottom margin for vertical rhythm, and makes sure that last
 * child elements do not have a bottom margin
 *
 *      @example
 *      .text
 *          p Some text about a story
 */
.text {
    color: #333; // should really inherit from html
                 // but other WNYC styles override this
    @include fontsize(16);
    @extend %vertical-rhythm;
    line-height: 1.7rem;

    > h1:last-child,
    > h2:last-child,
    > h3:last-child,
    > h4:last-child,
    > h5:last-child,
    > h6:last-child,
    > p:last-child {
        margin-bottom: 0;
    }

    > .text-body > h1:last-child,
    > .text-body > h2:last-child,
    > .text-body > h3:last-child,
    > .text-body > h4:last-child,
    > .text-body > h5:last-child,
    > .text-body > h6:last-child,
    > .text-body > p:last-child {
        margin-bottom: 0;
    }
}

.text--350 {
  max-width: 350px;
}

.text--darkshadow {
  @include text-shadow(0 2px 4px 0px rgba(black, 0.5));
}

.text--heading {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    color: black;
    line-height: 28px;
    @include fontsize(20);
    font-weight: 600;
    margin-bottom: 0;

    @include mq($medium-and-up) {
      @include fontsize(32);
    }
  }

  > p {
    color: $darkgray;
    font-weight: 400;
    line-height: 20px;
    @include fontsize(14);

    > a {
      @extend .link--dark;
    }
  }
}

.text--extrapadding {
  @include mq($medium-and-up) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/**
 * Text Body:
 * `.text-body`
 * Adds some padding to all sides inside a text block.
 *
 *      @example
 *      .text
 *          .text-body
 *              p Some text offset from the edges of the text block
 */
.text-body {
    padding: 15px;
}

.text-body--nopad {
    padding: 0;
}

.text-body--stackpad {
  padding-left: 0;
  padding-right: 0;
}

.text-body--sidepad {
  padding-top: 0;
  padding-bottom: 0;
}

/**
 * Text Body with Right Padding:
 * `.text-body--rightpad`
 * Useful if your text block edges up to another element and you need
 * some spacing between the two
 *
 *      @example
 *      .l-split
 *          .l-split-flexchild
 *              .text
 *                  .text-body.text-body--rightpad
 *                      p Some text that will go long but we want to make some space between it and antoher element that is inline with it. Lorem ipsum lorem ipsum lorem ipsum foo bar baz foo bar baz quxx baz bar foo.
 *          div
 *              a.btn Something to click on
 */
.text-body--rightpad {
    padding: 0;

    @include mq($medium-and-up) {
        padding-right: 15px;
    }
}

.text-body--rightpad2x {
    padding: 0;

    @include mq($medium-and-up) {
        padding-right: 60px;
    }
}

/**
 * Forced Inline Text:
 * `.text-body--forceinline`
 * All children are set to `display: inline`. Used to concatenate
 * block elements into a single line when delivered from a WYSIWYG editor.
 *
 *      @example
 *      <div class="text">
 *          <div class="text-body text-body--forceinline">
 *              This is some text. <p>Followed by a p tag.</p>
 *          </div>
 *      </div>
 */
.text-body--forceinline {
    > *,
    > * > * {
        display: inline;
    }

    script {
      display: none;
    }
}

.text-body--forceblock {
    > *,
    > * > * {
        display: block;
    }
}

/* Families */
.text--lato {
  font-family: 'Lato', 'Open Sans', Arial, sans-serif;
}

/* Weights */

.text--normal {
  font-weight: 400;
}

.text--semi {
    font-weight: 600;
}

.text--heavy {
    font-weight: 700;
}

.text--light {
  font-weight: 200;
}

/* Sizes */

@mixin text--largest {
  @include fontsize(50);
  line-height: 3.5rem;
}

.text--medium {
    @include fontsize(14);
    line-height: 1.5rem;
}

.text--small {
    @include fontsize(12);
    line-height: 1.2rem;
}

.text--smaller {
    @include fontsize(10);
    line-height: 0.8rem;
}

/***
 * Colors:
 * Colors are great. Here's how you change text color.
 */

.text--black {
  color: black;
}

.text--gray {
    color: $gray;
}

.text--lightgray {
    color: $lightgray;
}

.text--lightergray {
    color: $lightergray;
}

.text--lightestgray {
    color: $lightestgray;
}

.text--white {
    color: white;

    &:hover,
    &:focus {
        border-bottom-color: white;
    }
}

/***
 * Text Teatments:
 */

.text--dotted {
    padding: 10px 0;
    border-top: 1px dotted $lightestgray;
    border-bottom: 1px dotted $lightestgray;
}

/***
 * Links:
 */

.link--dark {
    color: $darkergray;
    border: none;

    &:hover,
    &:focus {
        color: $wqxrlink;
    }
}

.link--white {
    color: white;
    &:hover,
    &:focus {
        border-bottom-color: white !important;
    }
}

.link--underline {
    border-bottom-color: currentColor;

    &:hover,
    &:focus {
        border-bottom-color: transparent;
    }
}

.link--padbtm {
    padding-bottom: 5px;
}

.link--nodecor {
    border: none;

    &:hover,
    &:focus {
        border: none;
    }
}

.link--mq--nodecortodecor {
    @include mq($small-only) {
        border: none;

        &:hover,
        &:focus {
            border: none;
        }
    }
}

.link--capbold {
  font-weight: 600;
  @include fontsize(12);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;

  &:hover,
  &:focus {
    color: $red;
  }
}



.text--spacing {
  letter-spacing: 2px;
}

.text--spacing-sm {
  letter-spacing: 1px;
}

/**
 * Media Query Text Links:
 * Sometimes we need to change a link's colors based on the current MQ.
 * These should be created according to special MQ cases.
 */

.text--mq-bluewhite {

    @include mq($medium-and-up) {
        color: white;

	&:hover,
  &:focus {
	    border-bottom-color: white !important;
	}
    }
}

.text--red {
    color: $red;
}

.text--ellipsis {
    display: inline-block;
    vertical-align: top;
    max-width: 83%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    > * {
        display: inline;
    }
}

// preserves lines breaks and white space in comments
.text--prewrap {
    white-space: pre-wrap;
    word-break: break-word;
}

.text--upper {
  text-transform: uppercase;
}

.text-divide {
  > .text-divide-slash {
    color: $lightgray;
  }

  > .text-divide-slash:last-child {
    display: none;
  }
}

.right-bar {
  border-right: 2px solid rgba(white, 0.15);
  padding: 10px 15px 10px 0;
  margin-right: 15px;
}
