.user-nav-logged-in {
  position: relative;
  white-space: nowrap;
  @include mq($medium-and-up) {
    min-width: 100px;
  }
}

.user-nav-avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 100%;
  background-color: $lightestgray;
  vertical-align: middle;
  margin: 0px 0px 0px 10px;
  @include mq($medium-and-up) {
    margin: 0px 4px 0px 10px;
  }
  svg {
    height: 40px;
  }
  path {
    fill: white;
  }
}

.user-nav-greeting {
  display: none;
  font-size: 14px;
  color: white;
  margin-right: 4px;
  @include mq($medium-and-up) {
    display: inline-block;
    font-weight: 600;
  }
  @include mq($large-and-up) {
    color: black;
    font-weight: 400;
  }
}

.user-nav-triangle {
  display: none;
  width: 0px;
  height: 0px;
  transform-origin: 50% 25%;
  vertical-align: middle;
  transition: 250ms cubic-bezier(0.5, 0, 1, 1) transform;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
  @include mq($medium-and-up) {
    display: inline-block;
  }
  @include mq($large-and-up) {
    border-color: $darkergray transparent transparent transparent;
  }
}

.is-popup-open .user-nav-triangle {
  transform: rotate(-180deg);
}

.user-nav-popup-pointer {
  z-index: $zIndex--fix;
  position: absolute;
  top: 51px;
  left: 23px;
  height: 12px;
  width: 12px;
  transform: rotate(45deg);
  background-color: #ffffff;
  box-shadow: 0px 0px 1px rgba(0,0,0, 0.3);
}

.user-nav-popup {
  z-index: $zIndex--fix;
  position: absolute;
  top: 57px;
  right: 0px;
  width: 117px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0,0,0, 0.3);
  @include mq($medium-and-up) {
    left: -10px;
    right: auto;
  }

  .user-nav-list {
    list-style: none;
    margin: 0;
    padding: 17px;
  }

  .user-nav-listitem {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0  0 11px 0;
    padding: 0;
  }

  .user-nav-listitem:last-child {
    margin-bottom: 0px;
  }

  .user-nav-listitem a,
  .user-nav-listitem button {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    border: none;
    color: $darkergray;

    &:hover,
    &:focus {
      color: #128cf4;
    }
  }
}

.user-nav-link {
  height: 100%;
  display: inline-block;
  margin: 0 7px;
}
.user-nav-signup {
  display: none;
}
.user-nav-link > a {
  font-weight: 600;
  font-size: 14px;
  color: white;
  border: none;

  &:hover {
    color: $blue;
  }
}
@include mq($large-and-up) {
  .user-nav-link > a {
    font-weight: 400;
    color: black;
  }
}
@include mq($medium-and-up) {
  .user-nav-signup {
    display: inline-block;
  }
}
