$ember-power-select-default-border-radius: 1px;
$ember-power-select-disabled-option-color: $lightestgray;
$ember-power-select-option-padding: 10px;
$ember-power-select-border-color: $lightestgray;
$ember-power-select-disabled-background-color: #fff;

@import 'ember-power-select';

.user-settings {
  padding-left: 0;
  padding-right: 0;
  min-height: 600px;
}

.user-setting {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  label {
    padding-bottom: 14px;
    max-width: 500px;

    div:first-child {
      @include fontsize(16);
      font-weight: 600;
      padding-bottom: 5px;
    }
  }

  > div {
    align-self: center;
  }
}

.user-stream {
  padding-bottom: 65px;
  border-bottom: 1px solid $nearwhite;
}

.setting-desc {
  @include fontsize(14);
  line-height: 24px;
  color: $darkergray;
}

.user-autoplay {
  padding-top: 39px;
}

.autoplay {
  display: flex;
  margin-top: 20px;

  .toggle {
    @include fontsize(14);
    cursor: pointer;
    width: 71px;
    height: 36px;
    border-radius: 100px;
    background-color: $red;
    display: flex;
    justify-content: center;
  }

  .label {
    align-self: center;
    margin: 0;
    color: #fff;
    flex-grow: 1;
    padding-left: 7px;
    padding-right: 8px;
    order: 1;
    font-weight: 600;
  }

  .inactive-toggle {
    background-color: $lightergray;

    .switch {
      order: 1;
    }

    .label {
      order: 2;
      padding-left: 4px;
      padding-right: 8px;
    }
  }

  .switch {
    border-radius: 100px;
    height: 32px;
    width: 32px;
    background-color: #fff;
    margin: 2px;
    order: 2;
  }
}

.autoplay-options {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-top: 10px;

  label {
    padding-bottom: 10px;
  }
}

.ember-power-select-trigger {
  min-width: 250px;
  height: 48px;
}

.ember-power-select-selected-item {
  position: absolute;
  top: 10px;
  left: 10px;
}

.ember-power-select-status-icon {
  right: 15.5px;
  border-width: 6px 6px 0 6px;
  border-color: #333 transparent transparent transparent;
}

.autoplay-inactive {
  color: $lightergray;

  .ember-power-select-status-icon {
    border-color: $lightestgray transparent transparent transparent;
  }
}

.ember-basic-dropdown {
  flex-grow: 1;
}

.ember-power-select-trigger[aria-disabled=true] {
  border: solid 1px $nearwhite;
}

@media only screen and (min-width: 800px) {
  .user-settings {
    min-width: 800px;
    max-width: 1120px;

    label {
      max-width: 400px;
    }

    h1 {
      margin-bottom: 40px;
    }
  }

  .autoplay {
    min-width: 250px;
    justify-content: flex-end;
    align-self: center;
  }

  .user-setting {
    flex-flow: row nowrap;

    label {
      flex-grow: 1;

      div:first-child {
        @include fontsize(24);
      }
    }
  }

  .settings-sep {
    margin: 6px 0 18px 0;
  }

  .ember-basic-dropdown {
    flex-grow: 0;
  }

  .user-autoplay {
    padding-top: 39px;
  }

  .user-stream {
    padding-bottom: 26px;
  }

  .user-stream .ember-basic-dropdown {
    margin-top: 20px;
  }

  .autoplay-options {
    flex-flow: row nowrap;
  }
}
