.user-nav-logged-in {
  position: relative;
  white-space: nowrap;
  @include mq($medium-and-up) {
    min-width: 100px;
  }
}

.user-nav-button {
  @include flexbox((
    display: flex,
    align-items: center
  ));
}

.user-nav-avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  line-height: 100%;
  background-color: $lightergray;
  margin: 0px 0px 0px 10px;
  transition: background-color .2s;
  @include flexbox((
    display: flex,
    justify-content: center,
    align-items: center
  ));

  @include mq($medium-and-up) {
    margin: 0px 10px;
  }
  svg {
    height: 27px;
    position: relative;
  }
  path {
    fill: white;
  }
}

.user-nav-greeting {
  display: none;
  font-size: 14px;
  color: white;
  margin-right: 2px;
  @include mq($medium-and-up) {
    display: inline-block;
    font-weight: 600;
  }
  @include mq($large-and-up) {
    color: black;
    font-weight: 400;
  }
}

.user-nav-popup-caret {
  display: none;

  @include mq($middle-narrow-and-up) {
    display: block;
  }

  position: absolute;
  overflow: hidden;
  float: left;
  top: 45px;
  left: 21px;
  width: 18px;
  height: 10px;
  z-index: ($zIndex--fix + 1);

  span {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin-left: -1px;

    &.user-nav-popup-caret-outer {
      border-bottom: 10px solid rgba(0, 0 ,0 , 0.07);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      height: auto;
      width: auto;
      left: 0;
      top: 0;
    }

    &.user-nav-popup-caret-inner {
      top: 1px;
      left: 1px;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid rgba(255, 255, 255, 0.98);
    }
  }
}

.user-nav-popup {
  z-index: $zIndex--fix;
  background-color: white;

  position: fixed;
  top: 122px;
  left: 0;
  width: 100%;
  height: 100%;

  @include mq($middle-narrow-and-up) {
    position: absolute;
    top: 55px;
    left: auto;
    width: 117px;
    height: auto;

    right: -10px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border: 0 solid rgba(0,0,0,0.25);
  }

  @include mq($medium-and-up) {
    left: -10px;
    right: auto;
  }
}

.user-nav-list {
  list-style: none;
  margin: 0;

  padding: 0;
  @include mq($middle-narrow-and-up) {
    padding: 10px 15px;
  }
}

.user-nav-listitem {
  display: block;
  width: 100%;
  padding: 0;

  margin: 0;
  height: 75px;
  border-bottom: 1px solid rgba(black, 0.05);

  @include mq($middle-narrow-and-up) {
    margin: 0  0 11px 0;
    height: auto;
    border-bottom: 0;
  }
}

.user-nav-listitem:last-child {
  margin-bottom: 0px;
}

.user-nav-listitem a,
.user-nav-listitem button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: $darkergray;
  text-decoration: none;
  border: none;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  width: 100%;

  height: 100%;
  line-height: 75px;
  font-size: 16px;
  padding-left: 23px;
  &:hover,
  &:focus,
  &:active, {
    color: $darkergray;
    background: rgba(black, 0.025);
  }

  @include mq($middle-narrow-and-up) {
    height: auto;
    line-height: inherit;
    font-size: 14px;
    padding-left: 0px;
    &:hover,
    &:focus,
    &:active, {
      color: #128cf4;
      background: none;
    }
  }
}

.user-nav-link {
  height: 100%;
  display: inline-block;
  margin: 0 7px;

  @include mq($small-only) {
    margin: 0 6px;

    &:last-child {
      margin: 0;
    }
  }
}
.user-nav-link > a {
  font-family: 'Lato','Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 2.75;
  color: white;
  border: none;

  &:hover,
  &:focus {
     text-decoration: none;
  }
}
@include mq($large-and-up) {
  .user-nav-link > a {
    font-size: 16px;
    font-weight: 400;
    line-height: 2.06;
    color: black;
  }
}
