// VARS
$base-font: 16;
$line-height: 24;
$transition-timing: 250ms;
$transition-timing-queue: 150ms;
$spacing: 1.5rem;


// COLORS
$red: #DE1E3D;
$darkred: #ba0d29;      // hover state for $red
$rouge: #8d2131;        // background color in the mobile sub-navigation
$blue: #128cf4;         // links
$darkblue: #1068b2;     // hover state for $blue

$navy: #2B2F3D;         // Discover chrome
$discoblue: #3E4458;    // Discover chrome
$discopurple: #8fa2e5;  // Discover links

$lightgreen: #0EB8BA;
$darkgreen: #0C999B;
$gold: #FBE01A;

$darkergray: #333;
$darkgray: #444;
$gray: #666;

// TEXT
$text-light: #888;
$text-lightest: #bbb;

// ICONS
$icon-medium: #888;
$icon-light: #bbb;

// BORDERS
$border-dark-light: rgba(#444, .3);
$border-medium-light: rgba(#888, .2);
$border-medium: #888;
$border-default: #ddd;
$border-light: #f1f1f1; 

// BACKGROUNDS
$background-medium: #888;
$background-light-hover: #ddd; // only used once, find way to remove
$background-light: #f1f1f1;
$background-lightest: #f8f8f8;

// MIXINS and EXTENDS
%clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

%vertical-rhythm {
    display: block;
    margin-top: 0;
    margin-bottom: #{$line-height/$base-font}rem;
}

@mixin abscenter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@mixin mq($mq...) {
    @if length(keywords($mq)) == 1 {
        @media only screen and #{$mq} {
            @content;
        }
    } @else {
        $query: 'only screen';

        @each $media in $mq {
            $query: "#{$query} and #{$media}";
        }

        @media #{$query} {
            @content;
        }
    }
}

@mixin fontsize($pixels) {
    font-size: #{$pixels}px;
    font-size: rems($pixels);
}

@function rems($size) {
    @return #{$size/$base-font}rem;
}

// MEDIA QUERIES
// HORIZONTAL

$narrow: 321;
$middle-narrow: 476;
$middle-middle: 701;
$medium: 801;
$large: 1025;
$wide: 1249;

$large-and-up: "(min-width: #{$large}px)";
$medium-and-up: "(min-width: #{$medium}px)";
$small-and-up: "(min-width: #{$narrow}px)";
$middle-narrow-and-up: "(min-width: #{$middle-narrow}px)";
$middle-middle-and-up: "(min-width: #{$middle-middle}px)";

$narrow-only: "(max-width: #{$narrow - 1}px)";
$middle-narrow-only: "(max-width: #{$middle-narrow - 1}px)";
$large-only: "(min-width: #{$medium}px) and (max-width: #{$large - 1}px)";
$small-only: "(max-width: #{$medium - 1}px)";
$medium-only: "(max-width: #{$large - 1}px)";

$up-to-large: "(max-width: #{$large - 1}px)";
$up-to-wide: "(max-width: #{$wide - 1}px)";

$ipad-only: "(min-device-width : 768px) and (max-device-width : 1024px)";

.narrow-only {
    @include mq($small-and-up) {
        // >= 321px
        display: none !important;
    }
}

.middle-narrow-only {
    @include mq($middle-narrow-and-up) {
        // >= 476px
        display: none !important;
    }
}

.small-only {
    @include mq($medium-and-up) {
        // >= 801px
        display: none !important;
    }
}

.medium-only {
    @include mq($large-and-up) {
        // >= 1025px
        display: none !important;
    }
}

.narrow-up {
    @include mq($narrow-only) {
        // < 321 px
        display: none !important;
    }
}

.middle-narrow-up {
    @include mq($middle-narrow-only) {
        // < 476px
        display: none !important;
    }
}

.medium-up {
    @include mq($small-only) {
        // < 801px
        display: none !important;
    }
}

.large-only {
    @include mq($medium-only) {
        // < 1025px
        display: none !important;
    }
}

// VERTICAL

$short: 700;

$short-and-up: "(min-height: #{$short}px)";

$short-only: "(max-height: #{$short}px)";

.short-up {
  @include mq($short-only) {
    // < 700px
    display: none !important;
  }
}
