// VARS
$base-font: 16;
$line-height: 24;
$transition-timing: 250ms;
$transition-timing-queue: 150ms;
$spacing: 1.5rem;

// MIXINS and EXTENDS
%clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

%vertical-rhythm {
    display: block;
    margin-top: 0;
    margin-bottom: #{$line-height/$base-font}rem;
}

@mixin abscenter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@mixin mq($mq...) {
    @if length(keywords($mq)) == 1 {
        @media only screen and #{$mq} {
            @content;
        }
    } @else {
        $query: 'only screen';

        @each $media in $mq {
            $query: "#{$query} and #{$media}";
        }

        @media #{$query} {
            @content;
        }
    }
}

@mixin fontsize($pixels) {
    font-size: #{$pixels}px;
    font-size: rems($pixels);
}

@function rems($size) {
    @return #{$size/$base-font}rem;
}

// MEDIA QUERIES
// HORIZONTAL

$narrow: 321;
$middle-narrow: 476;
$middle-middle: 701;
$medium: 801;
$large: 1025;
$wide: 1249;

$large-and-up: "(min-width: #{$large}px)";
$medium-and-up: "(min-width: #{$medium}px)";
$small-and-up: "(min-width: #{$narrow}px)";
$middle-narrow-and-up: "(min-width: #{$middle-narrow}px)";
$middle-middle-and-up: "(min-width: #{$middle-middle}px)";

$narrow-only: "(max-width: #{$narrow - 1}px)";
$middle-narrow-only: "(max-width: #{$middle-narrow - 1}px)";
$large-only: "(min-width: #{$medium}px) and (max-width: #{$large - 1}px)";
$small-only: "(max-width: #{$medium - 1}px)";
$medium-only: "(max-width: #{$large - 1}px)";

$up-to-large: "(max-width: #{$large - 1}px)";
$up-to-wide: "(max-width: #{$wide - 1}px)";

$ipad-only: "(min-device-width : 768px) and (max-device-width : 1024px)";

.narrow-only {
    @include mq($small-and-up) {
        // >= 321px
        display: none !important;
    }
}

.middle-narrow-only {
    @include mq($middle-narrow-and-up) {
        // >= 476px
        display: none !important;
    }
}

.small-only {
    @include mq($medium-and-up) {
        // >= 801px
        display: none !important;
    }
}

.medium-only {
    @include mq($large-and-up) {
        // >= 1025px
        display: none !important;
    }
}

.narrow-up {
    @include mq($narrow-only) {
        // < 321 px
        display: none !important;
    }
}

.middle-narrow-up {
    @include mq($middle-narrow-only) {
        // < 476px
        display: none !important;
    }
}

.medium-up {
    @include mq($small-only) {
        // < 801px
        display: none !important;
    }
}

.large-only {
    @include mq($medium-only) {
        // < 1025px
        display: none !important;
    }
}

// VERTICAL

$short: 700;
$medium: 850;

$h-medium-and-up: "(min-height: #{$medium}px)";
$h-medium: "(max-height: #{$medium}px)";
$h-short-and-up: "(min-height: #{$short}px)";
$h-short: "(max-height: #{$short}px)";

.short-up {
  @include mq($h-short) {
    // < 700px
    display: none !important;
  }
}
