$button-width: 50px;
$slider-width: 76px;
$slider-height: 3px;
$handle-diameter:  15px;
$handle-radius:  $handle-diameter / 2;
$slider-spacing-left:  $handle-diameter;
$slider-spacing-right: $handle-radius + 2px;
$slider-spacing: $slider-spacing-left + $slider-spacing-right;

.persistent-player--controls .volume {
  margin-top: 0;
  min-width: $button-width;
  height: 100%;
  white-space: nowrap;
  margin-left: 42px;
  text-wrap

  .touch & {
    display: none;
  }
}

.volume-control {
  @include display-flex;
  height: 100%;
  cursor: pointer;
  outline: 0;

  &.volume-hover,
  &:hover,
  &:focus {
    .volume-slider-wrapper, {
      width: $slider-width + $slider-spacing;
      @include transition(width .3s cubic-bezier(0.4, 0.4, 0.265, 1.55));
    }
  }
}

.volume-slider-wrapper {
  width: 0;
  display: inline-block;
  position: relative;
  touch-action: none;
  height: 100%;
  overflow: hidden;
  // when transitioning width to 0, make sure bezier curve doesn't go above the 1 line, because that will
  // cause width to go negative in safari and probably have unintended effects.
  @include transition(width .3s cubic-bezier(0.4, 0.4, 0.265, 0.99));
}

.volume-slider {
  display: block;
  position: relative;
  height: 100%;
  width: $slider-width;
  margin-left:  $slider-spacing-left;
  margin-right: $slider-spacing-right;
}

.volume-slider-track {
  background: white;
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  height: $slider-height;
  margin-top: -$slider-height / 2;
  width: 100%;

  &:after {
    @extend .volume-slider-track;
    content: '';
    width: $slider-width;
    background: rgba(white, 0.2);
    z-index: -1;
  }
}

.volume-slider-handle {
  position: absolute;
  top: 50%;
  width: $handle-diameter;
  height: $handle-diameter;
  border-radius: 50%;
  background: #128cf4;
  margin-top: -$handle-radius;
  left: 100%;
  @include translateX(-$handle-radius);
}

.volume-button {
  display: inline-block;
  flex-basis: $button-width;
  min-width: $button-width;
  position: relative;
  height: 100%;
  outline: 0;
  cursor: pointer;

  .icon {
    path {
      fill: #ffffff;
    }
    height: 33px;
    width: 28px;
    position: absolute;
    top: 22px;
    right: 5px;
  }

  &:focus {
    outline: 0;
  }
}

.volume-button {
    > .icon {
      transition: fill 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }
    > .volume-button--muted {
      opacity: 0;
    }
}

.is-muted .volume-button  {
    > .volume-button--unmuted {
      opacity: 0;
    }
    > .volume-button--muted {
      opacity: 1;
    }
}
