// must come first as per CSS spec
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,300,700);
//

// hide everything not ember so we can control the UI over the alien DOM
body:not(.simplified_wrapper):not(.container_stripped) > :not(
  .ember-view,
  #qunit, // except for testing
  #qunit-fixture,
  #ember-testing-container,
  #sm2-container // display: none breaks JS <> Flash communication in Safari
  ) {
  display: none;
}

// contain fixed layouts
#ember-testing {
  transform: translateZ(0);
}

@import 'compass';
@import 'normalize';
@import 'mixins';
@import 'vars';
@import 'base';
@import 'z-index';
@import 'layout';
@import 'utilities';

@import 'box';
@import 'text';
@import 'icons';
@import 'badges';
@import 'tabs';
@import 'forms';
@import 'buttons';
@import 'list';
@import 'ads';
@import 'figure';
@import 'accordion';
@import 'state';
@import 'animation';
@import 'animations';
@import 'tabs';
@import 'badges';
@import 'dropdown';
@import 'panel';
@import 'forms';
@import 'slideshow';
@import 'videoplayer';
@import 'pagination';
@import 'shows';
@import 'loading';
@import 'print';

@import 'progress';
@import 'volume';
@import 'share';
@import 'text-crawl';
@import 'modal';
@import 'utils';
@import 'persistent-player';
@import 'queue-history';
@import 'tabbed-list';
@import 'stream-list';
@import 'stream-info';
@import 'player-buttons';
@import 'setting-queuefinish';
@import 'clearhistory';
@import 'popupmenu';
@import 'sharebutton';
@import 'streambanner';

@import 'site-chrome';
@import 'liquid-fire-icons';
@import 'discover';

// LEGACY CODE
@import 'legacy/home-compat';
@import 'legacy/stream-widget';
@import 'legacy/search';
@import 'legacy/screen';
@import 'legacy/schedule';
@import 'legacy/nav-menu';
@import 'legacy/footer';

// MISC

.django-content {
  // for compat between sliding modal and admin edit buttons on homepage
  z-index: $zIndex--djangocontent;
}

#browser-warn.container_12 {
  @extend .l-constrained;
  background-color: rgba(217, 83, 79, 0.55);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

#browser-warn .close {
  padding: 0 5px;
}

#browser-warn a {
  color: black;
}

// not going to implement imagesLoaded for legacy slideshows
#main .crowd-results img,
#main .storyslide > img {
    opacity: 1;
}

@import 'lib/slick-1.4.1.scss';

/***
 * Molecules:
 * Let's build some molecules using atoms
 */

/**
 * Facebook Button:
 *      @example
 *      button.btn.btn--gray.btn--circle
 *          i.fa.fa-facebook
 */

/**
 * Listen Button:
 *      @example
 *      button.btn.btn--pink.btn--large.btn--icon
 *          <i class="fa fa-play"></i> Listen
 */

/**
 * Share Button Group:
 *      @example
 *      .btn-group
 *          button.btn.btn--circle
 *              i.fa.fa-facebook
 *          button.btn.btn--circle
 *              i.fa.fa-twitter
 *          button.btn.btn--circle
 *              i.fa.fa-envelope
 */

/**
 * Featured Audio Button Group:
 *      @example
 *      .btn-group
 *          button.btn.btn--pink.btn--large.btn--icon
 *              <i class="fa fa-play"></i> Listen
 *          button.btn.btn--gray.btn--icon
 *              <i class="fa fa-play"></i> Queue
 *          button.btn.btn--gray.btn--icon.btn--circle
 *              <i class="fa fa-ellipsis-h"></i>
 */

/***
 * Organisms:
 * Put the molecules together and make them something real.
 */

/**
 * Story Header:
 * Uses a flag object, a header element, and a split layout space to create
 * a header organism.  All of these are wrapped in a background image space.
 *
 *      @example
 *      .l-bgimg
 *          .flag
 *              a.flag-image.inherit(href="")
 *                  img.badge.badge-small(src="http://www.fillmurray.com/40/40")
 *              .flag-body
 *                  a.inherit(href="") Bill Murray Show <i class="fa fa-icon fa-angle-right"></i>
 *          h1.h2 BM's Greatest Hits
 *          .l-split
 *              .btn-group
 *                  button.btn.btn--pink.btn--large.btn--icon
 *                      <i class="fa fa-play"></i> Listen
 *                  button.btn.btn--gray.btn--icon
 *                      <i class="fa fa-play"></i> Queue
 *                  button.btn.btn--gray.btn--icon.btn--circle
 *                      <i class="fa fa-ellipsis-h"></i>
 *              .btn-group
 *                  button.btn.btn--gray.btn--circle
 *                      i.fa.fa-facebook
 *                  button.btn.btn--gray.btn--circle
 *                      i.fa.fa-twitter
 *                  button.btn.btn--gray.btn--circle
 *                      i.fa.fa-envelope
 */
