// must come first as per CSS spec
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,300,700);
//

@import 'compass';
@import 'lib/flexbox';

@import 'vars';

@import 'base';
@import 'z-index';
@import 'layout';
@import 'utilities';

@import 'box';
@import 'text';
@import 'icons';
@import 'buttons';
@import 'list';
@import 'ads';
@import 'figure';
@import 'accordion';
@import 'state';
@import 'animations';

@import 'persistent-player';
@import 'site-chrome';

// LEGACY CODE
@import 'legacy/home-compat';
@import 'legacy/stream-widget';
@import 'legacy/screen';

#browser-warn.container_12 {
  @extend .l-constrained;
  background-color: rgba(217, 83, 79, 0.55);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

#browser-warn .close {
  padding: 0 5px;
}

#browser-warn a {
  color: black;
}
