<div class="persistent-queueicon persistent-queueicon--openqueue">
  <div class="white-bar white-bar--animate"></div>
  <div class="white-dot white-dot--animate"></div>
  <div class="white-dot"></div>
  <div class="white-dot"></div>
  <div class="white-dot"></div>
  <div class="white-bar"></div>
  <div class="white-bar"></div>
  <div class="white-bar"></div>
</div>
{{wnyc-svg icon='close' className="icon persistent-queueicon persistent-queueicon--closequeue"}}
<span class="persistent-queuelabel">Queue</span>
