<h1 class="for-screenreaders">{{sectionTitle}}</h1>
<ul class="list list--noborder">
  {{#each model.teaseList as |item|}}
  <li class="list-item">
    {{story-tease
      item=item}}
  </li>
  {{/each}}
</ul>
