<ul class="list list--noborder">
  {{#each model.teaseList as |item|}}
  <li class="list-item">
    {{story-tease
      parentTitle=parentTitle
      isStaff=session.data.isStaff
      adminURL=adminURL
      item=item
      playContext=playContext}}
  </li>
  {{/each}}
</ul>
