WQXR_URL=https://wqxr.demo2.wnyc.net
PUBLISHER_API=https://api.demo.nypr.digital/api
ADMIN_ROOT=https://internal.demo2.wnyc.net
ETAG_API=https://api.demo.nypr.digital/api/v1/browser_id/

AUTH_SERVICE=https://api.demo.nypr.digital/auth
MEMBERSHIP_SERVICE=https://api.demo.nypr.digital/membership
PLATFORM_EVENTS_SERVICE=https://api.demo.nypr.digital/analytics
FB_APP=

GOOGLE_ANALYTICS=UA-46158613-2
GOOGLE_API_V3_KEY=AIzaSyCDbxxvbl0Zj6af28IfWjJ-S0SKxwDXnkc
GOOGLE_TAG_MANAGER_ID=
DEV_GTM=
