{{#if model.featured}}
<section class="featured-show">
  <div class="flush--header nudge-large">
    <div class="l-highlight--geometric">
      <div class="l-constrained box box--luxe">
        <div class="text nudge-big">
          <h3 class="h5 aligncenter text--upper text--white text--spacing-sm">Featured Show</h3>
        </div>
        {{show-tease show=model.featured featuredSpot=true trackingCategory="Shows A-Z"}}
      </div>
    </div>
  </div>
</section>
{{/if}}


<div id="leaderboard" class="aligncenter l-constrained is-collapsed"></div>

<div class="l-constrained l-constrained--mq-med">

  <section class="aligncenter nudge-large">
    <div class="l-skinnier--mq-med">
      <h1 class="h1 h1--extrabold h1--mq-small nudge">All Shows</h1>
    </div>
  </section>

  <section class="shows-search">
    {{search-box placeholder="Search for a show" key-up=(action "filterShows") searchbox-class="searchbox--shows"}}
  </section>

  <section class="shows-list">
    {{#if noResults}}
      <div class="doubledown box box--luxe">
        <p class="text aligncenter">Sorry, but no matching shows were found. Try a different spelling or other words in the title of the show you're looking for. If you're looking for something other than a show name, try searching <a href="http://www.wnyc.org/search/">the rest of the website</a>.</p>
      </div>
    {{else}}
     <ul class="list list--borderbottom">
      {{#each filteredShows as |show|}}
        <li class="list-item list-item--medium">
           {{show-tease show=show trackingCategory=trackingCategory}}
        </li>
      {{/each}}
    </ul>
    {{/if}}
  </section>

</div>
