<header class="discover-setup-header">
  <div class="discover-setup-header-action">
    {{#action-button click=(action 'back')}}
      Back
    {{/action-button}}
  </div>
  <div class="discover-setup-header-content">
    <span class="discover-setup-title-step-count">{{stepLabel}}</span>
    <h2 class="discover-setup-title-step-title h2 text--white">{{title}}</h2>
    <span class="discover-setup-title-error">&nbsp;
      {{errorText}}
    </span>
  </div>
  <div class="discover-setup-header-action">
    {{#action-button class=(if nextButtonEnabled 'mod-filled-red') click=(action 'next')}}
      {{nextButtonText}}
    {{/action-button}}
  </div>
</header>
