<div class="centennial-nav centennial-module l-constrained">
  <ul>
   <li><a href="#stories">Share your New York Stories</a></li>
   <li><a href="#explore">Explore the Centennial</a></li>
   <li><a href="#support">Support us</a></li>
   <li><a href="#history">Our History</a></li>
   <li><a href="#events">Events</a></li>
   <li><a href="#sponsors">Sponsors</a></li>
  </ul>
</div>

