<div class="centennial-cta-narrow centennial-module l-constrained">
  <div class="centennial-cta-narrow__wrapper">
    <div class="centennial-cta-narrow__text">
      <h3>Support WNYC as we begin our second century</h3>
      <p>Your donation today will help ensure that WNYC will be here for the next 100 years.</p>
    </div>
    <div class="centennial-cta-narrow__button-wrapper">
      <a href="https://pledge.wnyc.org/support/wnyc?utm_source=wnyc&utm_medium=centennial-site&utm_campaign=narrow" target="_blank" rel="noopener noreferrer" class="btn btn--black btn--heavy">Donate now</a>
    </div>
  </div>
</div>