<div class="clearhistory-main">
  <button class="clearhistory-button" {{action 'showConfirmation'}}>Clear my listening history</button>
</div>
<div class="clearhistory-confirmation">
  <span class="clearhistory-prompt">Are you sure?</span>
  <button class="clearhistory-button" {{action 'clearHistory'}}>Yes</button>
  /
  <button class="clearhistory-button" {{action 'cancel'}}>No</button>
</div>
