<ul class="list list--borderbottom">
  {{#each activeShows as |show|}}
    <li class="list-item list-item--medium">
       {{show-tease show=show trackingCategory=trackingCategory}} 
    </li>
  {{/each}}
  {{#if isFetching}}
    <div class="doubledown box box--luxe">
      <div class="loading-spinner text"></div>
    </div>
  {{/if}}
</ul>
