<form class="account-form" {{action 'login' on=submit}}>
  <h2 class="account-form-heading">Log in to WNYC</h2>

  <input type="button" class="account-form-btn fb-btn" value="Log in with Facebook">

  <div placeholder="you@email.com" class="account-form-separator">or</div>

  <label for="email" class="account-form-label">Email</label>
  {{input name="email" id="email" placeholder="you@email.com" type="email" class="account-form-input"}}
  <div class="account-form-input-footer"></div>

  <label for="password" class="account-form-label">Password</label>
  {{input name="password" id="password" placeholder="Enter password" type="password" class="account-form-input"}}
  <div class="account-form-input-footer">
    {{#if errors.incorrectPassword}}
      <span class="account-form-error">this password is incorrect.</span>
    {{/if}}
    <span class="account-form-helplink">
     <a href="/forgot">Forgot password?</a>
    </span>
  </div>

  <input type="button" class="account-form-btn" value="Log in" disabled={{isProcessing}}>
</form>