{{#changeset-form
  changeset=changeset
  allowedKeys=allowedKeys
  onSubmit=(action 'onSubmit')
  onSuccess=(action 'onSuccess')
  onFailure=(action 'onFailure')
  formClass='account-form'
  as |form|
}}
  <h2 class="account-form-heading">Log in to WNYC</h2>

  {{fancy-input
    label='Email'
    type='text'
    placeholder='you@email.com'
    fieldname='email'
    value=changeset.email
    errors=changeset.error.email.validation
    submitted=submitTried
  }}

  {{fancy-input
    label='Password'
    type='password'
    placeholder='Enter password'
    fieldname='password'
    value=changeset.password
    errors=changeset.error.password.validation
    helplinkUrl='/forgot'
    helplinkText='Forgot Password?'
    submitted=submitTried
  }}

  <button type="submit" class="account-form-btn" disabled={{form.state.processing}}>Log in</button>
{{/changeset-form}}