<span class="transition-plus-to-check" data-state={{if inQueue 'is-check'}}><span class="left"></span><span class="right"></span></span>
{{#unless (eq type 'small-blue')}}
<span>{{if inQueue 'Queued' 'Queue'}}</span>
{{/unless}}
