<form {{action 'submit' on='submit'}} class={{formClass}}>
{{yield (hash
  status=(hash
    tried=tried
    success=success
    failure=failure
    invalid=invalid
    processing=processing
    )
  submit=(action 'submit')
  )}}
</form>