{{#if stories}}
<div class="list-heading">
    <h1 class="h5">Related</h1>
</div>
{{/if}}

{{#each stories as |item|}}
<div class="list-item">
  {{story-tease item=item region='RelatedStories'}}
</div>
{{/each}}
