{{yield}}
<ul>
  {{#link-to 'design.index' class='no-link'}}
    <li class="logo">{{wnyc-svg icon='logo-wnyc' className='icon--wnyc-logo-design'}} design system</li>
  {{/link-to}}
  {{#link-to 'design.index'}}<li>Web</li>{{/link-to}}
  <!-- {{#link-to 'design.about'}}<li>Mobile</li>{{/link-to}}
  {{#link-to 'design.about'}}<li>App</li>{{/link-to}}
  {{#link-to 'design.about'}}<li>Newsletters</li>{{/link-to}}
  {{#link-to 'design.about'}}<li>Brand</li>{{/link-to}} -->
  {{#link-to 'design.about'}}<li>About</li>{{/link-to}}
</ul>