.centennial-card-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 800px) {
  .centennial-card-list {
    flex-direction: row;
    column-gap: 16px;
  }
}