<div class="bg-gray1 loading-gradient" style="height: 360px; margin-top: -24px; margin-bottom: 40px; width: 100%;"></div>

<div class="l-constrained l-constrained--mq-med">

  <section class="aligncenter" style="margin-bottom: 60px;">
    <div class="l-skinnier--mq-med">
      <div class="bg-gray1 loading-gradient nudge-large centered" style="width: 171px; height: 41px;"> </div>
      <div class="thin-line centered"></div>
      <div class="thin-line centered" style="width:80%;"></div>
    </div>
  </section>

  <section style="margin-bottom: 60px;">
      <div class="searchbox bg-gray1" style="height: 65px;"></div>
  </section>

  <section class="shows-list">
    <ul class="list list--noborder" style="overflow:hidden;"> 
       
      <li class="list-item list-item--tall">
        <div class="flag flush flag--med">
          <div class="flag-image">
            <div class="squarebadge bg-gray1 loading-gradient" style="height: 140px; width: 140px;"></div>
          </div>
          <div class="flag-body" style="vertical-align: top;">
              <div class="bg-gray1 loading-gradient nudge-big" style="width: 188px; height: 30px; max-width: 100%;"> </div>
              <div class="thin-line"></div>
              <div class="thin-line" style="width: 80%;"></div>
          </div>
        </div>
      </li>

      <li class="list-item list-item--tall">
        <div class="flag flush flag--med">
          <div class="flag-image">
            <div class="squarebadge bg-gray1 loading-gradient" style="height: 140px; width: 140px;"></div>
          </div>
          <div class="flag-body" style="vertical-align: top;">
              <div class="bg-gray1 loading-gradient nudge-big" style="width: 188px; height: 30px; max-width: 100%;"> </div>
              <div class="thin-line"></div>
              <div class="thin-line" style="width: 80%;"></div>
          </div>
        </div>
      </li>

      <li class="list-item list-item--tall">
        <div class="flag flush flag--med">
          <div class="flag-image">
            <div class="squarebadge bg-gray1 loading-gradient" style="height: 140px; width: 140px;"></div>
          </div>
          <div class="flag-body" style="vertical-align: top;">
              <div class="bg-gray1 loading-gradient nudge-big" style="width: 188px; height: 30px; max-width: 100%;"> </div>
              <div class="thin-line"></div>
              <div class="thin-line" style="width: 80%;"></div>
          </div>
        </div>
      </li>

      <li class="list-item list-item--tall">
        <div class="flag flush flag--med">
          <div class="flag-image">
            <div class="squarebadge bg-gray1 loading-gradient" style="height: 140px; width: 140px;"></div>
          </div>
          <div class="flag-body" style="vertical-align: top;">
              <div class="bg-gray1 loading-gradient nudge-big" style="width: 188px; height: 30px; max-width: 100%;"> </div>
              <div class="thin-line"></div>
              <div class="thin-line" style="width: 80%;"></div>
          </div>
        </div>      
      </li>   
      
      <li class="list-item list-item--tall">
        <div class="flag flush flag--med">
          <div class="flag-image">
            <div class="squarebadge bg-gray1 loading-gradient" style="height: 140px; width: 140px;"></div>
          </div>
          <div class="flag-body" style="vertical-align: top;">
              <div class="bg-gray1 loading-gradient nudge-big" style="width: 188px; height: 30px; max-width: 100%;"> </div>
              <div class="thin-line"></div>
              <div class="thin-line" style="width: 80%;"></div>
          </div>
        </div>       
      </li>

      <li class="list-item list-item--tall">
        <div class="flag flush flag--med">
          <div class="flag-image">
            <div class="squarebadge bg-gray1 loading-gradient" style="height: 140px; width: 140px;"></div>
          </div>
          <div class="flag-body" style="vertical-align: top;">
              <div class="bg-gray1 loading-gradient nudge-big" style="width: 188px; height: 30px; max-width: 100%;"> </div>
              <div class="thin-line"></div>
              <div class="thin-line" style="width: 80%;"></div>
          </div>
        </div>
      </li>

      <li class="list-item list-item--tall">
        <div class="flag flush flag--med">
          <div class="flag-image">
            <div class="squarebadge bg-gray1 loading-gradient" style="height: 140px; width: 140px;"></div>
          </div>
          <div class="flag-body" style="vertical-align: top;">
              <div class="bg-gray1 loading-gradient nudge-big" style="width: 188px; height: 30px; max-width: 100%;"> </div>
              <div class="thin-line"></div>
              <div class="thin-line" style="width: 80%;"></div>
          </div>
        </div>
      </li> 

      <li class="list-item list-item--tall">
        <div class="flag flush flag--med">
          <div class="flag-image">
            <div class="squarebadge bg-gray1 loading-gradient" style="height: 140px; width: 140px;"></div>
          </div>
          <div class="flag-body" style="vertical-align: top;">
              <div class="bg-gray1 loading-gradient nudge-big" style="width: 188px; height: 30px; max-width: 100%;"> </div>
              <div class="thin-line"></div>
              <div class="thin-line" style="width: 80%;"></div>
          </div>
        </div>
      </li> 

      <li class="list-item list-item--tall">
        <div class="flag flush flag--med">
          <div class="flag-image">
            <div class="squarebadge bg-gray1 loading-gradient" style="height: 140px; width: 140px;"></div>
          </div>
          <div class="flag-body" style="vertical-align: top;">
              <div class="bg-gray1 loading-gradient nudge-big" style="width: 188px; height: 30px; max-width: 100%;"> </div>
              <div class="thin-line"></div>
              <div class="thin-line" style="width: 80%;"></div>
          </div>
        </div>
      </li> 

      <li class="list-item list-item--tall">
        <div class="flag flush flag--med">
          <div class="flag-image">
            <div class="squarebadge bg-gray1 loading-gradient" style="height: 140px; width: 140px;"></div>
          </div>
          <div class="flag-body" style="vertical-align: top;">
              <div class="bg-gray1 loading-gradient nudge-big" style="width: 188px; height: 30px; max-width: 100%;"> </div>
              <div class="thin-line"></div>
              <div class="thin-line" style="width: 80%;"></div>
          </div>
        </div>
      </li>             

    </ul>
  </section>

</div>

