<div class="l-modal-body">
  <div class="box box--white box--rounded">
    {{!wnyc-svg icon='beta-logo' classNames='icon--wnyc-logo-nav-beta icon--wnyc-logo-nav-beta--inverse'}}

    <div class="text flush text--medium" data-test-selector="beta-about">
      {{{beta.welcome_message}}}
    </div>
  </div>

  <div class="l-abs l-topright">
    <button {{action 'closeModal'}} data-test-selector="beta-modal-close">close X</button>
  </div>
</div>
