<div class="searchbox {{searchbox-class}}">
 
    {{input type="search" class="input" placeholder=placeholder autocomplete="off" key-up=key-up enter=enter}}
  
  <div class="input-icon">
    <svg class="icon--form icon--search">
          <use xlink:href="{{svgURL}}nav_icons.svg#search"></use>
      </svg>
  </div>
</div>