<div class="{{searchbox-class}}">
 
    {{input type="search" class="input" placeholder=placeholder autocomplete="off" key-up=key-up enter=enter}}
  
  <div class="input-icon">
    {{wnyc-svg icon='search' className='icon--form icon--search'}}
  </div>
</div>
