<div class="searchbox">
  {{input type="search" class="input" placeholder="Search for a show" autocomplete="off" key-up="textEntered"}}
  
  <div class="input-icon">
    <svg class="icon--form icon--search">
          <use xlink:href="{{svgURL}}nav_icons.svg#search"></use>
      </svg>
  </div>
</div>