.django-content {

  // headers
  .page-titlegroup {
    border: 0;
    h2 {
      @include wqxr-title;

      @include mq($small-only) {
        font-size: 24px;
      }
    }
  }

  // articles
  .article-description {
    h1 {
      @include wqxr-title;
      font-size: 32px;
      margin-bottom: 40px;
    }

    line-height: 1.7;
    p {
      margin-bottom: 1.5rem;
    }

    // sub headers
    h3 {
      @include wqxr-title;
      font-size: 24px;
    }
  }

  // image zoom links
  .enlarge_div a {
    &:hover,
    &:focus {
      border-bottom: 1px solid rgba(#128cf4, 0);
    }
  }

  // story pages



  // playlists
  .schedule-playlists {
    .page-titlegroup h2 {
      @include wqxr-title;
      font-size: 32px;
      color: #333;

      @include mq($small-only) {
        font-size: 24px;
      }


      .playlists {
        color: #333;
      }
    }
  }

  // sideblocks
  .sideblock {
    margin-bottom: 1.5rem;
  }
  .bigbox_ad {
    margin-bottom: 40px;
  }

}
