.graphic-feature {
  max-width: ($middle-middle+px);
  margin: 0 auto;
}

.graphic-default {
  > div {
    margin: 0;
  }
}

.share-tools {
  margin: 7px 0 34px;
  .sharelinks .fa-hover a {
    line-height: 33px;
  }
}

ul.sharelinks {
  margin: 0px;
  padding: 0px 0px 0px 2px;

}

.sharelinks li {
  float: left;
  padding: 0px 5px 0px 0px;
  font-size: 11px;
  line-height: 11px;
  /* border-right: 1px solid #999; */
  border: 0;
  margin-top: 5px;
}

.sharelinks li.edit-item {
  background: transparent url('/media/img/icons/edit.gif') no-repeat 13px 0px;
  padding-left: 26px;
  padding-right: 0px;
  float: right;
  border: 0;
}
