
// host/person page
.person_detail {
  // twitter button
  iframe {
    margin-bottom: 15px;
  }
  .page-titlegroup {
    padding-bottom: 20px;
    border: 0;
  }
  .image-caption {
    font-size: 12px;
  }
  .appearances h2.title a {
    @include wqxr-title;
    font-size: 24px;
  }
  .article-head, .tease {
    line-height: 1.7;
  }

   .story-sidebar {
    margin-bottom: 10px;
  }

  .article-head {
    h4{
      padding-top: 20px;
    }
  }
}

// hosts page
.host-show {
  border-top: 1px solid $line--light;
  padding: 40px 0;

  ul {
    margin: 0;
  }

  .host-show-image {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.wqxr_hosts {
  .page-titlegroup {
    padding-bottom: 10px;
  }

  .host-show-image {
    padding-bottom: 10px;
  }

  .host-show-description {
    line-height: 1.7;

    h3 {
      @include wqxr-title;
      font-size: 24px;
      margin-bottom: 13px;

      a {
        transition: border-color 250ms, color 250ms;

        &:hover,
        &:focus {
          border: 0;
          color: $wqxrlink;
        }
      }
    }

    p:last-of-type{
      margin-bottom: 13px;
    }

    ul.feature {
      list-style: none;
      padding-left: 0;
      margin-bottom: 10px;
    }
  }
}
