
/* individual host page */
.person_detail {
  
  .page-titlegroup {
    padding-bottom: 20px;
  }

 .story-sidebar {
    margin-bottom: 10px;
  }

  .article-head { 
    h4{
      padding-top: 20px;
    }
  }
}