.musician-detail {
  .playlist-tease {
    border-bottom: none;

    .playlist-entry {
      /* "last played", record label and length */
      h5,
      .catalog_entry-catno {
        font-size: 12px;
        font-weight: 600;
      }
      /* piece title */
      h2 {
        font-family: "Lato", sans-serif;
      }

      .piece-info ul,
      ul.playlist-actions {
        list-style: none;
        padding-left: 0;
      }

    }
  }

}

.playlist-item {
  padding-left: 50px !important;
  @include flexbox((
    display: flex,
    flex-direction: column
  ));

  &:first-child {
    border-top: 1px dotted $line--light;
  }

  &__composer {
    @include link--dark;
    @include fontsize(18);
    font-weight: 600;
  }

  .time {
    font-size: 14px !important;
    color: $lightgray !important;
    font-weight: 600 !important;
    margin: 0 !important;
    text-align: left !important;
  }

  .piece-info {
    @include fontsize(16);
    line-height: 27px;
    color: $darkergray !important;

    ul {
      padding: 0;
      margin: 0 !important;
    }

    li {
      list-style: none;

      a {
        @include link--dark;
      }
    }
  }

  .album-info .playlist-actions {
    margin: 5px 0 0 0;
  }
}
