.musician-detail {
  .playlist-tease {
    border-bottom: none;

    .playlist-entry {
      /* "last played", record label and length */
      h5,
      .catalog_entry-catno {
        font-size: 12px;
        font-weight: 600;
      }
      /* piece title */
      h2 {
        font-family: "Lato", sans-serif;
      }

      .piece-info ul,
      ul.playlist-actions {
        list-style: none;
        padding-left: 0;
      }

    }
  }

}

.playlist-item {
  display: flex;
  border-bottom: 1px dotted $line--light !important;
  padding-bottom: 24px !important;

  &:first-child {
    border-top: 1px dotted $line--light;
  }

  .playlist-info {
      width: 100% !important;
      display: flex;
      justify-content: space-between;
  }

  &__composer,
  &__special-programming {
    @include link--dark;
    @include fontsize(18);
    font-weight: 600;
  }

  &__title {
    @include fontsize(18);
  }

  &__musicians {
    color: $lightgray;
    @include fontsize(14);
  }

  // overrides styles from schedule page that get picked up from
  // re-using templates
  .time {
    font-size: 14px !important;
    color: $lightgray !important;
    font-weight: 400 !important;
    margin: 0 !important;
    padding-right: 24px !important;
    text-align: left !important;
    float: right !important;
    min-width: 90px !important;
  }

  .piece-info {
    @include fontsize(16);
    color: $darkergray !important;

    ul {
      padding: 0;
      margin: 0 !important;
    }

    li {
      list-style: none;
    }
  }

  .album-info .playlist-actions {
    margin: 3px 0 0 0;
    > li {
      float: none !important;
    }
  }

  .americanstandards-piece-info {
    @include fontsize(16);
    line-height: normal;
    color: $darkergray;

    ul {
      padding: 0;
      margin: 0 !important;
    }

    li {
      list-style: none;
    }

    .playlist-item__musicians {
      margin-bottom: 8px;
    }

    .playlist-item__composers, .playlist-item__composer {
      @include fontsize(14);
      font-weight: 400;
    }

    .playlist-item__composers {
      margin-bottom: 16px;
    }

    .album-info {
      @include fontsize(12);
    }

    .album-info .playlist-actions li {
      float: none !important;
    }
  }

  &__duration {
    @include fontsize(14);
    float: right;
    flex-shrink: 0;
    text-align: right;
  }
}
