.scheduled-item-link,
.program .tease {
  display: none;
}

.print-schedule a {
	margin: -78px 5px 0 0 !important;
  color: $gray;
  font-size: 12px;
  
  &:hover {
    color: $blue;
  }
}

.station-nav {
  margin-top: 10px;
  height: auto !important;
  border: none !important;
  
  ul.schedule-tabs li a {    
    font-weight: 600;
  }
  
  ul.schedule-tabs li:not(.ui-tabs-selected) a {
    color: $text-light !important;
    
    &:hover {
      color: $red !important;
    }
  }
}

ul.schedule-dates {
  border-top: 1px solid $border-light;
  border-bottom: 1px solid $border-light;
  padding: 10px 0 5px 0 !important;
    
  li.yesterday,
  li.tomorrow {
    width: auto !important;
    
    a {
      font-size: 12px !important;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 700 !important;       
    }
    
    a:hover,
    a:hover path {
      color: $blue;
      fill: $blue;
      border-color: white;
    }    
  }
  
  .action-button-icon {
    display: inline;
    position: relative;
    top: 2px;

    svg {
      width: 20px;

      path {
        fill: $icon-medium;
      }
    }
  }
} 
   
ul.schedule-table {
  margin: 5px 0 0 0;
  
  .event {
    border-bottom: 1px solid $border-light;
    padding: 20px 0;
  }
  
  li.head {
    font-size: 16px;
    font-weight: normal;
    color: $darkergray;
    background: none;
    border: none;
    margin: 0;
    height: auto;
    padding: 0;
    line-height: 27px;
    
    div.program {
      height: auto;
      
      a {
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #333;
        font-weight: 700;
        
        &:hover {
          color: $blue;
        }  
      }
    }
    
    div.time {
      color: $text-lightest;
      font-weight: 600;
      letter-spacing: 1px;
    }
    
    .arrow {
      display: none;
    }
    
  }
  

  li.details { 
    display: list-item !important;
    
    .text {
      font-size: 16px;
      margin-bottom: (1.25 / 2) * 1rem;

      p {
        margin-bottom: (1.25 / 2) * 1rem;
      }
    }
    
    .program {
      border: none;
      padding: 0;
      
      .image {
        display: none;
      }
      
      .text {
        float: left;
        margin: 0 0 0 105px;
        width: auto;
      }
    }
  }

  ul.hosts {
    display: none;
  }
}

@include mq($medium-only) {
  .schedule-playlists,
  ul.schedule-dates, 
  #site {
    width: 100% !important;
    overflow: hidden;
  }
  
  .main.schedule-playlists {
    margin: 0 0 100px 0;
  }
  
  .grid_8 {
    width: 100% !important;
    margin: 0 !important;
  }
  
  .print-schedule {
    display: none;
  }
  
  ul.schedule-table li.details .program .text {
      margin: 0;
  }
  
  .site-container .grid_4 {
    display: none;
  }
  
  ul.schedule-dates {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
    padding: 10px 0;
    
    li.yesterday,
    li.tomorrow,
    li.today {
      width: auto !important;
      padding-left: 0;
      padding-right: 0;
    }  
  }
}  

@include mq($small-only) {
  ul.schedule-dates {
    li.yesterday a span,
    li.tomorrow a span {
      display: none;
    }
    
    li.today {
      text-transform: none !important;
      letter-spacing: 0 !important;
    }
    
    .action-button-icon {
      top: 0;
      
      svg {
        width: 26px;
        height: 26px;

        path {
          fill: $icon-medium;
        }
      }
    }
  }
  
}
