@mixin wqxr-title {
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: none;
}

#site {
  position: relative;
  margin: 0 auto;
  width: 970px;
}

.site-container, .masthead-container, .footer-container, .siteslider-container {
  overflow: auto;
}

#footer_container #footer-inner a:hover {
  text-decoration: none;
  border-bottom-color: white;
}

.site-container {
  padding-top: 25px;
    // legacy styles stay loaded and override a class this is set on
    // this limits django pages to full width on mobile
  width: 100% !important;
  margin: 0 !important;
}

.masthead-container {
  padding-bottom: 10px;
}

.status_draft {
  background: #fff url(/assets/img/icons/status_draft.png) no-repeat 250px 15px;
}

#main.status_scheduled {
  background: #fff url(/assets/img/icons/status_scheduled.png) no-repeat 250px 15px;
}

#main.status_submitted {
  background: #fff url(/assets/img/icons/status_submitted.png) no-repeat 250px 15px;
}

#masthead .print-logo {
  display: none;
}

a {
  color: $wqxrlink;
  text-decoration: none;
  word-wrap: break-word;

  &:hover {
    text-decoration: none;
  }
}

.more:after  {
  content: " \0BB";
}

.text-link {
  color: $wqxrlink;
  text-decoration: none;
  word-wrap: break-word;
  cursor: pointer;
}

.text-link:hover {
  text-decoration: none;
}

a.more.blog_lede {
  display: none;
}

a.guestlink {
  font-weight: bold;
}

h4 a.more {
  color: #dd0000;
}

ol.decimal {
  list-style: decimal outside none;
}

#loginbox {
  font-size: 11px;
  text-align: right;
}

.main {
}

.show-main {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.horizontal_linkroll li {
  float: left;
  margin: 0 20px 0 0;
}

.show_header_linkroll {
  padding-left: 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px;
  line-height: 9px;
  height: 9px;
  overflow: hidden;
}

.no-object object,
.no-object embed,
.no-object iframe,
.no-object #audioplayer,
.no-object .media_buttons,
.no-object #videoplayer,
.no-object p img,
.no-object .image-caption,
.no-object table {
  display: none;
}

.limited-objects embed,
.limited-objects table {
  display: none;
}

.modal-popup {
  position: absolute;
  top: 25%;
  left: 30%;
  z-index: 10000;
  width: 600px;
  background-color: #fff;
  border: 5px solid #eee;
  padding: 30px 40px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 2px 15px #333;
  -webkit-box-shadow: 1px 2px 20px #333;
  box-shadow: 1px 2px 20px #333;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333');
}

.modal-popup a.close {
  font-weight: bold;
  display: block;
  width: 50px;
  margin: 10px 0;
}

.modalOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9000;
  background-color: #000;
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.nothanks,
.hidden { display: none; }

a.video-overlay { /* play icon for video thumbs */
  position: absolute;
  display: block;
  height: 25px;
  width: 26px;
  left: 1px;
  background: url(/media/img/wqxr/btn-video-overlay.png) no-repeat 0 0;
  text-indent: -9999px;
}

a.video-overlay:hover {
  text-decoration: none;
}

ul.errorlist {
  list-style: none;
  color: #dd0000;
  font-weight: bold;
  padding: 0;
}

#mobile-app-ad-inner {
  display: block;
  position: relative;
  width: 92%;
  min-height: 67px;
  margin: 20px auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-shadow: 1px 1px #666;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.1em;
}

#mobile-app-ad a {
  display: inline-block;
  color: #fff;
}

#mobile-app-ad a#download {
  width: 85%;
  margin: 1% 1.5% 0;
}

#mobile-app-ad a#download:hover {
  text-decoration: none;
}

#mobile-app-ad a#dismiss {
  width: 54px;
  height: 67px;
  text-indent: -9999px;
  border-radius: 0 5px 5px 0;
  background: url(/media/img/icons/btn-dismiss-x.png) no-repeat 0 0;
  vertical-align: top;
  position: absolute;
  right: 0;
  z-index: 2;
  padding-right: 15px;
}

#mobile-app-ad span.type {
  display: block;
  font-size: 38px;
  line-height: 1.1em;
}

input.submit {
  cursor: pointer;
}

h2.title {
  font-size: 24px;
  margin-bottom: 4px;
}

h2.headline {
  color: #999;
  font-size: 10px;
  padding: 5px 0;
}

.channel-item h2.headline, .channel-item h2.headline a {
  color: #999;
  font-weight: normal;
  padding: 5px 0;
}

h2.headline.wqxr {
  border-top: 4px solid #0066CC;
}

h2.headline.wnyc {
  border-top: 4px solid #e11837;
}

h2.headline.grey {
  border-top: 4px solid #c6c6c6;
  color: #000;
}

h2.headline.norule {
  border-top: none;
  text-transform: none;
}

h2 a, h3 a, h4 a {
  color: #000;
  text-decoration: none;
}

h5 {
  margin: 10px 0;
}

h1 a, h2.title a { /* ie doppelganger bug in touts */
  display: block;
  zoom: 1;
}

.article-wide h2.title a { /* no block title display in detail pages */
  display: inline;
}

.page-titlegroup {
  border-bottom: 1px solid $line--light;
  margin-bottom: 10px;
}

#flatpage .page-titlegroup {
  border: 0;
}

.page-titlegroup h2 {
  @include wqxr-title;
  font-size: 32px;
  font-weight: normal;
  padding-bottom: 5px;
  line-height: 1.25em;
}

h3.date,
h3.date a,
h3.episode-number {
  font-size: 16px;
  line-height: 25.6px;
  font-weight: normal;
  margin: 0;
}

.story-headergroup .byline {
  margin: 0 0 15px 0;
}

a.date-link:hover h3.date,
a.date-link:hover {
  text-decoration: none;
}

h3.channel-name {
  clear: none;
  line-height: 1em;
  margin: 0;
}

h3.channel-name a {
  color: #666;
  font-size: 9px;
  font-weight: normal;
  text-transform: uppercase;
}

h3.subtitle {
  color: #333;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 7px;
  line-height: 1.4em;
}

.message {
  color: #E21E26;
  font-weight: normal;
  font-size: 10px;
}

.mceGuest { /* in admin */
  background-color: #c0d2e5;
  padding: 0 4px;
}


/* technical message */

#technical-message p {
  padding: 5px 10px;
  color: #ff0000;
  margin: 0 0 10px 0;
  background:#FFF1F1;
  font-size: 11px;
}

#technical-message p a{
  color: #ff0000;
  text-decoration: underline;
}

#technical-message p a:hover{
 color: #9b071e;
}

/* data tables */

.article-wide table,
.article-description table {
  width: auto;
  clear: both;
  margin: 10px 0;
}

.article-wide table th,
.article-description table th {
  border: 1px solid $line--light;
  border-bottom-width: 2px;
  font-weight: bold;
  padding: 5px;
}

.article-wide table td,
.article-description table td {
  border: 1px solid $line--light;
  padding: 5px 7px 6px;
}

table#show-number-archive {
  width: 100%;
}

/* images */

.mediumimage {
  width: auto;
}

.story-longimage {
  margin-bottom: 20px;
}

.show-main .story-longimage {
  margin: 0;
}


.sidebar-longimage {
  margin-bottom: 5px;
}


.imageleft {
//.alignleft {
  margin-top: 0px;
  margin-right: 12px;
  margin-bottom: 10px;
  float: left;
  clear: both;
}

.imageright {
//.alignright {
  margin-top: 3px;
  margin-left: 12px;
  margin-bottom: 10px;
  float: right;
}

.smallestimageright, .smallimageright {
  margin-top: 3px;
  margin-left: 8px;
  margin-bottom: 8px;
  float: right;
}

.imagepromo {
  margin-bottom: 3px;
}

/*related to CMS article content:
  these two rules get floated image captions to maintain the borders of the image itself
*/
.embedded-image {
    display: table;
}
.image-metadata {
    display: table-caption;
    caption-side: bottom;
    padding-top: 5px;
    background-color: inherit;
}

.embedded-image.alignleft {
    clear: both;
    float: left;
    /* lower top margin, so it's flush with text -- depends on lineheight of text */
    margin: 0.5em 20px 20px 0;
}

.embedded-image.alignright {
    float: right;
    /* lower top margin, so it's flush with text -- depends on lineheight of text */
    margin: 0.5em 0 20px 20px;
    display: table;
}



#enlarge .credit, #enlarge .caption {
  font-size: 11px;
}


/* audio video */

.videoplayer {
  margin-bottom: 20px;
  clear: both;
}

.article-videoplayer {
  clear: both;
  margin-bottom: 5px;
}

.user-embedded-video {
  display: block;
  height: auto;
  margin-bottom: 20px;
}


.sideblock .feed-icon {
  top: -5px;
  position: relative;
}

.sideblock .article-audioplayer a {
  padding-top: 6px;
  padding-bottom: 6px;
}

.sideblock .article-audioplayer a:hover {
  text-decoration: none;
}

.sideblock .media_buttons fieldset {
  position: static;
  display: block;
  margin: 0px;
  float: none;
  margin: 24px 0px 12px 0px;
}

.sideblock .media_buttons .embedthis { }

.audio_fullsize {
  clear: both;
}

/* ads */

.bigbox_ad,
.littlebox_ad {
  text-align: center;
  margin: 10px 0;
}

.littlebox_ad .ad {
  padding: 12px 0;
  border: 1px solid #dedede;
}

.bigbox_ad p,
.littlebox_ad p {
  text-align: center;
  color: $lightgray;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 5px 0;
  font-size: 12px;
}

.ad_container {
  text-align: center;
}


/*blocks*/

.sideblock, .block {
  margin-bottom: 10px;
      padding-bottom: 0px;
}

.sideblock h3 {
  font-size: 14px;
}

.sideblock h4 {
  font-size: 12px;
  margin-bottom: 3px;
}

.show-nav {
  margin-bottom: 20px;
}

h4.noise {
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 10px;
  font-weight: bold;
  background: url(/media/img/wnyc/widgets/header-bg-sparse.gif) repeat 0 0;
}

.show-nav .twtr-widget h4 {
  text-transform: none;
  background: 0;
}

h4.noise span,
.show-nav h4 span {
  background-color: #fff;
  padding-right: 8px;
}

#archive-list h4.noise {
  margin: 15px 0 8px;
}

#archive-list h4 a {
  text-transform: uppercase;
}

h4.label {
  text-transform: uppercase;
  font-size: 12px;
  margin: 10px 0;
  color: #333;
}

.sideblock li {
  margin: 3px 0 4px 0px;
}

.block h3 {
  font-size: 10px;
}

.show-nav ul.host li {
  display: inline;
}

.show-nav ul.host li:after {
        content: ",";
}

.show-nav ul.host li:last-child:after {
        content:"";
}

.show-nav .host img {
  float: left;
  margin: 0 5px 5px 0;
}

.show-nav .prod-org {
  clear: both;
}

.prod-org {
  top: -1px;
  position: relative;
}

.story-headergroup #producing-logos {
  position: relative;
  float: right;
  display: inline;
}

.prod-org ul {
  display: inline;
  margin-left: 5px;
}

.prod-org ul li {
  display: inline;
  margin-right: 5px;
}

.show-nav .more-about {
  clear: both;
}

.sideblock .latest-podcast {
  padding-bottom: 10px;
  border-bottom: 1px solid $line--light;
}

.sideblock .feeds {
  margin-top: 10px;
}

.flatpage-nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul li a {
    color: #dd0000;
    font-size: 13px;

    &:hover {
      border-bottom-color: #dd0000;
    }
  }
}

.flatpage-nav ul li {
  border-top: 1px solid $line--light;
  padding: 5px 0 4px;
  font-size: 9px;
  font-weight: bold;
}

.flatpage-nav ul li:first-child {
  border: 0;
}

.flatpage-nav ul li a:after {
        content: " \0BB";
  font-weight: normal;
}


h2.event-channel {
  margin: 0;

  > a {
    color: #999;
    text-transform: uppercase;
    border: none;
  }
}

.event-tease h3.subtitle {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
}

/* Staff bios */

.bios-department h2 {
        font-size: 18px;
        font-weight: normal;
        padding-bottom: 5px;
        line-height: 1.2em;
}

ul.bios-list {
        margin: 0 0 15px;
}

ul.bios-list li {
        margin: 0 0 5px;
}


/* PLAYLIST AND SETLIST TEMPLATE */

.playlist-template, .setlist-template {
  clear: both;
  border: 1px solid #c6c6c6;
  padding: 20px 0px 20px 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  display:block;
  background-color: #eee;
}

.playlist-template h1, .setlist-template h1  {
  margin: 0px;
  padding: 0px 0px 15px 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
}

.playlist-template div.playlist-items, .setlist-template div.setlist-items {
  background: #eee url('/media/img/playlist-template-bg.gif') repeat-y 10px 0px;
}

.playlist-template div div, .setlist-template div div {
  float: left;
  width: 170px;
  margin: 0px;
  padding: 0px 10px 0px 15px;
}

.playlist-template div div.column-1, .setlist-template div div.column-1 {
  padding-left: 10px;
}

.playlist-template div div.column-3, .setlist-template div div.column-3 {
  padding-right: 0px;
  border-right: 0px;
}

.playlist-template div div div, .setlist-template div div div {
  width: auto;
  float: none;
  border: 0px;
  margin: 0px;
  padding: 0px 0px 15px 0px;
}

.playlist-template h2 {
  border: 0px;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.playlist-template p {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  line-height: 16px;
}

.playlist-template p.author {
  font-style: italic;
  font-size: 12px;
  line-height: 16px;
}

.setlist-template .setlist-items ul {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
  margin: 0px;
}

.setlist-template .setlist-items ul li {
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  font-size: 11px;
  line-height: 15px;
  padding: 0px 0px 8px 0px;
  margin-left:0px;
}

.setlist-template ul li span.position {
  font-weight: bold;
}

.setlist-template ul li span.artist {
  font-weight: normal;
}

.setlist-template ul li span.song {
  font-style: italic;
}

/* Polls - horizontal layout */

.poll {
  background-color: #eeeeee;
  padding: 0px 10px 15px;
  border: 1px solid #d9d9d9;
  margin: 10px 0;
  clear: both;
}

.poll h3 {
  font-size: 20px;
  line-height: 22px;
  color: #333;
  padding-bottom: 8px;
  padding-right: 7px;
  padding-left: 7px;
  margin: 0px;
  text-align: center;
}

.poll p {
  color: #333;
  font-size: 12px;
  line-height: 15px;
      padding: 0px 7px;
      margin: 0px;
  text-align: left;
}

.poll p.subtitle {
  color: #333;
      padding-bottom: 7px;
      font-weight: bold;
      text-align: center;
}

.poll p.description {
      padding-bottom: 7px;
}

.poll p.results {
  text-align: center;
  font-size: 8px;
  padding: 8px 0px 0px 0px;
      clear: both;
      margin: 0px;
}

.poll p.results a {
  color: #e21e26;
  font-weight: bold;
  text-decoration: none;
}

.poll p.results a:hover {
  color: #333;
  text-decoration: none;
}

.poll .survey_wrapper {
  position: relative;
}

.poll .vote { }

.poll .vote div {
  border: 1px solid #d9d9d9;
  background-color: #fff;
  padding: 10px 8px 0px;
  text-align: center;
}

.poll .vote h2 {
  text-align: center;
  color: #333;
  padding: 0px 0px 4px 0px;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
}

ul.voteList, .article-wide ul.voteList {
  margin-bottom: 0px;
  font-size: auto;
  line-height: inherit;
}

ul.voteList li, .article-wide ul.voteList li {
  list-style: none;
  margin: 10px 8px 15px;
  padding: 0px;
}

.poll .vote ul li a {
  display: block;
  min-height: 25px;
  color: #fff;
  font: normal bold 12px/14px arial;
  padding: 5px;
        background-color: #e21e26;
  border: 1px solid #c6c6c6;
}

.poll .vote ul li a:hover {
  text-decoration: none;
  background-color: #666;
}

/* shows with external RSS archive */

.about-image {
  margin-bottom: 10px;
}

#recent-audio-widget {
  width: 200px;
  margin: 0;
}

#recent-audio-widget h4.noise {
  margin: 0 0 5px;
  background-position: 0 3px;
}

.show-feed-archive {
  padding: 5px 0;
}

.show-feed-archive h2.title {
  border-bottom: 1px solid #E21E26;
  margin: 15px 0;
  padding: 10px 0;
  font-size: 18px;
  clear: both;
}

.show-feed-archive .message {
  margin: 0 0 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid $line--light;
}

.show-feed-archive .feed-tease {
  padding: 5px 0 0;
  margin: 0 0 10px;
  border-bottom: 1px solid $line--light;
}

.show-feed-archive h2 {
  font-size: 18px;
  margin: 0 0 5px;
}

.show-feed-archive .feed-tease p {
  margin-top: 10px;
}

#recent-audio-widget .media_buttons a.button,
.show-feed-archive .media_buttons a.button {
  border: 0;
  background-position: 0 center;
  padding: 0 14px 0 20px;
}

/* Mobile Commons  */

#mobilecommons .story-headergroup {
  border-bottom: 2px solid $line--light;
  padding: 10px 0;
}

#mobile_messages {
  border-top: 2px solid #ccc;
  margin-bottom: 15px;
}

.mobile_message {
  border-bottom: 1px dotted $line--light;
  padding: 10px 2px;
}

.mobile_message h3 {
  font-size: 14px;
  font-weight: normal;
  margin: 5px 0;
}

.mobile_message h4 {
  color: #999;
  text-transform: uppercase;
  font-weight: normal;
}

/* Calendar */

@media screen and (max-width: 800px) {
  .primary_event {
    .mediumimage {
      display: none;
    }

    .text-right {
      width: 100% !important;
      float: left !important;
    }
  }
}

.primary_event {
  padding: 15px 0 !important;
  border-bottom: 1px solid $line--light;
}

#event-calendar {
  margin: 0px;
  padding: 30px 0px 0px 0px;
}

.events-calendar {
  margin: 0px 0px 15px 0px;
  padding: 0px;
  border-collapse: collapse;
  border-left: 0px solid #bfbfbf;
  border-top: 0px;
  font-size: 13px;
  color: #303030;
  text-align: center;
  background-color: #fff;
}

.events-calendar td, .events-calendar th  {
  border-left: 1px solid #bfbfbf;
}

.events-calendar caption {
  padding: 0px;
  margin-bottom: 0px;
  border: 1px solid #bfbfbf;
  border-collapse: collapse;
  background-color: #F6F6F6;
  color: #333;
  font-weight: bold;
  font-size: 12px;
  line-height: 23px;
  overflow: hidden;
}

.events-calendar caption a, .events-calendar caption .monthlink a {
  padding: 0px;
  color: #333;
  font: normal bold 12px/23px arial;
}

.events-calendar td a:link, .events-calendar td a:visited {
  background-color: #ececec;
  color: #333;
}

.events-calendar td a:hover, .events-calendar td a:active {
  color: #fff;
}

/* Edit Links */

a.stf, .stfh {
  display:none;
}

a.stf[href] {
  display: block;
}

.edit-wrap {
  position: relative;
}

.edit-this {
  background-image: url('/media/img/icons/edit-grey.png')!important;
  background-repeat: no-repeat!important;
  background-position: -25px 0px;
  z-index: 1000;
}

.edit-this,
.edit-bucket, .edit-tout, .edit-blog {
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-color: transparent;
  text-indent: -9999px;
}

.edit-bucket {
  background-image: url(/assets/img/icons/edit-bucket.png);
  z-index: 1001;
  background-position: -58px 0px;
}

.edit-tout {
  background-image: url(/assets/img/icons/edit-tout.png);
  z-index: 1000;
  background-position: -48px 0px;
}

.edit-blog {
  background-image: url('/media/img/icons/edit-blog.png');
  z-index: 999;
  background-position: -48px 0px;
}

.edit-this:hover {
  background-position: 0px -14px;
  width: 62px;
}

.edit-bucket:hover {
  background-position: 0px -14px;
  width: 72px;
}

.edit-tout:hover {
  background-position: 0px -14px;
  width: 62px;
}

.edit-blog:hover {
  background-position: 0px -14px;
  width: 62px;
}

.edit-wrap.edit-top-tout .edit-bucket {
  right: 0px;
  top: 3px;
}

.edit-wrap.edit-top-tout .edit-tout {
  right: 16px;
  top: 3px;
}

.edit-wrap.edit-bottom-bucket .edit-bucket {
  right: 0px;
  top: 16px;
}

.edit-wrap.edit-bottom-bucket ul.jcarousel-list .edit-bucket {
  /*carousels drag the bucket link under hidden overlay*/
  right: none;
  left: 0;
  top:0;
}

#series-main .edit-bucket {
  right: 3px;
  top: -7px;
}

#series-main .edit-tout {
  background-image: url("/media/img/icons/edit-tout-light.png");
  top: 6px;
  right: 3px;
}

.showslider li .edit-tout {
  right: 3px;
  bottom: 3px;
  background-image: url('/media/img/icons/edit-tout-light.png');
}

.siteslider-container .edit-bucket {
  top: 5px;
  right: 5px;
  padding: 0px;
}

.siteslider ul li .edit-tout {
  right: 3px;
  bottom: 7px;
  background-image: url('/media/img/icons/edit-tout-light.png');
}

/* Graphic Feature flatpage template */

#flatpage.graphic-feature {
  width: 930px;
}

#flatpage.graphic-feature ul.grid {
  list-style: none;
  margin: 25px 0;
}

#flatpage.graphic-feature ul.grid li {
  list-style: none;
  float: left;
  padding: 0;
  margin: 3px 5px;
}

#flatpage.graphic-feature .modal-popup {
  top: 1%;
}

#flatpage.graphic-feature .modal-popup a.close {
  padding: 0 14px 0 0;
  background: url(/media/img/wnyc/close.gif) no-repeat right center;
  font-size: 9px;
  cursor: pointer;
  float: right;
  text-align: right;
}

#browser-warn {
  display: none;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); /* Not in IE7, haha */
  border: 1px solid #eed3d7;
  -webkit-border-radius: 4px; /* Nope, IE7. */
  border-radius: 4px; /* Nope, IE7. */
  color: #b94a48;
  background-color: #f2dede;
}

#browser-warn .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #c1b1b1;
  text-shadow: 0 1px 0 #ffffff; /* Nope, IE7. */
}

.simplified_wrapper #pass_through_frame {
  position: relative !important;
  left: 50%;
  width: 320px;
  margin: 4em 0 0 -160px;
  padding: 0;
  background-color: #ffffff;
  z-index: 1;
}

.sharelinks .fa-hover {
  width: 45px;
  height: 45px;
}
.sharelinks .fa-hover a:hover {
  text-decoration: none;
}
.sharelinks .fa-hover a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  @include flexbox((
    display: flex,
    align-items: center,
    justify-content: center
  ));
}
.sharelinks .fa-hover a .fa {
  width: 100%;
  font-size: 21px;
  text-align: center;
}
.sharelinks .fa-hover a:hover,
.sharelinks .fa-hover a {
  -o-transition: all 0.07s linear;
  -moz-transition: all 0.07s linear;
  -khtml-transition: all 0.07s linear;
  -webkit-transition: all 0.07s linear;
  -ms-transition: all 0.07s linear;
  transition: all 0.07s linear;
}

.sharelinks .fa-hover {
  padding: 0 3px 0 0;
}

.sharelinks .fa-hover.twitter a:hover {
  background-color: #4099FF;
  color: #FFF;
}
.sharelinks .fa-hover.twitter a {
  color: #4099FF;
  border: solid 1px #4099FF;
}

.sharelinks .fa-hover.facebook a:hover {
  background-color: #3B5998;
  color: #FFF;
}
.sharelinks .fa-hover.facebook a {
  color: #3B5998;
  border: solid 1px #3B5998;
}

.sharelinks .fa-hover.emails a:hover {
  background-color: #545454;
  color: #FFF;
}
.sharelinks .fa-hover.emails a {
  color: #545454;
  border: solid 1px #545454;
}

.sharelinks .fa-hover.twitter a {
  padding: 1px 0 0 1px;
}

.sharelinks .fa-hover.facebook a {
  font-size: 10px;
}

.sharelinks .fa-hover a i{
  margin-bottom: 2px;
  vertical-align: middle;
}

.sharelinks .fa-hover.facebook a i{
  font-size: 20px;
  padding-top: 3px;
  margin-left: -1px;
}

.sharelinks .fa-hover.twitter a i{
  padding-top: 1px;
}

.sharelinks .fa-hover.emails a i {
  font-size: 17px;
  padding-bottom: 1px;
}


.story-chunk {
  /*Adding this, as it makes comments button right below this ugly*/
  margin-bottom: 40px;
}

button {
  cursor: pointer;
}

.schedule-tabs {
  list-style: none;
  padding: 0;
}

#station-nav {
  height: 65px;

  ul.schedule-tabs li a {
    height: 30px !important;
    border-bottom: none;
  }
}

.schedule-dates,
.schedule-table {
  padding: 0;
  margin: 0;
  list-style: none;
}

#daily-schedule ul.schedule-dates {
  li.yesterday,
  li.tomorrow {
    width: 140px;
    a {
      font-size: 14px;
      font-weight: 600;
    }
  }

  li.today {
    width: 339px;
  }
}

.schedule-header > h2 {
  font-weight: 600;
}

.clearfix {
  @extend %clearfix;
}

#pass_through_frame {
  position: relative;
  left: 50%;
  width: 320px;
  margin: 4em 0 0 -160px;
  padding: 0;
}

#community {
  margin-left: 0;
  margin-right: 20px;

  #nav {
    list-style: none;
    margin: 0;
  }

  .social-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  + .grid_4 {
    margin-right: 0;
    margin-left: 20px;
  }
}
