#main.site-container {
  overflow: visible;
}

#main {
  .grid_12 {
    width: 100%;
    margin: 0;
  }
  
  .grid_9 {
    width: calc(100% - 250px);
  }
  
  #filters ul {
    list-style: none;
    margin: 5px 0 30px 0;
    padding: 0;
    
    a {
      border: none;
      font-size: 12px;
      padding: 2px 0;
      
      &:hover {
        color: $blue;
        background: none;
      }
    }
  }

  #search {
    a.search-audio {
      font-size: 12px;
      margin: 15px 0;
      border: none;
      
      &:hover {
        color: $blue;
      }
    }
    
    form {
      width: 100%;      
      margin: 0;
      padding: 0;
      @include display-flex;
      @include flex-flow(row wrap);

      .searchbox {
        @include flex(1);
        height: 42px;
        font-size: 16px;
        border-radius: 0;
        border:none;
        background: $graywhite;
      }
      
      .submit {
        background-color: white;
        
        &:hover {
          background-color: $graywhite;
        }
      }
      
      .search-audio {
        @include flex-basis(100%);
      }    
    }
  }
  
  #sort {
    width: 100%;
    margin: 0;
    font-size: 12px;
    
    ul {
      margin: 0;
      padding: 0;
      list-style: none;      
    }
    
    a {
      font-size: 12px;
      width: auto;
      border: none;
      
      &:hover {
        background: none;
        color: $blue;
      }
    }
    
    label {
      padding: 6px 0 0 0;
      color: $lightgray;
    }
  }
  
  .gsc-above-wrapper-area-container {
    display: table;
  }
  
  .gsc-thumbnail,
  .gsc-above-wrapper-area-container {
    display: none;
  }
  
  .gs-spelling {
    text-decoration: none;
  }
  
  .gsc-results {
    .gsc-cursor-box {
      .gsc-cursor-page {
        color: $blue;
        font-size: 20px;
        margin-right: 15px;
        text-decoration: none;
        
        &:hover {
          border-bottom: 1px solid $blue;
        }                
      }

      .gsc-cursor-current-page {
        color: $lightgray;
        border: none;
        font-weight: normal;       
      }
    }
    
    .gs-title *,
    .gs-title {
      text-decoration: none;
      font-size: 20px;
      color: $blue;
    }    
  }
  
  .gcsc-branding-text {
    color: $lightgray;
  }
}

@include mq($medium-only) {
  #main {
    min-height: 400px;
    
    #search { 
      &.grid_9 {
      width: 100%;
      margin: 0;
      }
      
      form {
      }
      
      .search-audio {
        display: none;
      }
    } 
       
    #filters {
      display: none;
    }
    
    .search-page,
    .search-page .search-results {
      width: 100%;
      margin: 0;
      padding: 0;
      float: none;
    }
    
    .gsc-control-cse,
    .gsc-control-cse .gsc-table-result {
      font-family: "Open Sans", sans-serif !important;
    }
    
    .gsc-above-wrapper-area {
      border: none;
    }
  } 
}
