article section {
  a {
    border-bottom: .08em solid rgba(black, .1);
  }
  
  h2 {
    margin-bottom: 1rem;
  }
  
  h3, h4 {
    margin-bottom: 0;
  }
  
  blockquote {
    border-left: 4px solid $border-light;
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: bold;
  }
}