article header#storyHeader {
  .media-body {
    font-family: "Lato", sans-serif;
    font-weight: bold;
  }
  h1 {
    margin-bottom: 22px;
  }
}

article section {
  a {
    border-bottom: .08em solid rgba(black, .1);
  }

  h2 {
    margin-bottom: 1rem;
  }

  h3, h4 {
    margin-bottom: 0;
  }

  blockquote {
    border-left: 4px solid $nearwhite;
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: bold;
  }

  .storify, p > iframe, .embedded-image {
    margin: 30px 0;
  }
}
