article header#storyHeader {
  .media-body {
    font-family: "Lato", sans-serif;
    font-weight: bold;
  }
  h1 {
    margin-bottom: 22px;
  }
}

article section {
  a {
    // Need those extra `a` styles and !important because of a django override
    border-bottom: .08em solid rgba(black, .1) !important;

    &:hover {
      border-color: $wqxrlink !important;
    }
  }
}
