#stream_launch_widget {
    .show {
        width: 55%;
    }

    #stations_wrapper .head {
        width: auto;
        height: 50px;
    }

    .head h4 {
        font-size: 10px;
        font-weight: 400;
        line-height: 19px;
        margin-bottom: 0;
    }

    .head .show-title a {
        font-size: 13px;
        font-weight: 600;
    }

    .head .item-title {
        font-size: 15px;
    }

    .head .current {
        line-height: 20px;
        font-size: 13px;
        font-weight: 700;
    }

    .util {
        font-size: 10px;
    }

    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    @include mq($small-only) {
        display: none;
    }

  .show .head a[href]:hover {
    text-decoration: none !important;
    border-bottom-color: white;
  }

  .util {
    font-size: 0.75rem;

    > .schedule,
    > .options {
      font-size: 12px;
      border: none;
    }

    .schedule-menu li a {
      width: 100%;
    }

    li a {
      font-size: 12px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  #popup-btn {
    width: 121px;
    font-weight: 600;
    font-size: 16px;
  }

  .station-entry {
    .show-title,
    .item-title {
      font-size: 12px;
      font-weight: 600;
    }
  }

  .stream-name {
    font-size: 12px;
    font-weight: 600;
  }
}
