// override legacy styles with specifity
div#stream_launch_widget {
    * {
        box-sizing: content-box;
    }

    // flex layout
    @include display-flex;
    & > button#popup-btn {
        @include flex(0 0 121px);
        width: 121px;
    }
    & > div#stations_wrapper {
        @include flex(0 0 115px);
        width: 115px;
    }
    & > div.show {
        @include flex(1);
        width: auto;
        @include display-flex;
        & > div.image {
            @include flex(0 0 50px);
            width: 50px;
        }
        & > div.head {
            @include flex(1);
            width: auto;
        }
    }
    & > div.util {
        position: static;
        @include flex(0 0 95px);
        width: 95px;
    }

    .show {
        .item-title {
          font-size: 14px;
          line-height: 23px;
          padding-left: 5px;
          font-weight: 600;
        }

    }

    .head {
        width: auto;
    }

    .head h4 {
        font-size: 10px;
        font-weight: 400;
        line-height: 19px;
        margin-bottom: 0;
    }

    .head .show-title a {
        font-size: 12px;
    }

    .head .item-title {
        font-size: 15px;
    }

    .head .current {
        line-height: 20px;
    }

    .util {
        font-size: 10px;
    }

    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    @include mq($small-only) {
        display: none;
    }
}

#stream_launch_widget .show .head a[href]:hover {
  text-decoration: none !important;
  border-bottom-color: white;
}

