#stream_launch_widget {
    * {
        box-sizing: content-box;
    }

    .show {
        width: 55%;
    }

    .head {
        width: auto;
    }

    .head h4 {
        font-size: 10px;
        font-weight: 400;
        line-height: 19px;
        margin-bottom: 0;
    }

    .head .show-title a {
        font-size: 12px;
    }

    .head .item-title {
        font-size: 15px;
    }

    .head .current {
        line-height: 20px;
    }

    .util {
        font-size: 10px;
    }

    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    @include mq($small-only) {
        display: none;
    }

  .show .head a[href]:hover {
    text-decoration: none !important;
    border-bottom-color: white;
  }

  .util a {
    border: none;
  }

}

#popup-btn {
    width: 121px;
}

