#weather {

  max-width: 600px;
  margin: 0 auto;
  
  .h3 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  .now {
    .icon, 
    .content {
      float: left;
    }
    
    .icon {
      width: 75px;
    }
    
  }
  
  .now-data {
    clear: both;
    top: 10px;
    position: relative;
    margin-bottom: 50px;
  }
  
  ul.days li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .day {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 12px;
    margin-right: 10px;
    width: 52px;
    text-align: right;
    display: inline-block;
    
    @include mq($short-only) {
      display: block;
      text-align: left;
      width: auto;
    }
    
  }
  
  .temps {
    margin-left: 10px;
    
    @include mq($short-only) {
      display: block;
      margin: 0;
    }
    
  }
  
  .weather-credits {
    margin-bottom: 60px;
    display: block;
  }
  
  .circle {
    width: 30px;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
    top: 1px;
    position: relative;
    background: transparent url('/media/img/wnyc/wnyc_weather.png') no-repeat 0 0;
  }

  .rise {
    background-position: -245px 0;
  }

  .set {
    background-position: -288px 0;
  }

  .wanCrescent {
    background-position: 2px 0;
  }

  .lastQuarter {
    background-position: -28px 0;
  }

  .wanGibbous {
    background-position: -58px 0;
  }

  .fullMoon {
    background-position: -88px 0;
  }

  .waxGibbous {
    background-position: -118px 0;
  }

  .firstQuarter {
    background-position: -148px 0;
  }

  .waxCrescent {
    background-position: -179px 0;
  }

  .newMoon {
    background-position: -209px 0;
  }

  .wereWolf {
    background-position: -322px 0;
  }

  
}