<div class="bg-gray2 loading-gradient" style="margin-top: 25px; height: 480px; width: 100%;"></div>
<div class="bg-gray3 loading-gradient" style="height: 200px; width: 100%;"></div>
<div class="bg-gray4 loading-gradient" style="height: 500px; width: 100%;"></div>
