<div class="bg-gray1 loading-gradient" style="height: 200px;"></div>

<div class="l-full" style="border-bottom: 1px solid #f2f2f2; margin-bottom: 61px;">
  <div class="l-constrained">
    <div class="l-flexrow--mqmd">
      <div class="l-col2of3">
        <div class="flag">
          <div class="flag-image channel-logo flag-image--squeeze">
            <div class="badge squarebadge badge--mq-tomed badge--shadow bg-gray1 loading-gradient" style="height: 129px; width: 129px;"></div>
          </div>
          <!-- .flag-image -->

          <div class="flag-body">
            <div class="bg-gray1 loading-gradient" style="height: 32px; width: 70%; margin-bottom: 16px;"></div>
            <div class="thin-line"></div>
          </div>
          <!-- .flag-body -->
        </div>
      </div>
      <!-- .l-col2of3 -->

      <div class="l-col1of3 l-col--flex l-col--cv l-col--right">

        <div class="btn-group btn-group--stacked">
          <button class="btn btn--blue btn--large bg-gray1" style="width: 211px;">foo</button>
        </div>
        <!-- .btn-group -->
      </div> 
      <!-- .l-col1of3 -->
    </div>
    <!-- .l-flexrow -->
           
  </div>
  <!-- .l-constrained -->
</div>

<div class="l-constrained">
  <div class="l-col2of3">
    <div class="bg-gray1" style="height: 238px; padding: 20px 25% 20px 20px; position: relative; margin-bottom: 73px;">
      <div class="bg-gray2 nudge rounded loading-gradient" style="height: 26px;"></div>
      <div class="thin-line bg-gray2 loading-gradient"></div>
      <div class="thin-line bg-gray2 loading-gradient" style="width: 80%;"></div>

      <div class="bottom" style="padding: 20px;">
        <div class="l-split flush">

          <div class="btn-group btn-group--withvr">
            <button class="btn btn--blue btn--large bg-gray2">
              <i class="fa fa-play icon--prefix--large"></i>Listen <span class="text--small dimmed">{{story.audioDurationReadable}}</span>
            </button>

            <button class="btn btn--mq-graywhite hide-on-mobile bg-gray2">
              <i class="fa fa-plus icon--prefix"></i>Queue
            </button>

            <button class="btn btn--circle btn--white medium-up js-dropdownClickable bg-gray2">
              foo
            </button>
          </div>
          <!-- .btn-group -->

        </div>
        <!-- .l-split -->
      </div>
    </div>

    <div class="l-full" style="margin-bottom: 54px;">
      <div class="bg-gray1 loading-gradient" style="display: inline-block; width: 120px; height: 20px; margin-right: 20px;"></div>
      <div class="bg-gray1 loading-gradient" style="display: inline-block; width: 120px; height: 20px; margin-right: 20px;"></div>
      <div class="bg-gray1 loading-gradient" style="display: inline-block; width: 120px; height: 20px; margin-right: 20px;"></div>
    </div>

    {{#each-in (hash one='foo' two='foo' three='foo' four='foo') as |block|}}
    <div class="flag flag--rev flush" style="margin-bottom: 50px;">
      <div class="flag-body {{if media.isSmallAndUp 'flag-body--rightpad'}}">

        <div class="bg-gray1 nudge loading-gradient" style="height: 20px;"></div>
        <div class="thin-line loading-gradient"></div>
        <div class="thin-line loading-gradient" style="width: 80%; margin-bottom: 22px;"></div>

        <div class="btn-group">
          <button class="btn btn--blue bg-gray2">
            <i class="fa fa-play icon--prefix--large"></i>Listen <span class="text--small dimmed">{{story.audioDurationReadable}}</span>
          </button>

          <button class="btn btn--mq-graywhite hide-on-mobile bg-gray2">
            <i class="fa fa-plus icon--prefix"></i>Queue
          </button>
        </div>
        <!-- .btn-group -->

      </div> <!-- .flag-body -->

      <div class="flag-image link--nodecor middle-narrow-up">
        <div class="bg-gray1 loading-gradient" style="height: 100px; width: 100px;"></div>
      </div>
      <!-- .flag-image -->

    </div><!-- .flag -->
    {{/each-in}}

  </div>

  <div class="l-col1of3">
    <div class="l-skinny">
      <div class="thin-line" style="margin-bottom: 29px;"></div>

      {{#each-in (hash foo='bar' baz='foo' bar='foo') as |block|}}
      <div class="thin-line"></div>
      {{/each-in}}
      <div class="thin-line" style="width: 75%;"></div>

    </div>
  </div>

</div>
