<div class="centennial-intro centennial-module util-centennial-lr-margins">
  <div>
    <h2>WNYC’S Centennial Celebration</h2>
  </div>
  <div class="centennial-intro__text">
    <p>WNYC launched onto the airwaves on July 8, 1924, with a bold mandate: to serve, in the words of our visionary founder Grover Whalen, as “the voice of New York.” Today, that first broadcast echoes as a credo, a challenge, and a resounding call to action.</p>
    <p>As WNYC’s Centennial approaches, we're excited to celebrate our first — and next — 100 years with you.</p>
    <p>First up: On July 8 at 7pm, Brian Lehrer will host an on-air birthday party with WNYC Archivist Andy Lanset and special friends. At approximately 8:50pm, we’ll segue into a reimagining of WNYC’s debut broadcast from 1924, starring Sarah Jones, Brooke Gladstone and John Schaefer with musical accompaniment by Arturo O’Farrill and J’Nai Bridges.</p>
    <p>That's just the beginning! Stay tuned here for Centennial programming updates. To learn more about how you can get involved, email <a href="mailto:giving@nypublicradio.org">giving@nypublicradio.org</a>.</p>
  </div>
</div>