<h3 class="social-icon-list__header">Follow WNYC</h3>
<ul class="social-icon-list__list">
  <li class="social-icon-list__item">
    <a class="social-icon-list__link"
       href="http://www.twitter.com/wnyc"
       target="_blank">
      <i class="social-icon-list__icon fa fa-twitter"></i>
    </a>
  </li>
  <li class="social-icon-list__item">
    <a class="social-icon-list__link"
       href="http://www.facebook.com/wnyc"
       target="_blank">
      <i class="social-icon-list__icon fa fa-facebook"></i>
    </a>
  </li>
  <li class="social-icon-list__item">
    <a class="social-icon-list__link"
       href="https://www.instagram.com/wnyc"
       target="_blank">
      <i class="social-icon-list__icon fa fa-instagram"></i>
    </a>
  </li>
  <li class="social-icon-list__item">
    <a class="social-icon-list__link"
       href="http://wnyc.tumblr.com/"
       target="_blank">
      <i class="social-icon-list__icon fa fa-tumblr"></i>
    </a>
  </li>
</ul>