<h3 class="social-icon-list__header">Follow WQXR</h3>
<ul class="social-icon-list__list">
  <li class="social-icon-list__item">
    <a class="social-icon-list__link"
       href="http://www.twitter.com/WQXR"
       target="_blank">
      <i class="social-icon-list__icon fa fa-twitter"></i>
    </a>
  </li>
  <li class="social-icon-list__item">
    <a class="social-icon-list__link"
       href="http://www.facebook.com/WQXRClassical"
       target="_blank">
      <i class="social-icon-list__icon fa fa-facebook"></i>
    </a>
  </li>
  <li class="social-icon-list__item">
    <a class="social-icon-list__link"
       href="https://www.instagram.com/wqxr_classical/"
       target="_blank">
      <i class="social-icon-list__icon fa fa-instagram"></i>
    </a>
  </li>
  <li class="social-icon-list__item">
    <a class="social-icon-list__link"
       href="http://www.youtube.com/user/WQXRClassical"
       target="_blank">
      <i class="social-icon-list__icon fa fa-youtube"></i>
    </a>
  </li>
</ul>