<div class="design-container">
  <ul class="design-sidebar">
    <a href="#colors"><li class="first">Colors</li></a>
    <a href="#typography"><li>Typography</li></a>
    <a href="#buttons"><li>Buttons</li></a>
    <!-- <li>Forms Elements</li>
    <li>Email Templates</li>
    <li>Personas</li>
    <li>Resources</li> -->
  </ul>

  <div class="design-main">
    <!-- <section><a name="colors"></a>
      <h2>Colors</h2>
      <h3>Text</h3>
      {{design.color-card blue}}
      <h3>Borders</h3>
      <h3>Backgrounds</h3>
      <h3>Links</h3>
      <h3>Buttons</h3>
    </section> -->
    
    <section><a name="typography"></a>
      <h2>Typography</h2>
            
      <div class="font">
        <div class="h1">Make the mind more curious</div>
        <div class="font-meta">
          <div class="code">.h1</div>
          <div>32px / 41px, semibold</div>
        </div>
      </div>

      <div class="font">
        <div class="h2">Make the heart more open</div>
        <div class="font-meta">
          <div class="code">.h2</div>
          <div>24px / 34px, semibold</div>
        </div>
      </div>
      
      <div class="font">
        <div class="h3">Make the spirit more joyful STILL USING THIS??</div>
        <div class="font-meta">
          <div class="code">.h3</div>
          <div>16px / ??px, semibold</div>
        </div>
      </div>
        
      <div class="font">
        <div class="h4">Section header NOT HOW THIS LOOKS</div>
        <div class="font-meta">
          <div class="code">.h4</div>
          <div>??px / ??px / bold / uppercase</div>
        </div>
      </div>
      
    </section>
    
  </div>
</div>

<div
  