<header class="discover-setup-header">
  <div class="discover-setup-header-action">
    <button class="rounded-caps-button" {{action 'back'}}>Back</button>
  </div>
  <div class="discover-setup-header-content">
    <span class="discover-setup-title-step-count">Step 2 of 2</span>
    <h2 class="discover-setup-title-step-title h2 text--white">Pick Your Shows</h2>
    <span class="discover-setup-title-error">&nbsp;
    </span>
  </div>
  <div class="discover-setup-header-action">
    <button class="rounded-caps-button mod-filled-red" {{action 'next' currentShowSelection}}>Create Station</button>
  </div>
</header>

{{discover-show-list
  shows=model.shows
  selectedShowSlugs=model.selectedShowSlugs
  onShowsUpdated=(action (mut currentShowSelection))
}}
