<div class="l-full" style="background-color: white;">

  <div class="l-constrained">
    <div class="l-col2of3">
      <div class="l-bgimg bg-gray1" style="height: 238px;">
        <div class="flag nudge">
          <a class="flag-image inherit">
            <div class="bg-gray2 loading-gradient square-small rounded"></div>
          </a>

          <div class="flag-body">
            <div class="bg-gray2 loading-gradient nudge rounded" style="width: 73px; height: 12px;"></div>
            <div class="bg-gray2 loading-gradient rounded" style="width: 167px; height: 16px;"></div>
          </div>
          <!-- .flag-body -->
        </div>                                
        <!-- .flag -->

        <div class="bg-gray2 loading-gradient nudge rounded" style="height:32px;"></div>
        <div class="bg-gray2 loading-gradient nudge-extra rounded" style="height:32px; width: 80%;"></div>

        <div class="l-split flush">

          <div class="btn-group btn-group--withvr">
            <button class="btn btn--blue btn--large bg-gray2">
              <i class="fa fa-play icon--prefix--large"></i>Listen <span class="text--small dimmed">{{story.audioDurationReadable}}</span>
            </button>

            <button class="btn btn--mq-graywhite hide-on-mobile bg-gray2">
              <i class="fa fa-plus icon--prefix"></i>Queue
            </button>

            <button class="btn btn--circle btn--white medium-up js-dropdownClickable bg-gray2">
              foo
            </button>
          </div>
          <!-- .btn-group -->

        </div>
        <!-- .l-split -->
      </div>

      <div class="bg-gray3" style="height: 391px; margin-bottom: 47px;"></div>

      <div class="bg-gray1 loading-gradient" style="width: 80px; height: 14px; margin-bottom: 47px;"></div>

      {{#each-in (hash foo='bar' baz='foo' bar='foo') as |block|}}
      <div class="thin-line"></div>
      <div class="thin-line"></div>
      <div class="thin-line" style="width: 75%; margin-bottom: 58px;"></div>
      {{/each-in}}

    </div>
    <!-- .l-col2of3 -->

    <div class="l-col1of3">
      <div class="l-skinny">
        <div class="thin-line" style="margin-bottom: 29px;"></div>

        {{#each-in (hash foo='bar' baz='foo' bar='foo') as |block|}}
        <div class="thin-line"></div>
        {{/each-in}}
        <div class="thin-line" style="width: 75%;"></div>
      </div>
    </div>

  </div>
  <!-- .l-constrained -->
</div>
<!-- .l-full -->

