<div class="account-promo">
  <div class="account-logo">
  <a href="/">
    {{wnyc-svg icon='logo-wnyc'}}
  </a>
  </div>
  <div class="account-promo-blurb">
    <div class="account-promo-heading">THE WNYC ONLINE COMMUNITY</div>
    <div class="account-promo-text">
      <em>"I grew up listening to WNYC every single morning on the UWS while my parents got ready for work... WNYC is my favorite aspect of being a New Yorker."</em>
      <br><br>
      -Joe from Brooklyn
    </div>
  </div>
</div>
<div class="account-main">
{{yield}}
</div>