<div id="leaderboard" class="aligncenter l-constrained is-collapsed"></div>

<div class="l-constrained streams-page">
  <main class="l-col2of3">
    {{streamlist-header}}
    {{stream-list
      streams=model
      currentAudio=audio.currentId
      playState=audio.playState}}
  </main>
  <aside class="l-col1of3">
    <div class="l-skinny">
      <div id="rightRail" class="align--mq-centertoright channel-ad"></div>
    </div>
  </aside>
</div>
