{{#django-page page=model.page}}
  {{#ember-wormhole to="wnyc-ember-main"}}
      <div class="l-constrained streams-page">
        <main class="l-col2of3">
          {{streamlist-header}}
          {{stream-list
            media=media
            streams=model.streams
            currentAudio=audio.currentId
            playState=audio.playState}}
        </main>
        <aside class="l-col1of3">
          <div class="l-skinny">
            {{google-ad ad="rightRail" class="align--mq-centertoright channel-ad"}}
          </div>
        </aside>
      </div>
  {{/ember-wormhole}}
{{/django-page}}
