{{title "Listen Live to WNYC, WQXR, Q2, Operavore, NJPR and the Jonathan Channel | WNYC"}}

<div class="l-constrained streams-page">
  <main class="l-col2of3">
    {{streamlist-header}}
    {{stream-list
      streams=model
      currentAudio=audio.currentId
      playState=audio.playState}}
  </main>
  <aside class="l-col1of3">
    <div class="l-skinny">
      {{google-ad ad="rightRail" class="align--mq-centertoright channel-ad"}}
    </div>
  </aside>
</div>
