<div class="centennial-explore centennial-module">
  <div>
    <h2>Explore Centennial Content</h2>
  </div>
  <div>
    <h3>Category 1</h3>
      {{centennial/centennial-card-list items=row1}}
    <h3>Category 2</h3>
      {{centennial/centennial-card-list items=row2}}
  </div>
</div>