
{{#centennial/centennial-toggletip
button-icon="share"
button-label="Share"
}}
<ul>
  <li><i class="fa fa-facebook"></i><a class="btn" href="https://wnyc.org">X</a></li>
  <li><i class="fa fa-facebook"></i><a class="btn" href="https://wnyc.org">Facebook</a></li>
  <li><i class="fa fa-email"></i><a class="btn" href="https://wnyc.org">Email</a></li>
  <li><i class="fa fa-link"></i><a class="btn" href="https://wnyc.org">Copy Link</a></li>
</ul>
{{/centennial/centennial-toggletip}}

