
{{#centennial/centennial-toggletip
button-icon="share"
button-label="Share"
}}
<ul>
  <li><i class="fa fa-facebook"></i><a class="btn" {{action "shareX"}}>X</a></li>
  <li><i class="fa fa-facebook"></i><a class="btn" {{action "shareFacebook"}}>Facebook</a></li>
  <li><i class="fa fa-email"></i><a class="btn" href="{{mailtoUrl}}" target="_blank" rel="noopener noreferrer">Email</a></li>
  <li><i class="fa fa-link"></i><a class="btn" {{action "updateClipboard"}}>Copy Link</a></li>
</ul>
{{/centennial/centennial-toggletip}}

