<div class="centennial-legacy-giving centennial-module l-constrained">
  <div class="centennial-legacy-giving__content">
    <h2 class="centennial-legacy-giving__header">Support WNYC's Centennial!</h2> 
    <p>Join us as we celebrate this landmark anniversary, and help us stand strong for another 100 years. There are many ways to support WNYC and New York Public Radio:</p>
    <ul class="centennial-legacy-giving__list">
      <li>
        <svg></svg>
        <span><strong><a href="https://pledge.wnyc.org/" target="_blank" rel="noopenenr noreferrer">Become a member</a> or make a <a href="https://pledge.wnyc.org/" target="_blank" rel="noopenenr noreferrer">one-time donation</a> of any size.</strong></span>
      </li>
      <li>
        <svg></svg>
        <span><strong>Make a leadership gift of $50,000 or more</strong> to help meet a $5 million challenge grant from one of our leading philanthropic funders, with special recognition in NYPR’s <b>Centennial Circle</b> for supporters who make gifts of $100,000 or higher. Contact <a href="mailto:giving@nypublicradio.org">giving@nypublicradio.org</a> or 646.829.4130 to learn more.</span>
      </li>
      <li>
        <svg></svg>
        <span><strong>Join us at the <a href="https://pledge.wnyc.org/support/nypr-gala-tickets" target="_blank" rel="noopenenr noreferrer">Centennial Gala</a></strong> on Tuesday, November 19, at the Glasshouse (660 12th Avenue). The evening will feature a special anniversary program, and an afterparty with DJs and dancing.</span>
      </li>
      <li>
        <svg></svg>
        <span><strong><a href="https://legacy.nypublicradio.org/" target="_blank" rel="noopener noreferrer">Include us in your estate plans</a></strong> to help us plan for our future through our Legacy Giving Challenge: 100 Intentions for 100 Years. </span>
      </li>
    </ul>
  </div>
</div>