<div class="centennial-cta-rectangle centennial-module l-constrained">
  <div class="centennial-cta-rectangle__wrapper">
    <div class="centennial-cta-rectangle__content">
      <h3 class="centennial-cta-rectangle__header">Become a member today</h3>
      <div class="centennial-cta-rectangle__contents">
        <div class="centennial-cta-rectangle__image">
          <img alt="WNYC Centennial Commemorative Tote Bag" width="215" height="215" src="{{staticAssetPath}}img/100/centennial-tote-1x.png" srcset="{{staticAssetPath}}img/100/centennial-tote-1x.png 215w {{staticAssetPath}}img/100/centennial-tote-2x.png 430w {{staticAssetPath}}img/100/centennial-tote-3x.jpg 645w">
        </div>
        <div class="centennial-cta-rectangle__message">
          <p class="centennial-cta-rectangle__text">Listener support is WNYC's foundation. Give today so we can keep building on our legacy as an anchor of civic and cultural life in New York.</p>
          <a class="centennial-cta-rectangle__button" href="https://pledge.wnyc.org/support/wnyc?utm_source=wnyc&utm_medium=centennial-site&utm_campaign=rectangle" target="_blank" rel="noopener noreferrer" class="btn btn--black btn--heavy btn--large">Donate now</a>
        </div>
      </div>
    </div>
  </div>
</div>