{{#liquid-bind (hash queue=audio.queue.items currentAudio=audio.currentAudio playingFromQueue=playingFromQueue) as |props|}}

{{#if (and props.playingFromQueue props.currentAudio)}}
  <h3 class="queue-header">NOW PLAYING</h3>
  <div class="now-playing">
    <div class='list-item'>
      {{queue-listitem
        dataId=props.currentAudio.id
        isCurrent=true
        story=props.currentAudio
        playState=audio.playState
        playContext='queue'}}
    </div>
  </div>
  <h3 class="queue-header">UP NEXT</h3>
{{/if}}

{{#sortable-group tagName='div' classNames='list list--borderflip' onChange='reorderItems' as |group|}}
{{#each props.queue as |story index|}}
  {{#sortable-item tagName='div' classNames='list-item' model=story group=group handle=sortHandle}}
    {{queue-listitem
      dataId=story.id
      story=story
      playContext='queue'
      draggable=true
      removeAction=(action 'removeFromQueue')}}
  {{/sortable-item}}
{{else}}
  <div class="queuelist-empty">Your queue is empty! Add audio by selecting the “+ Queue” button next to the pieces that you want to add.</div>
{{/each}}
{{/sortable-group}}

{{/liquid-bind}}
