<p class='player-notification-message'>
  {{yield}}
</p>
<div class='player-notification-action'>
  <div class='player-notification-dismiss player-notification-close-icon' {{action 'dismiss'}}>
    {{nypr-svg className="nypr-player-icon" icon='close'}}
  </div>
</div>
