<header class="discover-setup-header">
  <div class="discover-setup-header-action">
    {{link-to "Cancel" 'discover.index' class="rounded-caps-button"}}
  </div>
  <div>
    <h2 class="discover-setup-title-step-title h2 text--white">Customize Your Playlist</h2>
  </div>
  <div class="discover-setup-header-action">
    <button class="rounded-caps-button mod-filled-red" {{action 'refresh' currentTopicSelection}}>Refresh Station</button>
  </div>
</header>

{{outlet}}
