{{#sticky-page-header}}
  <header class="discover-setup-header">
    <div class="discover-setup-header-action">
      {{#action-button class="discover-setup-header-cancel-button" click=(route-action 'cancel') icon="close" iconPlacement="left"}}
        Cancel
      {{/action-button}}
    </div>
    <div class="discover-setup-header-content">
      <h2 class="discover-setup-title-step-title h2 text--white">Customize Your Playlist</h2>
      <span class="discover-setup-title-error">&nbsp;
        {{if (and showError hasNotSelectedATopic) 'Please select at least one topic'}}
        {{if (and showError hasNotSelectedAShow) 'Please select at least one show'}}
      </span>
    </div>
    <div class="discover-setup-header-action">
      {{#action-button
        class=(if (not (or hasNotSelectedATopic hasNotSelectedAShow)) 'mod-filled-red')
        click=(route-action 'refresh')}}
        Refresh Playlist
      {{/action-button}}
    </div>
  </header>

  <div class="discover-setup-tab-container">
    <div class="discover-setup-tab">
      {{#link-to 'discover.edit.topics' class='discover-setup-tab-link discover-setup-tab-link-topics'}}
        Pick Topics
      {{/link-to}}
    </div>
    <div class="discover-setup-tab">
      {{#link-to 'discover.edit.shows' class='discover-setup-tab-link discover-setup-tab-link-shows'}}
        Pick Shows
      {{/link-to}}
    </div>
  </div>
{{/sticky-page-header}}

{{outlet}}
