<div class="centennial-ctas centennial-module">
  <div class="centennial-cta">
    <h2>Become a Centennial Member</h2>
  </div>
  <div class="centennial-cta">
    <h2>Download the new WNYC app</h2>
  </div>
</div>