<header class="streamlist-header">
  <h2>All Live Streams</h2>
  <nav>
  <ul>
    <li>
    {{link-to 'Help' 'djangorendered' 'audio/help'}}
    </li>
    <li>
    <a href="/feedback/" target="_blank">Give us feedback</a>
    </li>
  </ul>
  </nav>
</header>
