<div class="centennial-message centennial-module l-constrained">
  <div class="centennial-message__wrapper">
    <div class="centennial-message__text">
      <h2 class="centennial-message__header">A Message From Our President</h2>
      <p class="centennial-message__quote">“WNYC launched onto the airwaves on July 8, 1924, with a bold mandate: to serve, in the words of our visionary founder Grover Whalen, as “the voice of New York.” Today that first broadcast echoes as a credo, a challenge, and a resounding call to action.</p>
      <p class="centennial-message__quote">We hope you'll help us celebrate our first, and next, 100 years, by joining us at some of the exciting events and programs we're hosting. There are many ways to listen in, join in-person, and donate to support our public service mission."</p>
      <p class="centennial-message__attribution">– LaFontaine E. Oliver, President and CEO</p>
    </div>
    <div class="centennial-message__video">
      <div class="centennial-message__video-wrapper">
        <iframe width="919" height="517" src="https://www.youtube.com/embed/Stow2CZXh7M" title="WNYC&#39;s Centennial Celebration: A Message From Our President &amp; CEO LaFontaine Oliver" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>