<div class="centennial-message centennial-module">
  <div>
    <h2>A Note From Our President</h2>
  </div>
  <div class="centennial-message__wrapper">
    <div class="centennial-message__text">
      <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.”</p>
      <p>- LaFontaine E. Oliver, President and CEO</p>
    </div>
    <div class="centennial-message__video">
      <embed src="https://www.youtube.com/embed/1a2b3c4d5e6" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </div>
  </div>
</div>