<div class="progress-wrapper" {{action 'setPosition'}}>
  <div class="progress-bg"></div>
  <div class="progress-downloaded" style={{downloadedPercentage}}></div>
  <div class="progress-played" style={{playedPercentage}}></div>
  <div class="progress-playhead" style={{playheadPosition}}></div>
</div>
<!-- .progress-wrapper -->
