{{#if isFeatured}}
Featured!
{{else}}
<button {{action 'featureMe'}} class="js-feature-comment">Feature this Comment</button>{{/if}}
 | <a href="{{cmsUrl}}/admin/comments/wnyccomment/{{id}}" class="js-moderate-comment">Moderate</a>
