<div class="account-form">
  <h2 class="account-form-heading">Thanks for signing up!</h2>
  <p>We’ve sent an email to {{email}} to verify your email address. <a>Resend the email</a></p>

  <p>Once you click the link in your email, your account will be all set up.</p>
</div>