<div class="account-form">
  <h2 class="account-form-heading">Thanks for signing up!</h2>
  <p>We’ve sent an email to {{email}} to verify your email address. Usually, the email is sent very quickly, but in rare circumstances it could take a minute or two.</p>

  <p>The link in your email will be valid for 24 hours. Once you click the link in your email, your account will be all set up.</p>

  <p>If you don't see an email after 5 minutes, you can {{#resend-button
    target=resendEndpoint
    email=email}}
    Resend the email
  {{/resend-button }}.</p>
</div>

