{{persistent-player.backdrop
  image=currentAudio.imageMain.url
  fallbackImage=currentAudio.headers.brand.logoImage.url}}

<a class="persistent-player-feedback" href="/digital-feedback/" target="_blank">Give feedback on our new player</a>

{{#holygrail-layout as |g|}}

  {{#g.left}}
    {{persistent-player.left
      playState=audio.playState
      currentTitle=(or currentAudio.title (concat currentAudio.currentShow.showTitle ' on ' currentAudio.name))
      playOrPause=(action 'playOrPause')
      rewind=(action 'rewind')
      fastForward=(action 'fastForward')}}
  {{/g.left}}

  {{#g.center}}
    {{persistent-player.center
      currentAudio=currentAudio
      isAudiostream=isAudiostream
      position=audio.position
      duration=audio.duration
      downloaded=audio.percentLoaded
      setPosition=(action 'setPosition')}}
  {{/g.center}}

  {{#g.right}}
    {{persistent-player.right
      volume=audio.volume
      setVolume=(action 'setVolume')
      toggleMute=(action 'toggleMute')
      isMuted=audio.isMuted
      queueLength=audio.queue.items.length
      showModal=showModal
      closeModal=closeModal
      isOpenModal=isOpenModal}}
  {{/g.right}}

{{/holygrail-layout}}
