<div class="listen-ui">
  <label class="visuallyhidden" id="playpause-label">Play/Pause</label>
  {{wnyc-svg className="icon icon--play" icon="play-circle"}}
  {{wnyc-svg className="icon icon--pause" icon="pause-circle"}}
  <i class="listen-spinner"></i>
</div>
