<div class="l-constrained">
  <main class="l-col2of3">
    {{stream-playlist stream=model}}
  </main>
  <aside class="l-col1of3">
    <div class="l-skinny">
      {{google-ad ad="rightRail" class="align--mq-centertoright channel-ad"}}
    </div>
  </aside>
</div>
