<div class="l-constrained">
  <main class="l-col2of3">
    {{stream-playlist stream=model}}
  </main>
  <aside class="l-col1of3">
    <div class="l-skinny">
      {{dfp-ad
        slotClassNames="align--mq-centertoright channel-ad"
        slot="/6483581/rectangle/wnyc_rectangle"
        target="rightRail"
        sizes=(array (array 300 250) (array 300 600))}}
    </div>
  </aside>
</div>
