{{dfp-ad
  slotClassNames="is-collapsed l-constrained aligncenter leaderboard"
  slot="/6483581/leaderboard/wqxr_leaderboard"
  target="leaderboard"
  mapping=(array (array 0 (array 300 50)) (array 758 (array 728 90)) (array 1203 (array 970 415)))
  sizes=(array (array 970 415) (array 728 90) (array 300 50))}}
  
<div class="l-constrained">
  <main class="l-col2of3">
    {{stream-playlist stream=model}}
  </main>
  <aside class="l-col1of3">
    <div class="l-skinny">
      {{dfp-ad
        slotClassNames="align--mq-centertoright channel-ad"
        slot="/6483581/rectangle/wqxr_rectangle"
        target="rightRail"
        sizes=(array (array 300 250) (array 300 600))}}
    </div>
  </aside>
</div>
