<button aria-label="Listen to {{itemTitle}}" class="btn btn--blue btn--large" {{action 'listenOnDemand'}}>
    <i class="fa fa-play icon--prefix--large"></i>Listen <span class="text--small dimmed">{{duration}}</span>
</button>
