{{! show playlist with chosen stories, save story IDs in session data for return visits }}
<button class="rounded-caps-button" {{action 'edit'}}>Edit My Shows &amp; Topics</button>

{{discover-playlist stories=model.stories}}

{{outlet}}
