{{! show playlist with chosen stories, save story IDs in session data for return visits }}

{{#discover-playlist stories=model.stories onFindMore='findMore' onRemoveItem='removeItem' as |playlist|}}
  <div class="discover-playlist-header-content"> {{! for the flex layout shifts }}
    <h1 class="discover-playlist-header-title h1">Your Discover Playlist</h1>
    <h3 class="discover-playlist-header-subtitle h3">We put together some audio specifically for you, based on your favorite shows and topics. <br/>
    Sit back and just listen, or tell it what you like and don’t like - it will adapt to you.
    </h3>

    {{#if playlist.isNotStarted}}
      {{#playlist.button class="discover-playlist-header-button mod-filled-red" icon='arrow-down' iconPlacement='right'}}
        Start Listening
      {{/playlist.button}}
    {{else}}
      {{#if playlist.isPaused}}
        {{#playlist.button class="discover-playlist-header-button mod-filled-red" icon='play' iconPlacement='left'}}
          Continue Listening
        {{/playlist.button}}
      {{else}}
        {{#playlist.button class="discover-playlist-header-button mod-filled-red" icon='pause' iconPlacement='left'}}
          Pause
        {{/playlist.button}}
      {{/if}}
    {{/if}}
  </div>
  {{#link-to 'discover.edit' class="discover-edit-playlist-link"}}
    Edit My Shows & Topics
  {{/link-to}}
{{/discover-playlist}}
{{discover-feedback-button}}

{{outlet}}
