<div class="centennial-header">
    <h1 class="centennial-header_heading">
    <picture div class="centennial-header__hero">
        <source srcset="/assets/img/100/hero image-responsive-x1.jpg x1" media="(max-width: 1024px)">
        <img src="/assets/img/100/hero image-desktop-x1.jpg" alt="A Century of the New York Conversation">
    </picture>
    </h1>
    <div class="centennial-header__social util-centennial-lr-margins">
        {{nypr-social-icons title="Connect with us!" items=socialIcons}}
    </div>
</div>