{{input
  value=q
  id="search-input"
  data-input="#search-input"
  data-classTarget="#search-wrapper"
  class="promoted-layer animate-transforms js-animate-input"}}

<label for="search-input" class="promoted-layer animate-opacity js-animate-input"
    data-input="#search-input"
    data-classTarget="#search-wrapper">Search</label>
