<div class="account-promo">
  <div class="account-logo">
  <a href="/">
    {{wnyc-svg icon='logo-wnyc'}}
  </a>
  </div>
  <div class="account-promo-blurb">
    <div class="account-promo-heading">LOG IN TO WNYC</div>
    <div class="account-promo-text">Log in and get free early access to new episodes from your favorite shows.</div>
  </div>
</div>
<div class="account-main">
{{outlet}}
</div>
