<div class="l-constrained--mq-padded ">
  <div class="l-alignright">
    <button class="btn btn--blank modal-closebutton" {{action 'closeModal'}}>CLOSE
      {{wnyc-svg className="icon" icon="close"}}
    </button>
  </div>
  <!-- .l-upperright -->

  {{yield}}

</div>
