<div class="centennial-sponsor-list centennial-module l-constrained">
  <div>
    <h2>A Thank You to Our Sponsors</h2>
  </div>
  {{centennial/centennial-major-sponsor
    icon="logo-aarp-new-york"
    blurb="AARP New York City is a proud supporter of WNYC’s Centennial, helping New York’s public radio station reach thousands of engaged listeners who have made WNYC part of their daily routine."
  }}
  {{centennial/centennial-major-sponsor
    icon="logo-new-museum"
    blurb="The New Museum, reopening in 2025, is Manhattan’s only dedicated contemporary art museum and a catalyst for dialogue between artists and the public. Learn More at <a href='http://newmuseum.org' target='_blank' rel='noopener noreferrer'>http://newmuseum.org.</a>"
  }}
  {{centennial/centennial-major-sponsor
    icon="logo-new-scientist"
    blurb="Trusted Journalism since 1956."
  }}
</div>