<style>
.thin-line { background-color: #f2f2f2; height: 14px; margin-bottom: 14px; border-radius: 2px;}
.bg-gray1 { background-color: #f2f2f2; }
.bg-gray2 { background-color: #e0e0e0; }
.bg-gray3 { background-color: #fafafa; }
.bg-gray4 { background-color: #eeeeee; }
.square-small { height: 50px; width: 50px; }
.btn { color: transparent !important; border: none; }
.l-bgimg:before { background-color: transparent; }
.rounded { border-radius: 2px; }
.nudge-extra { margin-bottom: 22px; }
.white-box { background-color: white; padding: 20px; position: relative; width: 100%;}
.bottom { position: absolute; bottom: 0; left: 0; right: 0; }
.white-box .bottom { padding: 20px; }
.vertical-card { position: relative; background-color: #f2f2f2; }
.flag-image--squeeze > div { margin-top: -10px; margin-bottom: -10px; }
</style>

<div id="header" class="js-track-links" data-category="WNYC Header">
  <a id="brand-logo" href="/"><h1>WNYC</h1></a>

  <div id="header-align-bottom-wrapper">
    <button class="js-toggle-menu-v2" id="menu-button"
      data-toggleClass="navigation-open"
      data-toggleClassTarget="html"
      data-ignoreInteractionsWith="#navigation-menu">
      <div class="menu-button-bar bar-1"></div>
      <div class="menu-button-bar bar-2"></div>
      <div class="menu-button-bar bar-3"></div>
      <label id="menu-button-label">Menu</label>
    </button>

    <div id="search-wrapper">
      <button id="search-button" class="js-animate-input"
          data-input="#search-input"
          data-classTarget="#search-wrapper">
          <a href="#"><i class="fa fa-search"></i></a>
      </button>
      <form method="GET" action="/search/" id="search-form" class="promoted-layer animate-transforms">
          <input id="search-input" name="q" class="promoted-layer animate-transforms js-animate-input"
              data-input="#search-input"
              data-classTarget="#search-wrapper">
          <label for="search-input" class="promoted-layer animate-opacity js-animate-input"
              data-input="#search-input"
              data-classTarget="#search-wrapper">Search</label>
      </form>
    </div>
    <!-- #search-wrapper -->

    <div id="support-links">
        <ul id="login-wrapper"></ul>
    </div>
    <!-- #support-links -->
  </div>
  <!-- #header-align-bottom-wrapper -->
</div>
<!-- #header -->

{{partial pageTemplate}}
