{{notificationMessage}}

<a href="/settings"
    title="Change Settings"
    data-tracking-category="Persistent Player"
    data-tracking-action="Continuous Play Notification"
    data-tracking-label={{if preSwitch 'Click Through to Settings, Pre' 'Click Through to Settings, Post'}}
    class='player-notification-link'
    >
    Change Settings</a>
