
<ul>
{{#each model as |story|}}
  <li>
    <h2>{{story.title}}</h2>
    <p>
      {{story.dateLine}}
    </p>
    <p>
      {{story.itemType}}
    </p>
  </li>
{{/each}}
</ul>


  {{page-numbers
    currentPage=model.meta.pagination.page
    totalPages=model.meta.pagination.pages
    action=(action (mut page))}}
