<HeadLayout>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
</HeadLayout>
<div class="centennial-home">
  {{centennial/centennial-header}}
  {{centennial/centennial-intro}}
  {{centennial/centennial-timeline}}
</div>