<main class="l-constrained l-unconstrained--sm">
  <!-- <section>here goes the technical chunk</section> -->

  <div class="streambanner-card streambanner--light streambanner--desktop"
      style="background-image:url('https://images.unsplash.com/photo-1432163230927-a32e4fd5a326?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=')">
    <div>
      <div class="streambanner-station nudge">
          <span class="streambanner-on-air">On air now on </span>
          <select>
            <option value="wqxr">WQXR 105.9 FM</option>
            <option value="q2">Q2 Music</option>
            <option value="operavore">Operavore</option>
            <option value="jonathan">The Jonathan Channel</option>
          </select>
          <div class="arrow--down"></div>
      </div>
      <div class="streambanner-details">
        <h3 class="streambanner-title">Johannes Brahms
        <br>Waltzes, Op. 39</h3>
      </div>
      <div class="streambanner-controls">
        {{#listen-button
          class='streambanner-listenbutton nudge'
          type='blue-minion'
          state=(if (eq slug audio.currentAudio.id) audio.playState)
          itemPK=slug
          itemTitle=stream.name}}
          Listen Live
        {{/listen-button}}
        <a href="#" class="text--small text--white">Music playlist &raquo;</a>
      </div>
    </div>
  </div>

  <section class="streambanner--mobile streambanner--light"
           style="background-image:url('https://images.unsplash.com/photo-1481462585914-9f695507135e?dpr=2&auto=format&fit=crop&w=1500&h=1500&q=80&cs=tinysrgb')">
    {{#swiper-container grabCursor=true pagination=true centered=true slidesPerView=auto spaceBetween=30}}
      {{#swiper-slide}}
        <h2 class="streambanner-station">
            <div class="nudge-mini">WQXR 105.9 FM</div>
            <div class="arrow--down"></div>
        </h2>

        <div class="streambanner-details">
          <div class="streambanner-on-air">On Air Now</div>
          <h3 class="streambanner-title">Johannes Brahms
          <br>Waltzes, Op. 39</h3>
        </div>

        <div class="streambanner-controls">
          {{#listen-button
            class='streambanner-listenbutton nudge'
            type='blue-minion'
            state=(if (eq slug audio.currentAudio.id) audio.playState)
            itemPK=slug
            itemTitle=stream.name}}
            Listen Live
          {{/listen-button}}
          <a href="#" class="text--small text--white">Music playlist &raquo;</a>
        </div>
      {{/swiper-slide}}
      {{#swiper-slide}}
        <h2 class="streambanner-station">
            <div class="nudge-mini">Q2 Music</div>
            <div class="arrow--down"></div>
        </h2>

        <div class="streambanner-details">
          <div class="streambanner-on-air">On Air Now</div>
          <h3 class="streambanner-title">Angelica Negron
          <br>We (I) Said Nothing</h3>
        </div>

        <div class="streambanner-controls">
          {{#listen-button
            class='streambanner-listenbutton nudge'
            type='blue-minion'
            state=(if (eq slug audio.currentAudio.id) audio.playState)
            itemPK=slug
            itemTitle=stream.name}}
            Listen Live
          {{/listen-button}}
          <a href="#" class="text--small text--white">Music playlist &raquo;</a>
        </div>
      {{/swiper-slide}}
      {{#swiper-slide}}
        <h2 class="streambanner-station">
            <div class="nudge-mini">Operavore</div>
            <div class="arrow--down"></div>
        </h2>

        <div class="streambanner-details">
          <div class="streambanner-on-air">On Air Now</div>
          <h3 class="streambanner-title">Giuseppe Verdi
          <br>Rigoletto: Act IV: Bella figlia dell'amore</h3>
        </div>

        <div class="streambanner-controls">
          {{#listen-button
            class='streambanner-listenbutton nudge'
            type='blue-minion'
            state=(if (eq slug audio.currentAudio.id) audio.playState)
            itemPK=slug
            itemTitle=stream.name}}
            Listen Live
          {{/listen-button}}
          <a href="#" class="text--small text--white">Music playlist &raquo;</a>
        </div>
      {{/swiper-slide}}
      {{#swiper-slide}}
        <h2 class="streambanner-station">
            <div class="nudge-mini">The Jonathan Channel</div>
            <div class="arrow--down"></div>
        </h2>

        <div class="streambanner-details">
          <div class="streambanner-on-air">On Air Now</div>
          <h3 class="streambanner-title">Richard Rodgers
          <br>People Will Say We're In Love</h3>
        </div>

        <div class="streambanner-controls">
          {{#listen-button
            class='streambanner-listenbutton nudge'
            type='blue-minion'
            state=(if (eq slug audio.currentAudio.id) audio.playState)
            itemPK=slug
            itemTitle=stream.name}}
            Listen Live
          {{/listen-button}}
          <a href="#" class="text--small text--white">Music playlist &raquo;</a>
        </div>
      {{/swiper-slide}}
    {{/swiper-container}}
  </section>

  <section class="home__stories">
    {{nypr-brick-layout items=model.bucketItems}}

    <!-- BRICK LAYOUT
    {{brick-layout items=model.bucketItems}} -->

  </section>

</main>
