<main class="l-constrained l-unconstrained--sm">

  <section>here goes the technical chunk</section>

  <section class="home__liveplayer text--white">
    <div>On Air Now on
      <select>
        <option value="WQXR New York">WQXR New York</option>
        <option value="operavire">Operavore</option>
        <option value="q2music">Q2 Music</option>
        <option value="jonathan">The Jonathan Channel</option>
      </select>
    </div>
    <div>Maurice Ravel, Scenes historiques II, Op. 66 <a href="#" class="text--small text--white">Music playlist &raquo;</a></div>
    <div class="btn btn--large btn--white">Listen live</div>
  </section>

  <section class="home__stories">
    {{nypr-brick-layout items=model.bucketItems}}

    <!-- BRICK LAYOUT
    {{brick-layout items=model.bucketItems}} -->

  </section>

</main>
