<div class="l-constrained">

<div id="main" class="container_12 site-container">
<p><strong>WNYC.org is experiencing technical difficulties.  Please tune in to our stations at 93.9FM and AM820 on your radio until the issues have been resolved. Thank you for your patience.</strong></p>
</div>
</div>
