{{#account-wrapper}}
  <span class="account-togglelogin">
    <span>
      Don't have an account yet?
    </span>
    <a href="/signup" class="gtm__click-tracking-text" data-action="Authentication">
      Sign up
    </a>
  </span>

  {{nypr-account-forms/login
    siteName='WNYC'
    showSocialLogin=true
    authAPI=config.authAPI}}
{{/account-wrapper}}
