{{#account-wrapper}}
  <span class="account-togglelogin">
    <span>
      Don't have an account yet?
    </span>
    <a href="/signup">
      Sign up
    </a>
  </span>

  {{nypr-account-forms/login
    showSocialLogin=features.socialAuth
    authAPI=config.wnycAuthAPI}}
{{/account-wrapper}}
