{{#account-wrapper}}
  <span class="account-togglelogin">
    <span>
      Don't have an account yet?
    </span>
    <a href="/signup">
      Sign up
    </a>
  </span>

  {{account-login-form}}
{{/account-wrapper}}
