<div class='l-constrained'>
  <article class='user-settings'>
    <header>
      <h1 class="h1 h1--extrabold h1--mq-small">Settings</h1>
    </header>
    {{user-settings streams=model}}
  </article>
</div>
