{{#account-wrapper}}
  <span class="account-togglelogin">
    <span>
      Already have an account?
    </span>
    <a href="/login">
      Log in
    </a>
  </span>

  {{nypr-account-forms/signup
    showSocialSignup=features.socialAuth
    authAPI=config.wnycAuthAPI}}
{{/account-wrapper}}
