{{#account-wrapper}}
  <span class="account-togglelogin">
    <span>
      Already have an account?
    </span>
    <a href="/login" class="gtm__click-tracking" data-action="Authentication">
      Log in
    </a>
  </span>

  {{nypr-account-forms/signup
    givenName=first
    familyName=last
    email=email
    showSocialSignup=true
    authAPI=config.authAPI}}
{{/account-wrapper}}
