{{#account-wrapper}}
  <span class="account-togglelogin">
    <span>
      Already have an account?
    </span>
    <a href="/login">
      Log in
    </a>
  </span>
  
  <button class="btn btn--blue" {{action 'signupWithFb'}}>Sign Up With Facebook</button>

  {{account-signup-form}}
{{/account-wrapper}}
