<div class="wnyc_plus_gothamist_external">
  {{wnyc-svg/logo-wnyc className="logo-wnyc"}}
  &nbsp;+&nbsp;
  {{wnyc-svg/logo-gothamist-vertical className="logo-gothamist-vertical"}}
</div>

<div class="banner-text-wrapper">
  <div class="wnyc_plus_gothamist">
    {{wnyc-svg/logo-wnyc className="logo-wnyc"}}
    &nbsp;+&nbsp;
    {{wnyc-svg/logo-gothamist-vertical className="logo-gothamist-vertical"}}
  </div>
  <p class="headline">
    Your Guide to All Things NYC
  </p>

  <p class="subhead">
    Gothamist keeps you current on subways, neighborhoods, bike lanes, pizza,
    and events, with an eye for the quirky side.
  </p>

  <p class="link">Go to Gothamist.com</p>
</div>