<div class="banner-text-wrapper">
  <p class="headline">
    Your Guide to All Things NYC
  </p>

  <p class="subhead">
    Gothamist keeps you current on subways, neighborhoods, bike lanes, pizza,
    and quirky fun stuff.
  </p>

  <p class="link">
    <a href="http://gothamist.com/" target="_blank">Go to Gothamist.com</a>
  </p>
</div>