<style>
  .centennial-cta-app {
      background-image: url('{{staticAssetPath}}/img/100/app-iphone-3x.png');
      background-repeat: no-repeat;
      background-position: top right;
      background-size: contain;
  }
  @media screen and (min-width: 1220px) {
    .centennial-cta-app {
      background-size: auto 440px;
    }
  }
</style>
<a class="centennial-cta-app" href="https://www.wnyc.org/mobile" target="_blank" rel="noopener noreferrer">
  <div class="centennial-cta-app__content">
    <h3 class="centennial-cta-app__header">Listen on the go with the all new WNYC app</h3>
    <div class="centennial-cta-app__badges">
      <img width="100" height="34" src="{{staticAssetPath}}/img/100/app-store-badge-3x.png">
      <img width="131" height="50" src="{{staticAssetPath}}/img/100/google-play-badge-3x.png">
    </div>
  </div>
</a>
